Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests

.gitlab-ci.yml:

stages:
  - pre
  - lint
  - test
  - ui-test

# Workflow configuration for all jobs in this file
# Ref.: https://docs.gitlab.com/ee/ci/yaml/workflow.html
# workflow:
#   rules:
#     - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
#     - if: $CI_COMMIT_TAG
#     - if: $CI_COMMIT_BRANCH == 'develop' || $CI_COMMIT_BRANCH == 'master'

# Tags applied to all jobs
# Ref.: https://docs.gitlab.com/ee/ci/yaml/
default:
  tags:
    - macos:sonoma
    - specific:true

.run:on-code-change:
  rules:
    - changes:
      - "Datadog*/**/*" # covers any change to the SDK code, tests or setup
      - "TestUtilities/**/*"

ENV check:
  stage: pre
  script:
    - ./tools/runner-setup.sh --ios # temporary, waiting for AMI
    - make env-check

Lint:
  stage: lint
  extends:
    - .run:on-code-change
  script:
    - ./tools/runner-setup.sh --ios # temporary, waiting for AMI
    - make clean repo-setup ENV=ci
    - make lint license-check
    - make rum-models-verify sr-models-verify

Unit Tests (iOS):
  stage: test
  extends:
    - .run:on-code-change
  variables:
    OS: "latest"
    PLATFORM: "iOS Simulator"
    DEVICE: "iPhone 15 Pro"
  script:
    - ./tools/runner-setup.sh --ios # temporary, waiting for AMI
    - make clean repo-setup ENV=ci
    - make test-ios-all OS="$OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

Unit Tests (tvOS):
  stage: test
  extends:
    - .run:on-code-change
  variables:
    OS: "latest"
    PLATFORM: "tvOS Simulator"
    DEVICE: "Apple TV"
  script:
    - ./tools/runner-setup.sh --tvos # temporary, waiting for AMI
    - make clean repo-setup ENV=ci
    - make test-tvos-all OS="$OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

UI Tests:
  stage: ui-test
  extends:
    - .run:on-code-change
  rules:
    - changes:
      - "IntegrationTests/**/*"
  variables:
    OS: "latest"
    PLATFORM: "iOS Simulator"
    DEVICE: "iPhone 15 Pro"
  parallel:
    matrix:
      - TEST_PLAN:
          - Default
          - RUM
          - CrashReporting
          - NetworkInstrumentation
  script:
    - ./tools/runner-setup.sh --ios # temporary, waiting for AMI
    - make clean repo-setup ENV=ci
    - make ui-test TEST_PLAN="$TEST_PLAN" OS="$OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

RUM-4911 feat(watchdog-termination): setup trackWatchdogTermination configuration
  Datadog/Example/ExampleAppDelegate.swift
  DatadogCrashReporting/Sources/CrashReportingFeature.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Instrumentation/RUMInstrumentation.swift
  DatadogRUM/Sources/Instrumentation/WatchdogTerminations/WatchdogTerminationMonitor.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogRUM/Tests/Instrumentation/WatchdogTerminations/WatchdogTerminationMocks.swift
  DatadogRUM/Tests/Instrumentation/WatchdogTerminations/WatchdogTerminationMonitorTests.swift
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

RUM-4964 [SR] Support title font color + icon tint color on navigation bar
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/Resources/Storyboards/NavigationBars.storyboard
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/ViewControllers/NavigationBarControllers.swift
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/ViewControllers/TabbarControllers.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/SRSnapshotTests.swift
  DatadogSessionReplay/Sources/Recorder/Utilities/SystemColors.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UINavigationBarRecorder.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UINavigationBarRecorderTests.swift
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

RUM-4883 Address comment
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UITabBarRecorder.swift
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

RUM-4079 Adjust condition for running key CI jobs
  .gitlab-ci.yml
  Makefile
  tools/env_check.sh
  tools/test.sh
  tools/ui-test.sh
Due: none

RUM-4079 Update default `make` command
  Makefile
Due: none

RUM-4079 Adjust conditions for running key CI jobs
  .gitlab-ci.yml
Due: none

RUM-4079 Cleanup
  .gitlab-ci.yml
  tools/test.sh
  tools/ui-test.sh
Due: none

RUM-4079 Update `LICENSE-3rdparty.csv`
  LICENSE-3rdparty.csv
Due: none

RUM-4911 feat(watchdog-termination): ability to find most recently updated file in a dir
  DatadogCore/Sources/Core/Storage/Files/Directory.swift
  DatadogCore/Sources/Core/Storage/Files/File.swift
  DatadogCore/Tests/Datadog/Core/Persistence/Files/DirectoryTests.swift
  DatadogCore/Tests/Datadog/Core/Persistence/Files/FileTests.swift
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

RUM-4079 CR feedback
  .gitlab-ci.yml
  tools/clean.sh
  tools/env_check.sh
  tools/repo-setup/repo-setup.sh
  tools/runner-setup.sh
  tools/test.sh
  tools/ui-test.sh
Due: none

RUM-4079 Handle errors in `make clean`
  tools/clean.sh
Due: none

RUM-4911 feat(watchdog-termination): fix objc API and config name
  Datadog/Example/ExampleAppDelegate.swift
  DatadogObjc/Sources/RUM/RUM+objc.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMConfiguration.swift
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

Update Datadog.swift
  DatadogCore/Sources/Datadog.swift
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

chore: fix SPM build and add scripts to check locally
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UITabBarRecorder.swift
  DatadogWebViewTracking/Sources/ObjC/WebViewTracking+objc.swift
  Makefile
  tools/spm.sh
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

trap before error
  tools/spm.sh
Due: none

Final draft
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/Resources/Storyboards/NavigationBars.storyboard
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/ViewControllers/NavigationBarControllers.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UINavigationBarRecorder.swift
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

RUM-4964
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/Resources/Storyboards/Images.storyboard
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/Resources/Storyboards/NavigationBars.storyboard
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/Resources/Storyboards/Tabbars.storyboard
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/ViewControllers/ImagesViewControllers.swift
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/ViewControllers/NavigationBarControllers.swift
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/ViewControllers/TabbarControllers.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/SRSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testImages()-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testImages()-mask-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-embeddednavigationbarblack+nontranslucent-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-embeddednavigationbarblack+nontranslucent-mask-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-embeddednavigationbarblack+translucent-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-embeddednavigationbarblack+translucent-mask-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-embeddednavigationbardefault+nontranslucent+backgroundcolor-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-embeddednavigationbardefault+nontranslucent+backgroundcolor-mask-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-embeddednavigationbardefault+nontranslucent+bartint-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-embeddednavigationbardefault+nontranslucent+bartint-mask-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-embeddednavigationbardefault+nontranslucent-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-embeddednavigationbardefault+nontranslucent-mask-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-embeddednavigationbardefault+translucent+backgroundcolor-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-embeddednavigationbardefault+translucent+backgroundcolor-mask-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-embeddednavigationbardefault+translucent+bartint-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-embeddednavigationbardefault+translucent+bartint-mask-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-embeddednavigationbardefault+translucent-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-embeddednavigationbardefault+translucent-mask-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-navigationbars-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-navigationbars-itemTintColor-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-navigationbars-itemTintColor-mask-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testNavigationBars()-navigationbars-mask-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testTabBars()-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testTabBars()-embeddedtabbar-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testTabBars()-embeddedtabbar-mask-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testTabBars()-embeddedtabbarunselectedtintcolor-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testTabBars()-embeddedtabbarunselectedtintcolor-mask-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testTabBars()-mask-privacy.png.json
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UINavigationBarRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UITabBarRecorder.swift
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

Add watchOS platform support to Core and Logs targets
  DatadogCore/Sources/Core/Context/ApplicationStatePublisher.swift
  DatadogCore/Sources/Core/Upload/BackgroundTaskCoordinator.swift
  DatadogCore/Sources/Core/Upload/FeatureUpload.swift
  DatadogCore/Sources/Core/Upload/URLSessionClient.swift
  DatadogCore/Sources/Kronos/KronosDNSResolver.swift
  DatadogInternal/Sources/Context/AppState.swift
  DatadogInternal/Sources/Context/ApplicationNotifications.swift
  DatadogInternal/Sources/Context/DeviceInfo.swift
  DatadogInternal/Sources/Context/DeviceProtocol.swift
  DatadogInternal/Sources/DD.swift
  DatadogInternal/Sources/NetworkInstrumentation/URLSession/URLSessionTask+Tracking.swift
  DatadogInternal/Sources/Utils/UIKitExtensions.swift
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

Resolve minimum watchOS version in DeviceProtocol
  DatadogInternal/Sources/Context/DeviceInfo.swift
  DatadogInternal/Sources/Context/DeviceProtocol.swift
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

Require minimum watchOS version due to missing ApplicationNotifications
  DatadogCore.podspec
  DatadogInternal.podspec
  DatadogInternal/Sources/Context/ApplicationNotifications.swift
  DatadogInternal/Sources/Context/DeviceInfo.swift
  DatadogInternal/Sources/Context/DeviceProtocol.swift
  DatadogInternal/Sources/DD.swift
  DatadogLogs.podspec
  Package.swift
  xcconfigs/Base.xcconfig
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

RUM-4911 feat(watchdog-termination): send Watchdog Termination
  CHANGELOG.md
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogCore/Tests/Datadog/Mocks/DatadogInternal/DatadogCoreProxy.swift
  DatadogCore/Tests/Datadog/Mocks/RUMFeatureMocks.swift
  DatadogCrashReporting/Sources/Integrations/CrashReportSender.swift
  DatadogInternal/Sources/DatadogCoreProtocol.swift
  DatadogInternal/Sources/Models/CrashReporting/LaunchReport.swift
  DatadogObjc/Sources/RUM/RUMDataModels+objc.swift
  DatadogRUM/Sources/DataModels/RUMDataModels.swift
  DatadogRUM/Sources/DataModels/RUMDataModelsMapping.swift
  DatadogRUM/Sources/FatalErrorBuilder.swift
  DatadogRUM/Sources/Feature/RUMDataStore.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Instrumentation/AppHangs/ProcessIdentifier.swift
  DatadogRUM/Sources/Instrumentation/WatchdogTerminations/WatchdogTerminationAppState.swift
  DatadogRUM/Sources/Instrumentation/WatchdogTerminations/WatchdogTerminationAppStateManager.swift
  DatadogRUM/Sources/Instrumentation/WatchdogTerminations/WatchdogTerminationChecker.swift
  DatadogRUM/Sources/Instrumentation/WatchdogTerminations/WatchdogTerminationMonitor.swift
  DatadogRUM/Sources/Instrumentation/WatchdogTerminations/WatchdogTerminationReporter.swift
  DatadogRUM/Sources/Integrations/LaunchReportReceiver.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMScopeDependencies.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Tests/Instrumentation/WatchdogTerminations/WatchdogTerminationAppStateManagerTests.swift
  DatadogRUM/Tests/Instrumentation/WatchdogTerminations/WatchdogTerminationCheckerTests.swift
  DatadogRUM/Tests/Instrumentation/WatchdogTerminations/WatchdogTerminationMocks.swift
  DatadogRUM/Tests/Instrumentation/WatchdogTerminations/WatchdogTerminationMonitorTests.swift
  DatadogRUM/Tests/Mocks/RUMFeatureMocks.swift
  TestUtilities/Mocks/CoreMocks/FeatureRegistrationCoreMock.swift
  TestUtilities/Mocks/CoreMocks/PassthroughCoreMock.swift
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

Record resources while processing snapshot
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Processor/Builders/WireframesBuilder.swift
  DatadogSessionReplay/Sources/Processor/SnapshotProcessor.swift
  DatadogSessionReplay/Sources/Recorder/Recorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewRecorder.swift
  DatadogSessionReplay/Tests/Processor/Builders/WireframesBuilderTests.swift
  DatadogSessionReplay/Tests/Processor/SnapshotProcessorTests.swift
  DatadogSessionReplay/Tests/Recorder/RecorderTests.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewRecorderTests.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewWireframesBuilderTests.swift
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

Remove resources from recording result
  DatadogSessionReplay/Sources/Processor/Builders/WireframesBuilder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIDatePickerRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIPickerViewRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UITabBarRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UITextFieldRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIViewRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeSnapshot.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeSnapshotBuilder.swift
  DatadogSessionReplay/Tests/Mocks/RecorderMocks.swift
  DatadogSessionReplay/Tests/Processor/SnapshotProcessorTests.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeRecorderTests.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeSnapshotTests.swift
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

Update snapshot tests
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SnapshotTestCase.swift
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

fix: macOS build broken due to refactoring of Sysctl
  DatadogInternal/Sources/Context/DeviceInfo.swift
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

RUM-4079 Migrate tools tests to GitLab
  .gitlab-ci.yml
  Makefile
  bitrise.yml
  tools/distribution/Makefile
  tools/env-check.sh
  tools/tools-test.sh
  tools/utils/common.mk
  tools/utils/echo_color.sh
Due: none

RUM-4079 Move `http-server-mock` to `tools/`
  Datadog.xcworkspace/contents.xcworkspacedata
  IntegrationTests/IntegrationTests.xcodeproj/project.pbxproj
  IntegrationTests/IntegrationTests.xcodeproj/xcshareddata/xcschemes/IntegrationScenarios.xcscheme
  IntegrationTests/IntegrationTests.xcodeproj/xcshareddata/xcschemes/Runner iOS.xcscheme
  tools/config/generate-http-server-mock-config.sh
  tools/http-server-mock/.gitignore
  tools/http-server-mock/Package.swift
  tools/http-server-mock/README.md
  tools/http-server-mock/Sources/HTTPServerMock/Request.swift
  tools/http-server-mock/Sources/HTTPServerMock/ServerMock.swift
  tools/http-server-mock/Sources/HTTPServerMock/ServerProcessRunner.swift
  tools/http-server-mock/Sources/HTTPServerMock/ServerSession.swift
  tools/http-server-mock/Tests/HTTPServerMockTests/HTTPServerMockTests.swift
  tools/http-server-mock/python/server_address.py
  tools/http-server-mock/python/start_mock_server.py
  tools/lint/sources.swiftlint.yml
  tools/lint/tests.swiftlint.yml
  tools/tools-test.sh
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests

RUM-4079 Run smoke tests for XCFrameworks and SPM build
  .gitlab-ci.yml
  Makefile
  bitrise.yml
  dependency-manager-tests/carthage/Makefile
  dependency-manager-tests/cocoapods/Makefile
  dependency-manager-tests/xcframeworks/Makefile
  tools/runner-setup.sh
  tools/spm-build-test.sh
Due: none

RUM-4079 Simplify building SPM package schemes
  .gitlab-ci.yml
  Makefile
  tools/spm-build.sh
Due: none

RUM-4079 Run smoke tests for Cocoapods
  Makefile
  bitrise.yml
  dependency-manager-tests/cocoapods/Makefile
  dependency-manager-tests/cocoapods/Podfile.src
  tools/utils/common.mk
  tools/utils/current_git.sh
Due: none

RUM-4079 Prepare macos:ventura runner for running smoke tests
  .gitlab-ci.yml
  Makefile
  tools/env-check.sh
  tools/runner-setup.sh
  tools/smoke-test.sh
Due: none

RUM-4079 Run smoke tests for SPM and Carthage
  .gitlab-ci.yml
  Makefile
  bitrise.yml
  dependency-manager-tests/carthage/Cartfile.src
  dependency-manager-tests/carthage/Makefile
  dependency-manager-tests/spm/Makefile
  tools/runner-setup.sh
  tools/smoke-test.sh
  tools/tools-test.sh
  tools/utils/common.mk
  tools/utils/current_git.sh
Due: none

RUM-4079 Cleanup: delete macOS app scheme from SPMProject
  dependency-manager-tests/spm/App macOS/App_macOS.entitlements
  dependency-manager-tests/spm/App macOS/App_macOSApp.swift
  dependency-manager-tests/spm/App macOS/ContentView.swift
  dependency-manager-tests/spm/App macOSUITests/App_macOSUITests.swift
  dependency-manager-tests/spm/SPMProject.xcodeproj.src/project.pbxproj
  dependency-manager-tests/spm/SPMProject.xcodeproj.src/xcshareddata/xcschemes/App macOS.xcscheme
Due: none

RUM-4079 Cleanup: remove remaining tasks from bitrise.yml
  bitrise.yml
Due: none

RUM-4079 Cleanup
  .gitlab-ci.yml
  Makefile
  SmokeTests/cocoapods/Makefile
Due: none

RUM-4079 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

RUM-4079 Fix release automation for Bitrise
  bitrise.yml
Due: none

RUM-4149 [SR] Add suport for UIProgressView
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/Fixtures.swift
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/Resources/Storyboards/InputElements.storyboard
  DatadogSessionReplay/SRSnapshotTests/SRHost/MenuViewController.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/SRSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testProgressViews()-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testProgressViews()-mask-privacy.png.json
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIProgressViewRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UnsupportedViewRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeSnapshotBuilder.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UnsupportedViewRecorderTests.swift
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)

RUM-4149 Fix syntax
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIProgressViewRecorder.swift
Due: Lint, Unit Tests (iOS), Unit Tests (tvOS)
