Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

ENV check:
  stage: pre
  script:
  - ./tools/runner-setup.sh --datadog-ci
  - make env-check

Lint:
  stage: lint
  script:
  - make clean repo-setup ENV=ci
  - make lint license-check
  - make rum-models-verify sr-models-verify

Unit Tests (iOS):
  stage: test
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 15 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  - make test-ios-all OS="$DEFAULT_IOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE" USE_TEST_VISIBILITY=1

Unit Tests (tvOS):
  stage: test
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  - make test-tvos-all OS="$DEFAULT_TVOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE" USE_TEST_VISIBILITY=1

UI Tests:
  stage: ui-test
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 15 Pro
  parallel:
    matrix:
    - TEST_PLAN:
      - Default
      - RUM
      - CrashReporting
      - NetworkInstrumentation
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

SR Snapshot Tests:
  stage: ui-test
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 15
    ARTIFACTS_PATH: artifacts
  artifacts:
    paths:
    - artifacts
    expire_in: 1 week
    when: on_failure
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  ...

Tools Tests:
  stage: test
  script:
  - make clean repo-setup ENV=ci
  - make tools-test

Benchmark Build:
  stage: smoke-test
  script:
  - make benchmark-build

Smoke Tests (iOS):
  stage: smoke-test
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 15 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-ios-all OS="$DEFAULT_IOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

Smoke Tests (tvOS):
  stage: smoke-test
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-tvos-all OS="$DEFAULT_IOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

SPM Build (Swift 5.10):
  stage: smoke-test
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --iOS --tvOS --visionOS --watchOS
  - make clean repo-setup ENV=ci
  - make spm-build-ios
  - make spm-build-tvos
  - make spm-build-visionos
  - make spm-build-macos
  - make spm-build-watchos

SPM Build (Swift 5.9):
  stage: smoke-test
  tags:
  - macos:ventura
  - specific:true
  variables:
    XCODE: 15.2.0
  script:
  - ./tools/runner-setup.sh --xcode "$XCODE" --iOS --tvOS --visionOS --watchOS
  - make clean repo-setup ENV=ci
  - make spm-build-ios
  - make spm-build-tvos
  - make spm-build-visionos
  - make spm-build-macos
  ...

Added ability to block uploads on networks with "Low Data Mode" enabled
  DatadogCore/Sources/Core/Upload/DataUploadConditions.swift
  DatadogCore/Sources/Core/Upload/DataUploadWorker.swift
  DatadogCore/Sources/Core/Upload/FeatureUpload.swift
  DatadogCore/Sources/Datadog.swift
  DatadogCore/Sources/PerformancePreset.swift
  DatadogCore/Tests/Datadog/Core/Upload/DataUploadConditionsTests.swift
  DatadogInternal/Sources/Storage/PerformancePresetOverride.swift
  DatadogInternal/Sources/Upload/UploadPerformancePreset.swift
  TestUtilities/Sources/Mocks/DatadogCore/CoreMocks.swift
  TestUtilities/Sources/Mocks/DatadogInternal/UploadMocks.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Apply text and input privacy override
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIHostingViewRecorder.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add SessionReplayPrivacyOverrideView
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/Sources/SessionReplayPrivacyOverrideView.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Apply image privacy override
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/SwiftUI/SwiftUIWireframesBuilder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIHostingViewRecorder.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Forward the environment in iOS 16 / 17
  DatadogSessionReplay/Sources/SessionReplayPrivacyOverrideView.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add snapshot test
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Package.swift
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/Fixtures.swift
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/ViewControllers/SwiftUIViewWithPrivacyOverrides.swift
  DatadogSessionReplay/SRSnapshotTests/SRHost/MenuViewController.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/SRSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testSwiftUIWithPrivacyOverrides()-maskNone_images-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIHostingViewRecorder.swift
  DatadogSessionReplay/Sources/SessionReplayPrivacyOverrideView.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add documentation
  DatadogSessionReplay/Sources/SessionReplayPrivacyOverrideView.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

fix formatting issues
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Package.swift
  DatadogSessionReplay/SRSnapshotTests/SRHost/MenuViewController.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/SRSnapshotTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Inject privacy overrides SwiftUI fixture
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Package.swift
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/Fixtures.swift
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/Resources/Image+Assets.swift
  DatadogSessionReplay/SRSnapshotTests/SRHost/AppDelegate.swift
  DatadogSessionReplay/SRSnapshotTests/SRHost/MenuViewController.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests.xcodeproj/project.pbxproj
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Fixtures/SwiftUIViewWithPrivacyOverrides.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/SRSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SnapshotTestCase.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SwiftUIFixture.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Rename to SessionReplayPrivacyView
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/Fixtures.swift
  DatadogSessionReplay/SRSnapshotTests/SRHost/AppDelegate.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Fixtures/SwiftUIViewWithPrivacyOverrides.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SnapshotTestCase.swift
  DatadogSessionReplay/Sources/SessionReplayPrivacyView.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update CHANGELOG
  CHANGELOG.md
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add missing license header
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SwiftUIFixture.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix CHANGELOG
  CHANGELOG.md
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10234 Add internal telemetry for app launch logic
  Datadog/IntegrationUnitTests/Public/CoreTelemetryIntegrationTests.swift
  DatadogCore/Sources/Core/Context/LaunchInfoPublisher.swift
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogCore/Sources/Datadog.swift
  DatadogCore/Tests/Datadog/RUM/RUMMonitorTests.swift
  DatadogInternal/Sources/Context/DatadogContext.swift
  DatadogInternal/Sources/Context/LaunchInfo.swift
  DatadogRUM/Sources/Integrations/TelemetryReceiver.swift
  DatadogRUM/Sources/SDKMetrics/SessionEndedMetric.swift
  DatadogRUM/Sources/SDKMetrics/SessionEndedMetricController.swift
  DatadogRUM/Tests/Integrations/TelemetryReceiverTests.swift
  DatadogRUM/Tests/SDKMetrics/SessionEndedMetricControllerTests.swift
  DatadogRUM/Tests/SDKMetrics/SessionEndedMetricTests.swift
  TestUtilities/Sources/Mocks/DatadogInternal/DatadogContextMock.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10234 CR feedback - move "is using scene" to RUM
  Datadog/IntegrationUnitTests/Public/CoreTelemetryIntegrationTests.swift
  Datadog/IntegrationUnitTests/RUM/SDKMetrics/RUMSessionEndedMetricIntegrationTests.swift
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogCore/Sources/Datadog.swift
  DatadogInternal/Sources/Context/DatadogContext.swift
  DatadogInternal/Sources/Context/LaunchInfo.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Sources/SDKMetrics/SessionEndedMetric.swift
  DatadogRUM/Sources/SDKMetrics/SessionEndedMetricController.swift
  DatadogRUM/Tests/Integrations/TelemetryInterceptorTests.swift
  DatadogRUM/Tests/SDKMetrics/SessionEndedMetricControllerTests.swift
  DatadogRUM/Tests/SDKMetrics/SessionEndedMetricTests.swift
  TestUtilities/Sources/Mocks/DatadogInternal/DatadogContextMock.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
  TestUtilities/Sources/Mocks/SystemFrameworks/FoundationMocks.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-9988 Expand Action Tracking to other UI components
  DatadogRUM/Sources/Instrumentation/Actions/SwiftUI/LegacySwiftUIComponentDetector.swift
  DatadogRUM/Sources/Instrumentation/Actions/SwiftUI/ModernSwiftUIComponentDetector.swift
  DatadogRUM/Sources/Instrumentation/Actions/SwiftUI/SwiftUIComponentDetector.swift
  DatadogRUM/Sources/Instrumentation/Actions/UIKit/UIEventCommandFactory.swift
  DatadogRUM/Tests/Instrumentation/Actions/SwiftUIComponentDetectorTests.swift
  IntegrationTests/IntegrationScenarios/Scenarios/RUM/RUMSwiftUIAutoInstrumentationTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add privacy overrides
  BenchmarkTests/CatalogSwiftUI/ContentView.swift
  BenchmarkTests/CatalogSwiftUI/DatadogMonitor.swift
  BenchmarkTests/CatalogSwiftUI/Views/Sections/Controls/ButtonsView.swift
  BenchmarkTests/CatalogSwiftUI/Views/Sections/Controls/ImagesView.swift
  BenchmarkTests/CatalogSwiftUI/Views/Sections/Controls/TextsView.swift
  BenchmarkTests/CatalogSwiftUI/Views/Sections/View Layouts/ListsView.swift
  BenchmarkTests/Runner/Scenarios/SessionReplay/SessionReplaySwiftUI/SessionReplaySwiftUIScenario.swift
Due: Benchmark Build

Fix linter errors
  BenchmarkTests/Runner/Scenarios/SessionReplay/SessionReplaySwiftUI/SessionReplaySwiftUIScenario.swift
Due: Benchmark Build

Replace privace modifier with privacy view
  BenchmarkTests/CatalogSwiftUI/ContentView.swift
  BenchmarkTests/CatalogSwiftUI/DatadogMonitor.swift
  BenchmarkTests/CatalogSwiftUI/Views/Sections/Controls/ButtonsView.swift
  BenchmarkTests/CatalogSwiftUI/Views/Sections/Controls/ImagesView.swift
  BenchmarkTests/CatalogSwiftUI/Views/Sections/Controls/TextsView.swift
  BenchmarkTests/CatalogSwiftUI/Views/Sections/View Layouts/ListsView.swift
  BenchmarkTests/Runner/Scenarios/SessionReplay/SessionReplaySwiftUI/SessionReplaySwiftUIScenario.swift
Due: Benchmark Build

Add Network instrumentation URLSession.dataTaskPublisher test
  DatadogInternal/Tests/NetworkInstrumentation/NetworkInstrumentationFeatureTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10378 Collect battery attributes
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Sources/Core/Context/BrightnessStatusPublisher.swift
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogCore/Tests/Datadog/DatadogCore/Context/BrightnessStatusPublisherTests.swift
  DatadogInternal/Sources/Context/BrightnessStatus.swift
  DatadogInternal/Sources/Context/DatadogContext.swift
  DatadogInternal/Sources/Models/CrashReporting/CrashContext.swift
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogObjc/Sources/RUM/RUMDataModels+objc.swift
  DatadogRUM/Sources/Integrations/CrashReportReceiver.swift
  DatadogRUM/Sources/RUMEvent/RUMDeviceInfo.swift
  DatadogRUM/Tests/RUMEvent/RUMDeviceInfoTests.swift
  TestUtilities/Sources/Mocks/CrashReporting/CrashReportingFeatureMocks.swift
  TestUtilities/Sources/Mocks/DatadogInternal/DatadogContextMock.swift
  TestUtilities/Sources/Mocks/SystemFrameworks/UIKitMocks.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM 10115 Collect Locale attributes
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Sources/Core/Context/LocaleInfoPublisher.swift
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogCore/Sources/Datadog.swift
  DatadogCore/Tests/Datadog/DatadogCore/Context/LocaleInfoPublisherTests.swift
  DatadogInternal/Sources/Context/DatadogContext.swift
  DatadogInternal/Sources/Context/DeviceInfo.swift
  DatadogInternal/Sources/Context/LocaleInfo.swift
  DatadogInternal/Sources/Models/CrashReporting/CrashContext.swift
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogObjc/Sources/RUM/RUMDataModels+objc.swift
  DatadogRUM/Sources/Integrations/CrashReportReceiver.swift
  DatadogRUM/Sources/RUMEvent/RUMDeviceInfo.swift
  DatadogRUM/Tests/RUMEvent/RUMDeviceInfoTests.swift
  TestUtilities/Sources/Mocks/CrashReporting/CrashReportingFeatureMocks.swift
  TestUtilities/Sources/Mocks/DatadogInternal/DatadogContextMock.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10225 Set gitlab cache for carthage dependencies
  .gitlab-ci.yml
  Makefile
  tools/clean.sh
  tools/repo-setup/carthage-bootstrap.sh
  tools/repo-setup/repo-setup.sh
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

fix license header
  DatadogProfiler/Mach/include/mach_profiler.h
  DatadogProfiler/Mach/mach_deterministic_profiler.h
  DatadogProfiler/Mach/mach_sampling_profiler.h
  DatadogProfiler/Mach/mach_statistical_profiler.h
  DatadogProfiler/Sources/profile.pb.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10419 Refactor renderer extraction & iOS 26
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIHostingViewRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeSnapshotBuilder.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIHostingViewRecorderTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10378 Flatten BrightnessLevel property
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Sources/Core/Context/BrightnessLevelPublisher.swift
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogCore/Tests/Datadog/DatadogCore/Context/BrightnessLevelPublisherTests.swift
  DatadogInternal/Sources/Context/BrightnessLevel.swift
  DatadogInternal/Sources/Context/DatadogContext.swift
  DatadogInternal/Sources/Models/CrashReporting/CrashContext.swift
  DatadogRUM/Sources/Integrations/CrashReportReceiver.swift
  DatadogRUM/Sources/RUMEvent/RUMDeviceInfo.swift
  TestUtilities/Sources/Mocks/CrashReporting/CrashReportingFeatureMocks.swift
  TestUtilities/Sources/Mocks/DatadogInternal/DatadogContextMock.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10419 Make renderer key paths static
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIHostingViewRecorder.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10225 Create carthage sts policy
  .github/chainguard/self.carthage.sts.yaml
Due: none

Update self.carthage.sts.yaml
  .github/chainguard/self.carthage.sts.yaml
Due: none

RUM-10225 Create release sts policy
  .github/chainguard/self.release.sts.yaml
Due: none

RUM-9750: Improve Memory warnings that have stack traces
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Instrumentation/MemoryWarnings/MemoryWarningMonitor.swift
  DatadogRUM/Sources/Instrumentation/MemoryWarnings/MemoryWarningReporter.swift
  DatadogRUM/Sources/Instrumentation/RUMInstrumentation.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogRUM/Tests/Instrumentation/MemoryWarnings/MemoryWarningMocks.swift
  DatadogRUM/Tests/Instrumentation/MemoryWarnings/MemoryWarningMonitorTests.swift
  DatadogRUM/Tests/RUMTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-9750: Add `RUM.Configuration.trackMemoryWarnings` API to ObjC
  DatadogCore/Tests/Objc/ObjcAPITests/DDRUM+apiTests.m
  DatadogRUM/Sources/RUM+objc.swift
  DatadogRUM/Tests/RUMConfigurationTests.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-9750: Remove `MemoryWarning` struct
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Instrumentation/MemoryWarnings/MemoryWarning.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-9750: Update CHANGELOG.md
  CHANGELOG.md
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update self.release.sts.yaml
  .github/chainguard/self.release.sts.yaml
Due: none

RUM-10486: Add accountInfo property to DDLogEvent
  CHANGELOG.md
  DatadogObjc/Sources/Logs/LogsDataModels+objc.swift
  api-surface-objc
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
