Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *

fix ObjC generator to stop at array-item boundaries for nested struct root resolution
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  tools/rum-models-generator/Sources/CodeGeneration/Generate/Transformers/ObjcInterop/ObjcInteropType+reflection.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add filter unit tests and realistic 60-second fixture
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/DeadbandFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/FilterComparisonTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/PassThroughFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/WindowAggregateFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/input_realistic_60s.csv
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add plan 4 for iOS SDK integration
  pod/plans/4-plan-ios-sdk-integration.md
Due: none

update plan 4 to use bplasovska/timeseries branch on rum-events-format, no PR needed
  pod/plans/4-plan-ios-sdk-integration.md
Due: none

Apply CR Suggestions
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13949 add delta encoder for timeseries compression
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Timeseries/DeltaEncoder.swift
  DatadogRUM/Tests/Timeseries/DeltaEncoderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add verification strategy to plan 4
  pod/plans/4-plan-ios-sdk-integration.md
Due: none

fix function_default_parameter_at_end lint violation in RUMScopeDependencies
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMScopeDependencies.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

generate RUMTimeseriesMemoryEvent and RUMTimeseriesCpuEvent from rum-events-format bplasovska/timeseries
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13949 implement dual-flush with object and delta schemas for timeseries
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  DatadogRUM/Sources/Timeseries/DeltaEncoder.swift
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/DeltaEncoderTests.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13949 address review: overflow safety, test throws, remove pbxproj conflict artifact
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Timeseries/DeltaEncoder.swift
  DatadogRUM/Tests/Timeseries/DeltaEncoderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix wachos run
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Overflow safety on timestamp and try! in tests
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add pause/resume lifecycle support to TimeseriesSessionCollector
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add license headers to DatadogTimeseries source and test files
  DatadogTimeseries/Scripts/generate-fixture.py
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesBatcher.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesConfig.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesEventBuilder.swift
  DatadogTimeseries/Sources/DatadogTimeseries/DataProvider/CSVDataProvider.swift
  DatadogTimeseries/Sources/DatadogTimeseries/DataProvider/DataProvider.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Encoding/TimeseriesEncoder.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/Sample.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesEvent.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesName.swift
  DatadogTimeseries/Sources/DatadogTimeseries/TimeseriesPipeline.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/CSVDataProviderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/EndToEndVerificationTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/DeadbandFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/FilterComparisonTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/PassThroughFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/WindowAggregateFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/SkipSampleTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesBatcherTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEncoderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventBuilderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventModelTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesPipelineTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13949 add enableTimeseries to watchOS platform initializer in RUMConfiguration
  DatadogRUM/Sources/RUMConfiguration.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix Swift 6 SPM Build
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add fixture generator and pipeline runner scripts
  DatadogTimeseries/Scripts/generate-fixture.py
  DatadogTimeseries/Scripts/run-pipeline.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Remove more xcode project mess
  Datadog/Datadog.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

migrate standalone package DataPoint to Schema C nested data_point format
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesEventBuilder.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesEvent.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch2.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_memory_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_memory_batch2.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEncoderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventBuilderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventModelTests.swift
  DatadogTimeseries/output/deadband_cpu.ndjson
  DatadogTimeseries/output/deadband_memory.ndjson
  DatadogTimeseries/output/passthrough_cpu.ndjson
  DatadogTimeseries/output/passthrough_memory.ndjson
  DatadogTimeseries/output/window_cpu.ndjson
  DatadogTimeseries/output/window_memory.ndjson
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

update demo script with sampling strategies section
  pod/demo/01-demo-18-04.sh
Due: none

Apply CR Suggestions
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add TimeseriesSessionCollector with memory and CPU collection
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

update plan 4 to use rum-events-format generated model instead of hand-written type
  pod/plans/4-plan-ios-sdk-integration.md
Due: none

add Android timeseries SDK integration plan
  plans/ipcivr-2026-04-21-timeseries-android-integration.md
Due: none

add TimeseriesSessionCollector and wire it into RUM session lifecycle
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMScopeDependencies.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMSessionScopeTests.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13949 replace dual-flush with per-session coin flip for schema selection
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

update plan 4 with criticism findings: Schema C shape, two generated types, start(sessionID:), dedicated timer
  pod/plans/4-plan-ios-sdk-integration.md
Due: none

add plan 3 for sampling filters research
  pod/plans/3-plan-sampling-filters.md
Due: none

Register timeseries source and test files in Xcode project
  Datadog/Datadog.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add delta compression implementation plan
  plans/ipcivr-20260423-delta-compression.md
Due: none

Regenerate API surface for timeseries schema changes
  api-surface-objc
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Cache active view from message bus instead of polling context per sample tick
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix Timeseries file registration in Datadog.xcodeproj
  Datadog/Datadog.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-17879 Remove stale enableTimeseries doc comment
  DatadogRUM/Sources/RUMConfiguration.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Extract timeseriesBatchSize default into defaultTimeseriesBatchSize constant
  DatadogRUM/Sources/RUMConfiguration.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Added possibility to change batch size of Timeseries event
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMConfiguration.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix ObjC generator to resolve root swift type via swiftTypeName
  tools/rum-models-generator/Sources/CodeGeneration/Print/ObjcInteropPrinter.swift
Due: Tools Tests

Regenerate RUM models and API surface from object-v2 schema
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  api-surface-objc
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)
