Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *

[RUM-13811] Fix update-feature-docs skill directory structure
  .claude/skills/update-feature-docs/SKILL.md
Due: none

RUM-13811 Address comment + Improve script instructions
  .claude/skills/update-feature-docs/SKILL.md
  tools/feature-docs-verify.sh
Due: Tools Tests

RUM-13811 Update registries + Confluence workflow
  .claude/skills/update-feature-docs/SKILL.md
  .github/workflows/changelog-to-confluence.yaml
  tools/feature-docs-verify.sh
Due: Tools Tests

RUM-13811 Verify each doc is registered in workflow paths: AND cp block
  tools/feature-docs-verify.sh
Due: Tools Tests

RUM-13811 Fail when tracked_files references a missing path
  tools/feature-docs-verify.sh
Due: Tools Tests

RUM-13811 Fix RUM and SR doc gaps and prevent recurrence in the skill
  .claude/skills/update-feature-docs/SKILL.md
  DatadogRUM/RUM_FEATURE.md
  DatadogSessionReplay/SESSION_REPLAY_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13811 Reorder trackSlowFrames in RUM doc snippet to match init
  DatadogRUM/RUM_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix commit in SR doc
  DatadogSessionReplay/SESSION_REPLAY_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13811 Use full clone in the Feature Docs Verify GitLab job
  .gitlab-ci.yml
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13811 Rebase + add skill step for code snippet for compile-readiness + add isLegacyDetectionEnabled param
  .claude/skills/update-feature-docs/SKILL.md
  DatadogRUM/RUM_FEATURE.md
  DatadogSessionReplay/SESSION_REPLAY_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13811 Update LLM_FEATURE_DOCS_GUIDELINES doc
  docs/LLM_FEATURE_DOCS_GUIDELINES.md
Due: none

RUM-13811 Refocus guidelines as spec; tighten skill coverage
  .claude/skills/update-feature-docs/SKILL.md
  docs/LLM_FEATURE_DOCS_GUIDELINES.md
Due: none

RUM-13811 Add clean-worktree precondition and cross-feature snippet audit to skill
  .claude/skills/update-feature-docs/SKILL.md
Due: none

Update API surface
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13811 Frontmatter bump is part of every skill run
  .claude/skills/update-feature-docs/SKILL.md
  DatadogRUM/RUM_FEATURE.md
  DatadogSessionReplay/SESSION_REPLAY_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

chore: Align public RUM session IDs with event formatting
  Datadog/IntegrationUnitTests/RUM/SDKMetrics/RUMSessionEndedMetricIntegrationTests.swift
  DatadogCore/Tests/Datadog/RUM/RUMMonitorTests.swift
  DatadogCore/Tests/Objc/DDRUMMonitorTests.swift
  DatadogRUM/RUM_FEATURE.md
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitorProtocol.swift
  DatadogRUM/Tests/RUMTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update changelog
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-16395: Update RUM schema with profiling quota
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/Models/Profiling/ProfilingContext.swift
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  DatadogRUM/Sources/Integrations/TelemetryReceiver.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMAppLaunchManager.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMFeatureOperationManager.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/Utils/ProfilingContext+RUM.swift
  DatadogRUM/Tests/Integrations/TelemetryReceiverTests.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/Utils/ProfilingContextRUMTests.swift
  api-surface-objc
  api-surface-swift
  tools/rum-models-generator/Sources/CodeDecoration/RUMCodeDecorator.swift
  tools/rum-models-generator/Sources/CodeGeneration/Generate/Transformers/ObjcInterop/ObjcInteropType+reflection.swift
  tools/rum-models-generator/Sources/CodeGeneration/Print/ObjcInteropPrinter.swift
  tools/rum-models-generator/Tests/CodeGenerationTests/Print/ObjcInteropPrinterTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Address PR review feedback
  DatadogTrace/Sources/DDSpan.swift
  DatadogTrace/Sources/Span/SpanSnapshot.swift
  DatadogTrace/Tests/Span/SpanSnapshotTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

fix: Account for cpu_ticks rollover.
  CHANGELOG.md
  DatadogCore/Tests/Datadog/RUM/RUMVitals/VitalCPUReaderTests.swift
  DatadogCore/Tests/Datadog/RUM/RUMVitals/VitalInfoSamplerTests.swift
  DatadogRUM/Sources/RUMVitals/VitalCPUReader.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Set `lastReadActiveTicks` on construction
  DatadogRUM/Sources/RUMVitals/VitalCPUReader.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13810 Add Tracing feature fiile
  .github/workflows/changelog-to-confluence.yaml
  AGENTS.md
  DatadogTrace/TRACE_FEATURE.md
  docs/LLM_FEATURE_DOCS_GUIDELINES.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Apply PR suggestions
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Timeseries/DeltaEncoder.swift
  DatadogRUM/Tests/Timeseries/DeltaEncoderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13810 Rephrase Overview
  DatadogTrace/TRACE_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13810 List ObjC files + fix commit + nitpick code snippet
  DatadogTrace/TRACE_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Remove more xcode project mess
  Datadog/Datadog.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix wrong types in the objc_LogEventDevice properties definition
  CHANGELOG.md
  DatadogLogs/Sources/LogsDataModels+objc.swift
  DatadogLogs/Tests/LogsDataModels+objcTests.swift
  api-surface-objc
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13810 clarify sampled-in RUM linkage
  DatadogTrace/TRACE_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13810 tighten sampling phrasing
  DatadogTrace/TRACE_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Move device-local-clock rationale into Note block
  DatadogTrace/Sources/Span/SpanSnapshot.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix flake background sampling test
  DatadogCore/Tests/Datadog/RUM/RUMVitals/VitalInfoSamplerTests.swift
  DatadogRUM/Sources/RUMVitals/VitalInfoSampler.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13810 Avoid double urlSessionTracking enablement
  DatadogTrace/TRACE_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-4844 Update the CHANGELOG
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-4844 Add logger case to RUMErrorSource and DDRUMErrorSource
  CHANGELOG.md
  DatadogRUM/Sources/RUM+objc.swift
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitorProtocol.swift
  DatadogRUM/Tests/DataModels/RUMDataModelsMappingTests.swift
  api-surface-objc
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-4844 Apply PR suggestions
  DatadogRUM/Sources/RUM+objc.swift
  api-surface-objc
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add TimeseriesSessionCollector with memory and CPU collection
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Register timeseries source and test files in Xcode project
  Datadog/Datadog.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add pause/resume lifecycle support to TimeseriesSessionCollector
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Changes in Xcode project to build Internal, Core and Trace for macOS. Also preparing RUM for it.
  Datadog/Datadog.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Overflow safety on timestamp and try! in tests
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)
