Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Lint: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Smoke Tests (visionOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Smoke Tests (macOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *

RUM-3889 feat: Send retry information with network requests
  CHANGELOG.md
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Sources/Core/Upload/DataUploadStatus.swift
  DatadogCore/Sources/Core/Upload/DataUploadWorker.swift
  DatadogCore/Sources/Core/Upload/DataUploader.swift
  DatadogCore/Tests/Datadog/Core/Upload/DataUploadStatusTests.swift
  DatadogCore/Tests/Datadog/Core/Upload/DataUploadWorkerTests.swift
  DatadogCore/Tests/Datadog/Core/Upload/DataUploaderTests.swift
  DatadogCore/Tests/Datadog/Logs/DatadogLogsFeatureTests.swift
  DatadogCore/Tests/Datadog/Mocks/CoreMocks.swift
  DatadogCore/Tests/Datadog/Mocks/DatadogInternal/UploadMock.swift
  DatadogCore/Tests/Datadog/RUM/RUMFeatureTests.swift
  DatadogCore/Tests/Datadog/Tracing/DatadogTraceFeatureTests.swift
  DatadogInternal/Sources/Extensions/Data+Crypto.swift
  DatadogInternal/Sources/Upload/FeatureRequestBuilder.swift
  DatadogInternal/Sources/Upload/URLRequestBuilder.swift
  DatadogInternal/Tests/Extensions/Data+CryptoTests.swift
  DatadogLogs/Sources/Feature/RequestBuilder.swift
  DatadogRUM/Sources/Feature/RequestBuilder.swift
  DatadogRUM/Tests/Feature/RequestBuilderTests.swift
  DatadogSessionReplay/Sources/Feature/RequestBuilders/ResourceRequestBuilder.swift
  DatadogSessionReplay/Sources/Feature/RequestBuilders/SegmentRequestBuilder.swift
  DatadogTrace/Sources/Feature/RequestBuilder.swift
  IntegrationTests/IntegrationScenarios/Scenarios/Logging/LoggingCommonAsserts.swift
  IntegrationTests/IntegrationScenarios/Scenarios/RUM/RUMCommonAsserts.swift
  IntegrationTests/IntegrationScenarios/Scenarios/SessionReplay/SRCommonAsserts.swift
  IntegrationTests/IntegrationScenarios/Scenarios/Tracing/TracingCommonAsserts.swift
  IntegrationTests/IntegrationScenarios/UITestsHelpers.swift
  TestUtilities/Helpers/SwiftExtensions.swift
  TestUtilities/Mocks/UploadMocks.swift
  tools/http-server-mock/Sources/HTTPServerMock/Request.swift
  tools/http-server-mock/Sources/HTTPServerMock/ServerMock.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

fix test case
  DatadogRUM/Tests/Feature/RequestBuilderTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

fix compile error
  DatadogSessionReplay/Tests/Feature/RequestBuilder/ResourceRequestBuilderTests.swift
  DatadogSessionReplay/Tests/Feature/RequestBuilder/SegmentRequestBuilderTests.swift
  DatadogSessionReplay/Tests/Mocks/MockFeature.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

fix SR tests
  DatadogSessionReplay/Tests/Feature/RequestBuilder/ResourceRequestBuilderTests.swift
  DatadogSessionReplay/Tests/Feature/RequestBuilder/SegmentRequestBuilderTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

fix linter
  DatadogSessionReplay/Tests/Mocks/MockFeature.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

fix SR test case
  DatadogSessionReplay/Sources/Feature/RequestBuilders/ResourceRequestBuilder.swift
  DatadogSessionReplay/Sources/Feature/RequestBuilders/SegmentRequestBuilder.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

rebase to develop
  CHANGELOG.md
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

WIP
  .gitlab-ci.yml
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogCore iOS.xcscheme
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Fix UIColor bundle
  BenchmarkTests/UIKitCatalog/SegmentedControlViewController.swift
  BenchmarkTests/UIKitCatalog/StepperViewController.swift
  BenchmarkTests/UIKitCatalog/TextViewController.swift
Due: none

chore: Pass GitLab envs to Test Visibility
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogCore iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogCore tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogCrashReporting iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogCrashReporting tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogInternal iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogInternal tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogLogs iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogLogs tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogRUM iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogRUM tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogSessionReplay iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogTrace iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogTrace tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogWebViewTracking iOS.xcscheme
  tools/test.sh
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

chore: Bump `dd-sdk-swift-testing` to 2.5.0
  Datadog/Datadog.xcodeproj/project.pbxproj
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Update Makefile
  Makefile
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5762 Update new API
  DatadogCore/Tests/DatadogObjc/DDSessionReplayTests.swift
  DatadogCore/Tests/DatadogObjc/ObjcAPITests/DDSessionReplay+apiTests.m
  DatadogSessionReplay/Sources/SessionReplay+objc.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/SessionReplayTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5762 [SR] Add touchPrivacyLevel option
  DatadogCore/Tests/DatadogObjc/DDSessionReplayTests.swift
  DatadogCore/Tests/DatadogObjc/ObjcAPITests/DDSessionReplay+apiTests.m
  DatadogInternal/Sources/Models/SessionReplay/SessionReplayConfiguration.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SnapshotTestCase.swift
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Recorder/PrivacyLevel.swift
  DatadogSessionReplay/Sources/Recorder/Recorder.swift
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
  DatadogSessionReplay/Sources/SessionReplay+objc.swift
  DatadogSessionReplay/Sources/SessionReplay.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/Feature/RequestBuilder/JSON/SegmentJSONTests.swift
  DatadogSessionReplay/Tests/Mocks/RecorderMocks.swift
  DatadogSessionReplay/Tests/Processor/SnapshotProcessorTests.swift
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
  DatadogSessionReplay/Tests/SessionReplayTests.swift
  DatadogWebViewTracking/Tests/WebViewTrackingTests.swift
  TestUtilities/Mocks/FeatureModels/SessionReplayConfigurationMocks.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-4311: Add Logs event mapper to ObjC API
  CHANGELOG.md
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Tests/DatadogObjc/DDLogsTests.swift
  DatadogObjc/Sources/Logs/Logs+objc.swift
  DatadogObjc/Sources/Logs/LogsDataModels+objc.swift
  api-surface-objc
  api-surface-swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5760 Add textAndInputPrivacyLevel
  DatadogCore/Tests/DatadogObjc/DDSessionReplayTests.swift
  DatadogCore/Tests/DatadogObjc/ObjcAPITests/DDSessionReplay+apiTests.m
  DatadogInternal/Sources/Models/SessionReplay/SessionReplayConfiguration.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SnapshotTestCase.swift
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Recorder/PrivacyLevel.swift
  DatadogSessionReplay/Sources/Recorder/Recorder.swift
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
  DatadogSessionReplay/Sources/SessionReplay+objc.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/Feature/RequestBuilder/JSON/SegmentJSONTests.swift
  DatadogSessionReplay/Tests/Mocks/RecorderMocks.swift
  DatadogSessionReplay/Tests/Processor/SnapshotProcessorTests.swift
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
  DatadogSessionReplay/Tests/SessionReplayTests.swift
  DatadogWebViewTracking/Tests/WebViewTrackingTests.swift
  TestUtilities/Mocks/FeatureModels/SessionReplayConfigurationMocks.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Fix init
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5083 Wrap metric telemetry attributes in `MetricTelemetry` type
  DatadogInternal/Sources/Telemetry/Telemetry.swift
  DatadogRUM/Sources/Integrations/TelemetryReceiver.swift
  TestUtilities/Mocks/TelemetryMocks.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Fix lazy image SR identifier
  DatadogSessionReplay/Sources/Recorder/Utilities/UIImage+SessionReplay.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Update CHANGELOG.md
  CHANGELOG.md
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Always assume device is online on Apple Watch
  DatadogCore/Sources/Core/Upload/DataUploadConditions.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5083 Add `sampleRate` to metric telemetry message
  DatadogInternal/Sources/Telemetry/Telemetry.swift
  DatadogInternal/Tests/Telemetry/TelemetryTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5083 Make all metric sample rates explicit
  Datadog/IntegrationUnitTests/Public/CoreTelemetryIntegrationTests.swift
  DatadogCore/Sources/Core/Storage/FilesOrchestrator.swift
  DatadogRUM/Sources/SDKMetrics/SessionEndedMetricController.swift
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5083 Update tests
  Datadog/IntegrationUnitTests/Public/CoreTelemetryIntegrationTests.swift
  Datadog/IntegrationUnitTests/RUM/SDKMetrics/RUMSessionEndedMetricIntegrationTests.swift
  DatadogCore/Tests/Datadog/Mocks/RUMFeatureMocks.swift
  DatadogInternal/Tests/Telemetry/TelemetryTests.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Integrations/TelemetryReceiver.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogRUM/Sources/SDKMetrics/SessionEndedMetricController.swift
  DatadogRUM/Tests/Integrations/TelemetryInterceptorTests.swift
  DatadogRUM/Tests/Integrations/TelemetryReceiverTests.swift
  DatadogRUM/Tests/Mocks/RUMFeatureMocks.swift
  DatadogRUM/Tests/RUMTests.swift
  DatadogRUM/Tests/SDKMetrics/SessionEndedMetricControllerTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5083 chore: Lower Batch Metrics sample rate
  DatadogCore/Sources/Core/Storage/FilesOrchestrator.swift
  DatadogCore/Sources/SDKMetrics/BatchMetrics.swift
  DatadogCore/Tests/Datadog/Core/Persistence/FilesOrchestrator+MetricsTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Exclude BenchmarkTests/UIKitCatalog from license check
  tools/license/check-license.sh
Due: Tools Tests

RUM-5755 Add benchmark profiler interface
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/Benchmarks/BenchmarkProfiler.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5755 Initialize otel tracer
  BenchmarkTests/BenchmarkTests.xcodeproj/project.pbxproj
  BenchmarkTests/Benchmarks/Package.swift
  BenchmarkTests/Benchmarks/Sources/Benchmarks.swift
  BenchmarkTests/Makefile
  BenchmarkTests/Runner/AppDelegate.swift
  BenchmarkTests/Runner/BenchmarkProfiler.swift
  Package.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5083 CR feedback
  DatadogInternal/Sources/Telemetry/Telemetry.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

fix: UIKitCatalog auto version
  BenchmarkTests/BenchmarkTests.xcodeproj/project.pbxproj
  BenchmarkTests/Makefile
  BenchmarkTests/Runner/Info.plist
Due: none

RUM-5083 CR feedback: improve Method Called sample rate names
  Datadog/IntegrationUnitTests/Public/CoreTelemetryIntegrationTests.swift
  DatadogInternal/Sources/Telemetry/Telemetry.swift
  DatadogInternal/Tests/Telemetry/TelemetryTests.swift
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5083 Fix RUM tests not compiling
  DatadogRUM/Tests/Integrations/TelemetryReceiverTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

fix: Update CURRENT_PROJECT_VERSION only
  BenchmarkTests/BenchmarkTests.xcodeproj/project.pbxproj
  BenchmarkTests/Makefile
  BenchmarkTests/Runner/Info.plist
Due: none

RUM-5732 chore: cleanup deprecated podspecs
  CHANGELOG.md
  DatadogSDK.podspec
  DatadogSDKAlamofireExtension.podspec
  DatadogSDKCrashReporting.podspec
  DatadogSDKObjc.podspec
  Makefile
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Report CFBundleVersion in benchmarks
  BenchmarkTests/Runner/AppDelegate.swift
Due: none

Update Runner.xcscheme
  BenchmarkTests/BenchmarkTests.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Due: none

Add missing startRecordingImmediately parameter to SR Configuration init
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)
