Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *

Rename CoreMessageBus, conform to MessageBus, add send
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Sources/Core/CoreMessageBus.swift
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogCore/Tests/Datadog/DatadogCore/CoreMessageBusTests.swift
  DatadogCore/Tests/Datadog/DatadogCore/MessageBusTests.swift
  DatadogInternal/Sources/MessageBus/MessageBus.swift
  DatadogInternal/Tests/MessageBus/MessageBusTests.swift
  TestUtilities/Sources/Proxies/DatadogCoreProxy.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Migrate LogMessage to typed MessageBus
  DatadogCore/Tests/Datadog/FeaturesIntegration/TracingWithLoggingIntegrationTests.swift
  DatadogCore/Tests/Datadog/TracerTests.swift
  DatadogCore/Tests/Datadog/Tracing/TracingURLSessionHandlerTests.swift
  DatadogInternal/Sources/Models/Logs/LogMessage.swift
  DatadogLogs/Sources/Feature/LogsFeature.swift
  DatadogLogs/Sources/Feature/MessageReceivers.swift
  DatadogLogs/Sources/Logs.swift
  DatadogLogs/Tests/LogMessageReceiverTests.swift
  DatadogTrace/Sources/Integrations/TracingWithLoggingIntegration.swift
  TestUtilities/Sources/Mocks/DatadogLogs/LoggingFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Migrate Crash message to typed MessageBus
  DatadogCore/Sources/Core/CoreMessageBus.swift
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogCore/Tests/Datadog/CrashReporting/CrashReporterTests.swift
  DatadogCore/Tests/Datadog/RUM/Integrations/CrashReportReceiverTests.swift
  DatadogCrashReporting/Sources/CrashReportSender.swift
  DatadogCrashReporting/Tests/CrashReportSenderTests.swift
  DatadogInternal/Sources/DatadogCoreProtocol.swift
  DatadogInternal/Sources/MessageBus/MessageBus.swift
  DatadogInternal/Sources/Models/CrashReporting/Crash.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Integrations/CrashReportReceiver.swift
  DatadogRUM/Sources/RUM.swift
  DatadogRUM/Tests/RUMTests.swift
  TestUtilities/Sources/Mocks/CrashReporting/CrashReportingFeatureMocks.swift
  TestUtilities/Sources/Mocks/DatadogInternal/PassthroughCoreMock.swift
  TestUtilities/Sources/Proxies/DatadogCoreProxy.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Migrate RUMErrorMessage to typed MessageBus
  DatadogInternal/Sources/Models/RUM/RUMPayloadMessages.swift
  DatadogLogs/Sources/Logger.swift
  DatadogLogs/Sources/RemoteLogger.swift
  DatadogLogs/Tests/RemoteLoggerTests.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Integrations/ErrorMessageReceiver.swift
  DatadogRUM/Sources/RUM.swift
  DatadogRUM/Tests/Integrations/ErrorMessageReceiverTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Migrate RUMFlagEvaluationMessage to typed MessageBus
  DatadogFlags/Sources/Client/FlagsClient.swift
  DatadogFlags/Sources/Client/RUMFlagEvaluationReporter.swift
  DatadogFlags/Sources/Feature/FlagsFeature.swift
  DatadogFlags/Tests/Client/RUMFlagEvaluationReporterTests.swift
  DatadogInternal/Sources/Models/RUM/RUMPayloadMessages.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Integrations/FlagEvaluationReceiver.swift
  DatadogRUM/Sources/RUM.swift
  DatadogRUM/Tests/Integrations/FlagEvaluationReceiverTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Migrate TelemetryMessage to typed MessageBus; merge TelemetryInterceptor into TelemetryReceiver
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Sources/Core/CoreMessageBus.swift
  DatadogInternal/Sources/Telemetry/Telemetry.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Integrations/TelemetryInterceptor.swift
  DatadogRUM/Sources/Integrations/TelemetryReceiver.swift
  DatadogRUM/Sources/RUM.swift
  DatadogRUM/Tests/Integrations/TelemetryInterceptorTests.swift
  TestUtilities/Sources/Mocks/DatadogInternal/TelemetryReceiverMock.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add BusMessage conformance to crash-context payload types
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/MessageBus/MessageBus.swift
  DatadogInternal/Sources/Models/Logs/LogEventAttributes.swift
  DatadogInternal/Sources/Models/RUM/RUMDataModels+BusMessage.swift
  DatadogInternal/Sources/Models/RUM/RUMPayloadMessages.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update tests for TelemetryMessage typed MessageBus migration
  DatadogCore/Tests/Datadog/InternalProxyTests.swift
  DatadogCore/Tests/Objc/DDInternalLoggerTests.swift
  DatadogLogs/Tests/WebViewLogReceiverTests.swift
  DatadogRUM/Tests/Integrations/TelemetryReceiverTests.swift
  DatadogWebViewTracking/Tests/MessageEmitterTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Migrate crash-context payloads to typed MessageBus
  DatadogCrashReporting/Sources/CrashContextProvider.swift
  DatadogCrashReporting/Sources/CrashReporting.swift
  DatadogLogs/Sources/Logs.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Integrations/FatalErrorContextNotifier.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Upgrade PassthroughCoreMock to multi-slot typed bus
  TestUtilities/Sources/Mocks/DatadogInternal/PassthroughCoreMock.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update tests for crash-context typed MessageBus migration
  DatadogCore/Tests/Datadog/CrashReporting/CrashContext/CrashContextProviderTests.swift
  DatadogCrashReporting/Tests/CrashContextCoreProviderTests.swift
  DatadogLogs/Tests/LogsTests.swift
  DatadogRUM/Tests/Instrumentation/AppHangs/AppHangsMonitorTests.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/FatalErrorContextNotifierTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add BusMessage to DatadogContext; send via typed bus only; PassthroughMessageBusMock
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogInternal/Sources/Context/DatadogContext.swift
  TestUtilities/Sources/Mocks/DatadogInternal/PassthroughCoreMock.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Migrate DatadogContext receivers in RUM (WatchdogTermination) and SessionReplay; update tests
  DatadogCore/Tests/Datadog/CrashReporting/CrashContext/CrashContextProviderTests.swift
  DatadogCore/Tests/Datadog/Extensions/ContextSharing/ContextSharingTransformerTests.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Instrumentation/WatchdogTerminations/WatchdogTerminationMonitor.swift
  DatadogRUM/Sources/RUM.swift
  DatadogRUM/Tests/Instrumentation/WatchdogTerminations/WatchdogTerminationMonitorTests.swift
  DatadogRUM/Tests/RUMTests.swift
  DatadogSessionReplay/Sources/Feature/RUMContextReceiver.swift
  DatadogSessionReplay/Sources/Feature/RecordingComponents.swift
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/SessionReplay.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Migrate DatadogContext receiver in DatadogTrace (ContextMessageReceiver)
  DatadogCore/Tests/Datadog/Tracing/TracingURLSessionHandlerTests.swift
  DatadogTrace/Sources/Feature/MessageReceivers.swift
  DatadogTrace/Sources/Feature/TraceFeature.swift
  DatadogTrace/Sources/Trace.swift
  DatadogTrace/Tests/ContextMessageReceiverTests.swift
  DatadogTrace/Tests/TracingURLSessionHandlerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Migrate DatadogContext receivers in NetworkInstrumentation, ContextSharing, and CrashReporting
  DatadogCore/Sources/Extensions/ContextSharing/ContextSharingTransformer.swift
  DatadogCore/Sources/Extensions/CrossPlatformExtension.swift
  DatadogCrashReporting/Sources/CrashContextProvider.swift
  DatadogInternal/Sources/NetworkInstrumentation/DatadogURLSessionHandler.swift
  DatadogInternal/Sources/NetworkInstrumentation/NetworkContextProvider.swift
  DatadogInternal/Tests/NetworkInstrumentation/NetworkInstrumentationFeatureTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Simplify PassthroughMessageBusMock: use weak DatadogCoreProtocol directly
  TestUtilities/Sources/Mocks/DatadogInternal/PassthroughCoreMock.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add WebViewLogMessage, WebViewRUMMessage, WebViewRecordMessage bus types; migrate sender
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/Models/WebViewTracking/WebViewBusMessages.swift
  DatadogWebViewTracking/Sources/MessageEmitter.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Scope NetworkContextCoreProvider creation to new-feature path only
  DatadogInternal/Sources/NetworkInstrumentation/DatadogURLSessionHandler.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Migrate WebViewEventReceiver to typed MessageBus (DatadogRUM)
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Integrations/WebViewEventReceiver.swift
  DatadogRUM/Sources/RUM.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Migrate WebViewLogReceiver to typed MessageBus (DatadogLogs)
  DatadogLogs/Sources/Feature/LogsFeature.swift
  DatadogLogs/Sources/Feature/MessageReceivers.swift
  DatadogLogs/Sources/Logs.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Migrate WebViewRecordReceiver to typed MessageBus (DatadogSessionReplay)
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Feature/WebViewRecordReceiver.swift
  DatadogSessionReplay/Sources/SessionReplay.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Deprecate FeatureMessage, FeatureMessageReceiver, and related legacy bus types
  DatadogInternal/Sources/DatadogFeature.swift
  DatadogInternal/Sources/MessageBus/FeatureMessage.swift
  DatadogInternal/Sources/MessageBus/FeatureMessageReceiver.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update tests for WebView typed MessageBus migration
  DatadogCore/Tests/Datadog/Mocks/RUM/RUMFeatureMocks.swift
  DatadogCrashReporting/Tests/CrashContextCoreProviderTests.swift
  DatadogFlags/Tests/Client/FlagsClientTests.swift
  DatadogFlags/Tests/Client/RUMFlagEvaluationReporterTests.swift
  DatadogInternal/Tests/Telemetry/TelemetryTests.swift
  DatadogLogs/Tests/LogsTests.swift
  DatadogLogs/Tests/RemoteLoggerTests.swift
  DatadogLogs/Tests/WebViewLogReceiverTests.swift
  DatadogRUM/Tests/Integrations/TelemetryReceiverTests.swift
  DatadogRUM/Tests/Integrations/WebViewEventReceiverTests.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/FatalErrorContextNotifierTests.swift
  DatadogSessionReplay/Tests/Feature/RUMContextReceiverTests.swift
  DatadogSessionReplay/Tests/Feature/WebViewRecordReceiverTests.swift
  DatadogSessionReplay/Tests/SessionReplayTests.swift
  DatadogWebViewTracking/Tests/MessageEmitterTests.swift
  DatadogWebViewTracking/Tests/WebViewTrackingTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add MESSAGE_BUS.md and mark deprecated design in ARCHITECTURE.md
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/MESSAGE_BUS.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Replace preconditions with defensive clamping and add example-based tests
  DatadogTrace/Sources/DDSketch/CollapsingLowestDenseStore.swift
  DatadogTrace/Sources/DDSketch/LogarithmicMapping.swift
  DatadogTrace/Tests/DDSketch/CollapsingLowestDenseStoreTests.swift
  DatadogTrace/Tests/DDSketch/DDSketchTests.swift
  DatadogTrace/Tests/DDSketch/LogarithmicMappingTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16084] RemoteConfiguration object, inject URLSession, remove ID sanitization, propagate save errors
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogCore/Sources/Core/RemoteConfiguration.swift
  DatadogCore/Sources/Core/RemoteConfigurationCache.swift
  DatadogCore/Sources/Core/RemoteConfigurationFetcher.swift
  DatadogCore/Sources/Datadog.swift
  DatadogCore/Sources/DatadogConfiguration.swift
  DatadogCore/Tests/Datadog/Core/RemoteConfigurationCacheTests.swift
  DatadogCore/Tests/Datadog/Core/RemoteConfigurationTests.swift
  DatadogCore/Tests/Datadog/DatadogTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16084] Register RemoteConfiguration.swift and RemoteConfigurationTests.swift in Xcode project
  Datadog/Datadog.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16413] Extend rum-models-generator to support anyOf/oneOf with discriminator and const variant naming
  tools/rum-models-generator/Sources/CodeGeneration/Generate/JSONSchema.swift
  tools/rum-models-generator/Sources/CodeGeneration/Generate/JSONSchemaReader.swift
  tools/rum-models-generator/Sources/CodeGeneration/Generate/Transformers/JSON/JSONSchemaToJSONTypeTransformer.swift
  tools/rum-models-generator/Sources/CodeGeneration/Generate/Transformers/Swift/JSONToSwiftTypeTransformer.swift
  tools/rum-models-generator/Tests/CodeGenerationTests/Fixtures/fixture-schema-title-wins-over-discriminator.json
  tools/rum-models-generator/Tests/CodeGenerationTests/Fixtures/fixture-schema-with-const-union.json
  tools/rum-models-generator/Tests/CodeGenerationTests/Fixtures/fixture-schema-with-discriminator-union.json
  tools/rum-models-generator/Tests/CodeGenerationTests/Generate/Transformers/JSONSchemaToJSONTypeTransformerTests.swift
Due: Tools Tests

[RUM-16413] Update JSONSchema.swift
  tools/rum-models-generator/Sources/CodeGeneration/Generate/JSONSchema.swift
Due: Tools Tests

[RUM-16413] Add Remote Configuration (rc) convention to rum-models-generator
  tools/rum-models-generator/Sources/CodeDecoration/RCCodeDecorator.swift
  tools/rum-models-generator/Sources/rum-models-generator/GenerateRCModels.swift
  tools/rum-models-generator/Sources/rum-models-generator/main.swift
Due: Tools Tests

[RUM-16413] Generate root schema
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  DatadogSessionReplay/Sources/Models/SRDataModels.swift
  tools/rum-models-generator/Sources/CodeDecoration/RCCodeDecorator.swift
  tools/rum-models-generator/Sources/CodeGeneration/Generate/Transformers/Swift/JSONToSwiftTypeTransformer.swift
  tools/rum-models-generator/Tests/CodeGenerationTests/Generate/Transformers/JSONToSwiftTypeTransformerTests.swift
  tools/rum-models-generator/Tests/CodeGenerationTests/Utilities.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16413] Propagate $id through schema merging to deduplicate oneOf variant names
  tools/rum-models-generator/Sources/CodeGeneration/Generate/JSONSchema.swift
  tools/rum-models-generator/Sources/CodeGeneration/Generate/Transformers/JSON/JSONSchemaToJSONTypeTransformer.swift
Due: Tools Tests

[RUM-16413] Add RC models generation from dd-go rum-sdk-config schema
  DatadogInternal/Sources/Models/RC/RCDataModels.swift
  Makefile
  tools/rum-models-generator/.gitignore
  tools/rum-models-generator/run.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16413] Fix lint violations
  tools/rum-models-generator/Sources/CodeDecoration/RCCodeDecorator.swift
  tools/rum-models-generator/Sources/CodeGeneration/Generate/JSONSchema.swift
  tools/rum-models-generator/Sources/CodeGeneration/Generate/Transformers/JSON/JSONSchemaToJSONTypeTransformer.swift
Due: Tools Tests

RUM-15735: Refine aggregation worker: typed work items, std::function flush, remove recycling
  DatadogProfiling/Mach/aggregation_worker.cpp
  DatadogProfiling/Mach/dd_profiler.cpp
  DatadogProfiling/Mach/include/aggregation_worker.h
  DatadogProfiling/Mach/include/dd_profiler.h
  DatadogProfiling/Mach/include/dd_profiler_testing.h
  DatadogProfiling/Mach/include/mach_sampling_profiler.h
  DatadogProfiling/Mach/mach_sampling_profiler.cpp
  DatadogProfiling/Sources/AppLaunchProfiler.swift
  DatadogProfiling/Tests/AppLaunchProfilerTests.swift
  DatadogProfiling/Tests/DDProfilerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Revert "[RUM-16413] Generate root schema"
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  DatadogSessionReplay/Sources/Models/SRDataModels.swift
  tools/rum-models-generator/Sources/CodeDecoration/RCCodeDecorator.swift
  tools/rum-models-generator/Sources/CodeGeneration/Generate/Transformers/Swift/JSONToSwiftTypeTransformer.swift
  tools/rum-models-generator/Tests/CodeGenerationTests/Generate/Transformers/JSONToSwiftTypeTransformerTests.swift
  tools/rum-models-generator/Tests/CodeGenerationTests/Utilities.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16413] Expose RemoteConfiguration on DatadogCoreProtocol
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogInternal/Sources/DatadogCoreProtocol.swift
  DatadogInternal/Sources/Models/RC/RCDataModels.swift
  TestUtilities/Sources/Mocks/DatadogInternal/FeatureRegistrationCoreMock.swift
  TestUtilities/Sources/Mocks/DatadogInternal/PassthroughCoreMock.swift
  TestUtilities/Sources/Proxies/DatadogCoreProxy.swift
  tools/rum-models-generator/Sources/CodeDecoration/RCCodeDecorator.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16413] Add RCDataModels.swift to Xcode project
  Datadog/Datadog.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16413] Make remoteConfiguration mutable in core mocks
  TestUtilities/Sources/Mocks/DatadogInternal/FeatureRegistrationCoreMock.swift
  TestUtilities/Sources/Mocks/DatadogInternal/PassthroughCoreMock.swift
  TestUtilities/Sources/Proxies/DatadogCoreProxy.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-4011] Add optional message parameter to DDAssertDiff for consistent API with other DDAssert* helpers
  TestUtilities/Sources/Helpers/DDAssert.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)
