Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

ENV check:
  stage: pre
  script:
  - ./tools/runner-setup.sh --datadog-ci
  - make env-check

Dependency Cache:
  stage: pre
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: push
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean dependencies

Lint:
  stage: lint
  script:
  - make clean repo-setup ENV=ci
  - make lint license-check
  - make rum-models-verify sr-models-verify

Unit Tests (iOS):
  stage: test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

Unit Tests (tvOS):
  stage: test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

UI Tests:
  stage: ui-test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  parallel:
    matrix:
    - TEST_PLAN:
      - Default
      - RUM
      - CrashReporting
      - NetworkInstrumentation
  script:
  ...

SR Snapshot Tests:
  stage: ui-test
  variables:
    PLATFORM: iOS Simulator
    IOS_OS: '17.5'
    DEVICE: iPhone 15
    ARTIFACTS_PATH: artifacts
  artifacts:
    paths:
    - artifacts
    expire_in: 1 week
    when: on_failure
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  ...

Tools Tests:
  stage: test
  script:
  - make clean repo-setup ENV=ci
  - make tools-test

Benchmark Build:
  stage: smoke-test
  script:
  - make benchmark-build

Smoke Tests (iOS):
  stage: smoke-test
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-ios-all OS="$DEFAULT_IOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

Smoke Tests (tvOS):
  stage: smoke-test
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-tvos-all OS="$DEFAULT_TVOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

SPM Build (Swift 5.10):
  stage: smoke-test
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --iOS --tvOS --visionOS --watchOS
  - make clean repo-setup ENV=ci
  - make spm-build-ios
  - make spm-build-tvos
  - make spm-build-visionos
  - make spm-build-macos
  - make spm-build-watchos

RUM-13949 update timeseries schema: name const and delta resolution field
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  DatadogRUM/Sources/Timeseries/DeltaEncoder.swift
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/DeltaEncoderTests.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Random change to trigger CI
  Package.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix crash in test.
  DatadogCore/Tests/Datadog/Core/Upload/DataUploadWorkerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix intake host filtering for SDK testing sdk
  DatadogInternal/Sources/NetworkInstrumentation/NetworkInstrumentationFeature.swift
  DatadogInternal/Tests/NetworkInstrumentation/NetworkInstrumentationFeatureTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

chore: Stop injecting `DatadogSDKTesting` headers in `NetworkInstrumentationFeatureTests`
  DatadogInternal/Tests/NetworkInstrumentation/NetworkInstrumentationFeatureTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add print logging and disabled xcbeautify to obtain crash logs.
  DatadogInternal/Sources/NetworkInstrumentation/URLSession/URLSessionTaskSwizzler.swift
  tools/test.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Use DD-API-KEY header instead
  DatadogInternal/Sources/NetworkInstrumentation/NetworkInstrumentationFeature.swift
  DatadogInternal/Tests/NetworkInstrumentation/NetworkInstrumentationFeatureTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Save log as artifact.
  .gitlab-ci.yml
  tools/test.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Save log to a file this time for reals hopefully
  .gitlab-ci.yml
  tools/test.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Expand artifact saving to all platforms.
  .gitlab-ci.yml
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Save results in bundles.
  .gitlab-ci.yml
  tools/test.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Make bundles save even when tests fail…
  tools/test.sh
Due: Tools Tests

Add result bundles to unit tests when running in CI.
  .gitlab-ci.yml
  tools/test.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Documented the test script addition.
  tools/test.sh
Due: Tools Tests

Add maui as source
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogInternal/Sources/Telemetry/Telemetry.swift
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  DatadogRUM/Sources/DataModels/RUMDataModelsMapping.swift
  DatadogRUM/Sources/Integrations/TelemetryReceiver.swift
  DatadogRUM/Tests/Integrations/TelemetryReceiverTests.swift
  api-surface-objc
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

chore: skip linter during xcodebuild test and smoke test runs
  .gitlab-ci.yml
  tools/lint/run-linter.sh
  tools/smoke-test.sh
  tools/test.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update changelog
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-7292] Add layer tree recording feature flag
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/Sources/Feature/RecordingComponents.swift
  DatadogSessionReplay/Sources/Feature/RecordingController.swift
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/SessionReplayConfigurationTests.swift
  TestUtilities/Sources/Mocks/DatadogSessionReplay/FeatureFlagsMock.swift
  api-surface-swift
  tools/lint/sources.swiftlint.yml
  tools/lint/tests.swiftlint.yml
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13728: Improve Profiling flush_buffer with new Binary Image resolver
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogProfiling/Mach/binary_image_resolver.cpp
  DatadogProfiling/Mach/ctor_profiler.cpp
  DatadogProfiling/Mach/dd_pprof.cpp
  DatadogProfiling/Mach/include/binary_image_resolver.h
  DatadogProfiling/Mach/include/dd_pprof.h
  DatadogProfiling/Mach/include/mach_profiler.h
  DatadogProfiling/Mach/include/mach_sampling_profiler.h
  DatadogProfiling/Mach/include/module.modulemap
  DatadogProfiling/Mach/mach_sampling_profiler.cpp
  DatadogProfiling/Tests/BinaryImageResolverTests.swift
  DatadogProfiling/Tests/MachSamplingProfilerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13728: Initialize raw frame image metadata to safe defaults
  DatadogProfiling/Mach/mach_sampling_profiler.cpp
  DatadogProfiling/Tests/MachSamplingProfilerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13728: Expose new internal APIs using c interface
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogProfiling/Mach/binary_image_resolver.cpp
  DatadogProfiling/Mach/ctor_profiler.cpp
  DatadogProfiling/Mach/include/binary_image_resolver.h
  DatadogProfiling/Mach/include/binary_image_resolver_testing.h
  DatadogProfiling/Mach/include/module.modulemap
  DatadogProfiling/Tests/BinaryImageResolverTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13728: Avoid `filename` allocation on cache hit and miss
  DatadogProfiling/Mach/binary_image_resolver.cpp
  DatadogProfiling/Mach/ctor_profiler.cpp
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13728: Rename ctor_profiler to dd_profiler
  Datadog/Datadog.xcodeproj/project.pbxproj
  Datadog/IntegrationUnitTests/Profiling/ProfilingRUMIntegrationTests.swift
  DatadogProfiling/Mach/dd_profiler.cpp
  DatadogProfiling/Mach/include/binary_image_resolver.h
  DatadogProfiling/Mach/include/binary_image_resolver_testing.h
  DatadogProfiling/Mach/include/ctor_profiler.h
  DatadogProfiling/Mach/include/dd_pprof.h
  DatadogProfiling/Mach/include/dd_profiler.h
  DatadogProfiling/Mach/include/dd_profiler_testing.h
  DatadogProfiling/Mach/include/mach_sampling_profiler.h
  DatadogProfiling/Mach/include/module.modulemap
  DatadogProfiling/Mach/include/profile.h
  DatadogProfiling/Mach/mach_profiler.cpp
  DatadogProfiling/Sources/AppLaunchProfiler.swift
  DatadogProfiling/Sources/SDKMetrics/AppLaunchMetric.swift
  DatadogProfiling/Tests/AppLaunchProfilerTests.swift
  DatadogProfiling/Tests/CTorProfilerTests.swift
  DatadogProfiling/Tests/DDProfilerCAPITests.swift
  DatadogProfiling/Tests/DDProfilerTests.swift
  DatadogProfiling/Tests/ProfilingTest.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13728: Compress profiling payload requests
  DatadogProfiling/Sources/RequestBuilder.swift
  DatadogProfiling/Tests/RequestBuilderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13728: Prefix `dd_profiler` functions to avoid naming collisions
  Datadog/IntegrationUnitTests/Profiling/ProfilingRUMIntegrationTests.swift
  DatadogProfiling/Mach/dd_profiler.cpp
  DatadogProfiling/Mach/include/dd_profiler.h
  DatadogProfiling/Mach/include/dd_profiler_testing.h
  DatadogProfiling/Mach/include/mach_sampling_profiler.h
  DatadogProfiling/Tests/AppLaunchProfilerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14880: Add clang-tidy linting for C++ sources
  .clang-tidy
  Datadog/Datadog.xcodeproj/project.pbxproj
  Makefile
  tools/lint/run-cpp-linter.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14880: Fix C++ linting issues
  DatadogProfiling/Mach/binary_image_resolver.cpp
  DatadogProfiling/Mach/dd_profiler.cpp
  DatadogProfiling/Mach/include/mach_sampling_profiler.h
  DatadogProfiling/Mach/mach_sampling_profiler.cpp
  DatadogProfiling/Mach/profile.cpp
  DatadogProfiling/Mach/profile_pprof_packer.cpp
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14880: Fix clang-tidy resolution to support both Apple Silicon and Intel Homebrew paths
  tools/lint/run-cpp-linter.sh
Due: Tools Tests

RUM-14825: Attach `rum-mobile-events` json to the profile API call
  Datadog/Datadog.xcodeproj/project.pbxproj
  Datadog/IntegrationUnitTests/Profiling/ProfilingRUMIntegrationTests.swift
  DatadogInternal/Sources/Models/Profiling/ProfilingMessages.swift
  DatadogInternal/Sources/Models/Profiling/TTIDMessage.swift
  DatadogInternal/Sources/Models/Profiling/Vital.swift
  DatadogProfiling/Sources/AppLaunchProfiler.swift
  DatadogProfiling/Sources/Models/ProfileAttachments.swift
  DatadogProfiling/Sources/ProfileEvent.swift
  DatadogProfiling/Sources/RequestBuilder.swift
  DatadogProfiling/Tests/AppLaunchProfilerTests.swift
  DatadogProfiling/Tests/RequestBuilderTests.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMAppLaunchManager.swift
  TestUtilities/Sources/Mocks/DatadogProfiling/VitalMock.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14825: Move structs to contextualized folder
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/Models/RUM/TTIDMessage.swift
  DatadogInternal/Sources/Models/RUM/Vital.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14250: Align sampling decision on operations profiling sample rate and other improvements
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/Context/RUMContextAttributes.swift
  DatadogInternal/Sources/Models/RUM/RUMCoreContext.swift
  DatadogInternal/Sources/Models/RUM/VitalMessage.swift
  DatadogProfiling/Mach/dd_profiler.cpp
  DatadogProfiling/Mach/mach_sampling_profiler.cpp
  DatadogProfiling/Sources/AppLaunchProfiler.swift
  DatadogProfiling/Sources/ProfilingHandler.swift
  DatadogProfiling/Tests/AppLaunchProfilerTests.swift
  DatadogProfiling/Tests/ProfilingHandlerTests.swift
  DatadogRUM/Sources/RUMContext/RUMContextProvider.swift
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMAppLaunchManager.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14250: Remove `SamplingOption`
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/Models/SamplingOption+objc.swift
  DatadogInternal/Sources/Models/SamplingOption.swift
  DatadogProfiling/Sources/ProfilerFeature.swift
  DatadogProfiling/Sources/ProfilingConfiguration.swift
  DatadogProfiling/Tests/ProfilerFeatureTests.swift
  DatadogProfiling/Tests/ProfilingConfigurationTests.swift
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14250: Add distinct message bus messages to vitals
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/Models/RUM/OperationMessage.swift
  DatadogInternal/Sources/Models/RUM/TTIDMessage.swift
  DatadogProfiling/Sources/AppLaunchProfiler.swift
  DatadogProfiling/Tests/AppLaunchProfilerTests.swift
  DatadogProfiling/Tests/ProfilingHandlerTests.swift
  DatadogProfiling/Tests/RequestBuilderTests.swift
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMAppLaunchManager.swift
  TestUtilities/Sources/Mocks/DatadogProfiling/VitalMock.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14250: Improve code with PR reviews
  DatadogInternal/Sources/Models/RUM/RUMCoreContext.swift
  DatadogInternal/Sources/Models/RUM/Vital.swift
  DatadogProfiling/Mach/dd_profiler.cpp
  DatadogProfiling/Sources/AppLaunchProfiler.swift
  DatadogProfiling/Sources/Models/ProfileAttachments.swift
  DatadogProfiling/Sources/ProfilingHandler.swift
  DatadogProfiling/Tests/AppLaunchProfilerTests.swift
  DatadogRUM/Sources/RUMContext/RUMContextProvider.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14250: Update DataModels to have profiling schema
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/Models/RUM/DurationEvent.swift
  DatadogProfiling/Sources/AppLaunchProfiler.swift
  DatadogProfiling/Sources/Models/ProfileAttachments.swift
  DatadogProfiling/Sources/ProfilingConfiguration.swift
  DatadogProfiling/Sources/ProfilingHandler.swift
  DatadogProfiling/Tests/AppLaunchProfilerTests.swift
  DatadogProfiling/Tests/ProfilingHandlerTests.swift
  DatadogProfiling/Tests/RequestBuilderTests.swift
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMAppLaunchManager.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMFeatureOperationManager.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  TestUtilities/Sources/Helpers/MockNotificationCenter.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14250: Create distinct messages for RUM events
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/Models/RUM/AppHangMessage.swift
  DatadogInternal/Sources/Models/RUM/DurationEvent.swift
  DatadogInternal/Sources/Models/RUM/LongTaskMessage.swift
  DatadogProfiling/Sources/AppLaunchProfiler.swift
  DatadogProfiling/Sources/Models/ProfileAttachments.swift
  DatadogProfiling/Sources/ProfilingHandler.swift
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMAppLaunchManager.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMFeatureOperationManager.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14250: Continuous profiling for app hangs and long tasks
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/Models/RUM/AppHangMessage.swift
  DatadogInternal/Sources/Models/RUM/DurationEvent.swift
  DatadogInternal/Sources/Models/RUM/LongTaskMessage.swift
  DatadogProfiling/Sources/AppLaunchProfiler.swift
  DatadogProfiling/Sources/ContinuousProfiler.swift
  DatadogProfiling/Sources/Models/ProfilingConditions.swift
  DatadogProfiling/Sources/ProfilerFeature.swift
  DatadogProfiling/Sources/ProfilingConfiguration.swift
  DatadogProfiling/Sources/ProfilingHandler.swift
  DatadogProfiling/Tests/AppLaunchProfilerTests.swift
  DatadogProfiling/Tests/ContinuousProfilerTests.swift
  DatadogProfiling/Tests/DDProfilerTests.swift
  DatadogProfiling/Tests/ProfilingConditionsTests.swift
  DatadogProfiling/Tests/RequestBuilderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14250: Only one `ContinuousProfiler` is active at a time
  DatadogProfiling/Sources/ContinuousProfiler.swift
  DatadogProfiling/Sources/ProfilerFeature.swift
  DatadogProfiling/Tests/ContinuousProfilerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14250: Send just the start vital attached with the profile
  DatadogInternal/Sources/Models/RUM/Vital.swift
  DatadogProfiling/Sources/AppLaunchProfiler.swift
  DatadogProfiling/Sources/ContinuousProfiler.swift
  DatadogProfiling/Sources/ProfilingHandler.swift
  DatadogProfiling/Tests/AppLaunchProfilerTests.swift
  DatadogProfiling/Tests/ContinuousProfilerTests.swift
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  TestUtilities/Sources/Mocks/DatadogProfiling/VitalMock.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
