Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *

[PANA-8351] Capture tab selection backdrops on iOS 27
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayer+Semantics.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8351] Add iOS 27.0 layer snapshot references
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/SnapshotEnvironments.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testAlert()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testAlert()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testBasicControlsAndIndicators()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testSteppers()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testSwiftUIText()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testSwiftUIText()-maskAllInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testSwiftUIText()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testTab()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testTab()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testToolbar()-maskSensitiveInputs-privacy.png.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Correct fold duration evidence and prepare WebView markers
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-221-s2-resource-trace.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-221-duo-fold.json
  DatadogRUM/MultiSceneSupport/Results/S2-T10-source-preparation.json
  tools/multi-scene/acceptance/s2_webview_contract.py
  tools/multi-scene/acceptance/test_s2_webview_contract.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8351] Separate tab selection backdrop mapping
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayer+Semantics.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservationMapping+VisualEffect.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservationMapping.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record fold transport stop and separate restoration
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Results/EXP-221-duo-fold.json
  DatadogRUM/MultiSceneSupport/Results/S2-input-session-preparation.json
  DatadogRUM/MultiSceneSupport/Tooling/DEVICE_INTERACTION.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Preserve WebView callback and backend evidence separately
  DatadogRUM/MultiSceneSupport/Results/S2-T10-source-preparation.json
  tools/multi-scene/acceptance/s2_webview_contract.py
  tools/multi-scene/acceptance/test_s2_webview_contract.py
  tools/multi-scene/webview-correlation/S2/S2WebViewBridge.swift
  tools/multi-scene/webview-correlation/S2/S2WebViewEvidence.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-18580] Replace internal Carthage bootstrap with a fetch script
  .gitignore
  .gitlab-ci.yml
  Cartfile
  Cartfile.resolved
  Datadog/Datadog.xcodeproj/project.pbxproj
  Datadog/TargetSupport/DatadogCrashReporting/DatadogCrashReporting.xcconfig
  Makefile
  tools/carthage-shim.sh
  tools/clean.sh
  tools/env-check.sh
  tools/feature-docs-verify.sh
  tools/license/check-license.sh
  tools/release/build-xcframeworks.sh
  tools/repo-setup/carthage-bootstrap.sh
  tools/repo-setup/fetch-dependencies.sh
  xcconfigs/Base.xcconfig
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add bounded UIKit-hosted SwiftUI comparison
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-222-hosted-swiftui.md
  DatadogRUM/MultiSceneSupport/Results/EXP-222-hosted-swiftui.json
  tools/multi-scene/acceptance/hosting_connector.js
  tools/multi-scene/acceptance/hosting_contract.py
  tools/multi-scene/acceptance/s2_hosting_workflow.py
  tools/multi-scene/acceptance/test_hosting_connector.js
  tools/multi-scene/acceptance/test_hosting_contract.py
  tools/multi-scene/acceptance/test_hosting_workflow.py
  tools/multi-scene/hosted-swiftui/App.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-18566] Add the RUM view name to spans as the view.name tag
  CHANGELOG.md
  DatadogTrace/Sources/Span/SpanEventBuilder.swift
  DatadogTrace/Sources/Tracer.swift
  DatadogTrace/Tests/Span/SpanEventBuilderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-18566] Update TRACE_FEATURE.md for the view.name span tag
  DatadogTrace/TRACE_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Validate SwiftUI lifetime separately from UIKit completion
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Results/EXP-222-hosted-swiftui.json
  DatadogRUM/MultiSceneSupport/Tooling/SCENARIOS.md
  tools/multi-scene/acceptance/hosting_contract.py
  tools/multi-scene/acceptance/test_hosting_contract.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-18566] Remove redundant view name test
  DatadogTrace/Tests/Span/SpanEventBuilderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-18580] Address review feedback
  tools/clean.sh
  tools/release/build-xcframeworks.sh
Due: Tools Tests

Preserve hosting evidence across backend collection
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-222-hosted-swiftui.md
  DatadogRUM/MultiSceneSupport/Results/EXP-222-hosted-swiftui.json
  DatadogRUM/MultiSceneSupport/Tooling/BACKEND.md
  tools/multi-scene/acceptance/app_journey_transport.py
  tools/multi-scene/acceptance/hosting_connector.js
  tools/multi-scene/acceptance/hosting_contract.py
  tools/multi-scene/acceptance/s2_hosting_workflow.py
  tools/multi-scene/acceptance/test_app_journey_transport.py
  tools/multi-scene/acceptance/test_hosting_connector.js
  tools/multi-scene/acceptance/test_hosting_contract.py
  tools/multi-scene/acceptance/test_hosting_workflow.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Prepare URLSession instrumentation once per task
  CHANGELOG.md
  DatadogInternal/Sources/NetworkInstrumentation/NetworkInstrumentationFeature.swift
  DatadogInternal/Sources/NetworkInstrumentation/URLSession/NetworkInstrumentationSwizzler.swift
  DatadogInternal/Sources/NetworkInstrumentation/URLSession/URLSessionTaskSwizzler.swift
  DatadogInternal/Tests/NetworkInstrumentation/NetworkInstrumentationFeatureTests.swift
  DatadogInternal/Tests/NetworkInstrumentation/URLSessionTaskSwizzlerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Test deferred resume forwarding without network mock counts
  DatadogInternal/Tests/NetworkInstrumentation/URLSessionTaskSwizzlerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Release RUM display-link observers with their owner
  CHANGELOG.md
  DatadogCore/Tests/Datadog/RUM/RUMVitals/DisplayLinkerTests.swift
  DatadogRUM/RUM_FEATURE.md
  DatadogRUM/Sources/RUMVitals/RenderLoop/RenderLoopObserver.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Preserve Resource completion ownership and failed-transfer errors
  Datadog/IntegrationUnitTests/Public/NetworkInstrumentationIntegrationTests.swift
  DatadogRUM/Sources/Instrumentation/Resources/URLSessionRUMResourcesHandler.swift
  DatadogRUM/Sources/RUMMonitor/RUMCommand.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMApplicationScope.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMUserActionScope.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Tests/Instrumentation/Resources/URLSessionRUMResourcesHandlerTests.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMApplicationScopeTests.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMSessionScopeTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Document Resource completion ownership and cache metrics
  CHANGELOG.md
  DatadogRUM/RUM_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Name Resource completion tests by their behavior
  Datadog/IntegrationUnitTests/Public/NetworkInstrumentationIntegrationTests.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMApplicationScopeTests.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMSessionScopeTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Preserve request-time RUM ownership in automatic URLSession traces
  CHANGELOG.md
  Datadog/IntegrationUnitTests/Public/NetworkInstrumentationIntegrationTests.swift
  DatadogTrace/Sources/DatadogTracer.swift
  DatadogTrace/Sources/Integrations/TracingURLSessionHandler.swift
  DatadogTrace/Sources/Span/SpanWriteContext.swift
  DatadogTrace/Tests/TracingURLSessionHandlerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Verify request-time Trace ownership for registered URLSession delegates
  Datadog/IntegrationUnitTests/Public/NetworkInstrumentationIntegrationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Document request-time RUM ownership for automatic traces
  DatadogRUM/RUM_FEATURE.md
  DatadogTrace/TRACE_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Align Trace header fixture with captured request session
  DatadogCore/Tests/Datadog/Tracing/TracingURLSessionHandlerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-9100] Add placeholders for unsupported hosted content
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayer+Semantics.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/LayerWireframeBuilder.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservation.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservationMapping+Common.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservationMapping.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotImageSnapshotRequestTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerWireframeBuilderTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/SemanticObservationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Keep pending fix in unreleased documentation
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Keep pending fix in unreleased documentation
  CHANGELOG.md
  DatadogTrace/TRACE_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Bind hosting and WebView evidence to observed boundaries
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-222-hosted-swiftui.md
  DatadogRUM/MultiSceneSupport/Results/EXP-222-hosted-swiftui.json
  DatadogRUM/MultiSceneSupport/Results/S2-T10-source-preparation.json
  DatadogRUM/MultiSceneSupport/Tooling/BACKEND.md
  tools/multi-scene/acceptance/hosting_contract.py
  tools/multi-scene/acceptance/s2_hosting_workflow.py
  tools/multi-scene/acceptance/s2_webview_contract.py
  tools/multi-scene/acceptance/s2_webview_workflow.py
  tools/multi-scene/acceptance/test_hosting_contract.py
  tools/multi-scene/acceptance/test_s2_webview_contract.py
  tools/multi-scene/acceptance/test_webview_evidence.swift
  tools/multi-scene/hosted-swiftui/App.swift
  tools/multi-scene/webview-correlation/S2/App.swift
  tools/multi-scene/webview-correlation/S2/S2WebViewEvidence.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record rebased S1 publication and qualification
  DatadogRUM/MultiSceneSupport/Results/S1-ci-followup.json
  DatadogRUM/MultiSceneSupport/Results/S1-delivery-queue.json
  DatadogRUM/MultiSceneSupport/Results/S1-rebase-20260922.json
  DatadogRUM/MultiSceneSupport/S1_DELIVERY_PLAN.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Match hosting evidence to SDK date conversion
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-222-hosted-swiftui.md
  DatadogRUM/MultiSceneSupport/Results/EXP-222-hosted-swiftui.json
  DatadogRUM/MultiSceneSupport/Tooling/EVIDENCE.md
  tools/multi-scene/acceptance/hosting_contract.py
  tools/multi-scene/acceptance/s2_hosting_workflow.py
  tools/multi-scene/acceptance/test_hosting_contract.py
  tools/multi-scene/acceptance/test_hosting_workflow.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record the remaining manual hosting lifecycle obligation
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-222-hosted-swiftui.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-222-hosted-swiftui.json
  DatadogRUM/MultiSceneSupport/Results/S2-input-session-preparation.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Consolidate bounded WebView acceptance and cleanup
  .continue-here.md
  DatadogRUM/MultiSceneSupport/Results/S2-T10-source-preparation.json
  DatadogRUM/MultiSceneSupport/Results/S2-input-session-preparation.json
  DatadogRUM/MultiSceneSupport/Tooling/EVIDENCE.md
  tools/multi-scene/acceptance/hosting_connector.js
  tools/multi-scene/acceptance/s2_webview_driver.py
  tools/multi-scene/acceptance/s2_webview_runtime.py
  tools/multi-scene/acceptance/s2_webview_session.py
  tools/multi-scene/acceptance/s2_webview_workflow.py
  tools/multi-scene/acceptance/test_hosting_connector.js
  tools/multi-scene/acceptance/test_s2_webview_driver.py
  tools/multi-scene/acceptance/test_s2_webview_runtime.py
  tools/multi-scene/acceptance/test_s2_webview_session.py
  tools/multi-scene/webview-correlation/S2/App.swift
  tools/multi-scene/webview-correlation/S2/README.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Prepare human-paced hosting acceptance with shared cleanup
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Results/EXP-222-hosted-swiftui.json
  DatadogRUM/MultiSceneSupport/Results/S2-T10-source-preparation.json
  DatadogRUM/MultiSceneSupport/Results/S2-input-session-preparation.json
  tools/multi-scene/acceptance/README.md
  tools/multi-scene/acceptance/hosting_connector.js
  tools/multi-scene/acceptance/hosting_paced_contract.py
  tools/multi-scene/acceptance/runtime_binding.py
  tools/multi-scene/acceptance/s2_hosting_paced_driver.py
  tools/multi-scene/acceptance/s2_hosting_paced_workflow.py
  tools/multi-scene/acceptance/s2_webview_driver.py
  tools/multi-scene/acceptance/s2_webview_workflow.py
  tools/multi-scene/acceptance/test_hosting_connector.js
  tools/multi-scene/acceptance/test_hosting_paced_contract.py
  tools/multi-scene/acceptance/test_runtime_binding.py
  tools/multi-scene/acceptance/test_s2_hosting_paced_driver.py
  tools/multi-scene/hosted-swiftui/PacedInput.swift
  tools/multi-scene/hosted-swiftui/paced_variant.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Prepare actual-display evidence for human Resource fold input
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Results/EXP-221-duo-fold.json
  DatadogRUM/MultiSceneSupport/Results/S2-input-session-preparation.json
  tools/multi-scene/acceptance/resource_fold_human.py
  tools/multi-scene/acceptance/resource_fold_reuse.py
  tools/multi-scene/acceptance/resource_fold_variant.py
  tools/multi-scene/acceptance/test_resource_fold_human.py
  tools/multi-scene/acceptance/test_resource_fold_variant.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Bind human Resource fold runs to fixed clocks and original builds
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Results/EXP-221-duo-fold.json
  DatadogRUM/MultiSceneSupport/Results/S2-input-session-preparation.json
  tools/multi-scene/acceptance/README.md
  tools/multi-scene/acceptance/resource_fold_runtime.py
  tools/multi-scene/acceptance/resource_fold_runtime_variant.py
  tools/multi-scene/acceptance/test_resource_fold_connector.js
  tools/multi-scene/acceptance/test_resource_fold_runtime.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Prepare current-source automatic tracking fixtures
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-210-s2-automatic-coverage.md
  DatadogRUM/MultiSceneSupport/Results/EXP-210-s2-automatic-coverage.json
  DatadogRUM/MultiSceneSupport/Results/S2-input-session-preparation.json
  DatadogRUM/MultiSceneSupport/Tooling/EVIDENCE.md
  DatadogRUM/MultiSceneSupport/release-gates.json
  tools/multi-scene/automatic-coverage/HumanObservation.swift
  tools/multi-scene/automatic-coverage/README.md
  tools/multi-scene/automatic-coverage/human_build.py
  tools/multi-scene/automatic-coverage/human_capture.py
  tools/multi-scene/automatic-coverage/human_contract.py
  tools/multi-scene/automatic-coverage/human_journey.py
  tools/multi-scene/automatic-coverage/human_variant.py
  tools/multi-scene/automatic-coverage/test_human_build.py
  tools/multi-scene/automatic-coverage/test_human_capture.py
  tools/multi-scene/automatic-coverage/test_human_contract.py
  tools/multi-scene/automatic-coverage/test_human_journey.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Complete the human automatic tracking runner
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-210-s2-automatic-coverage.md
  DatadogRUM/MultiSceneSupport/Results/EXP-210-s2-automatic-coverage.json
  DatadogRUM/MultiSceneSupport/Results/S2-F08-source-oracle.json
  DatadogRUM/MultiSceneSupport/Results/S2-input-session-preparation.json
  DatadogRUM/MultiSceneSupport/Tooling/DEVICE_INTERACTION.md
  tools/multi-scene/automatic-coverage/README.md
  tools/multi-scene/automatic-coverage/human_capture.py
  tools/multi-scene/automatic-coverage/human_fold.py
  tools/multi-scene/automatic-coverage/human_operator.py
  tools/multi-scene/automatic-coverage/human_processes.py
  tools/multi-scene/automatic-coverage/human_runtime.py
  tools/multi-scene/automatic-coverage/human_supervisor.py
  tools/multi-scene/automatic-coverage/test_human_fold.py
  tools/multi-scene/automatic-coverage/test_human_operator.py
  tools/multi-scene/automatic-coverage/test_human_runtime.py
  tools/multi-scene/automatic-coverage/test_human_supervisor.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Prepare controlled app capture for release validation
  .continue-here.md
  DatadogRUM/MultiSceneSupport/Results/S2-F08-source-oracle.json
  DatadogRUM/MultiSceneSupport/Results/S2-input-session-preparation.json
  DatadogRUM/MultiSceneSupport/Tooling/DEVICE_INTERACTION.md
  tools/multi-scene/app-acceptance/README.md
  tools/multi-scene/app-acceptance/ReleaseValidationCapture.swift
  tools/multi-scene/app-acceptance/capture-definition.json
  tools/multi-scene/app-acceptance/capture_contract.py
  tools/multi-scene/app-acceptance/capture_patch.py
  tools/multi-scene/app-acceptance/portable_controls.py
  tools/multi-scene/app-acceptance/test_capture_contract.py
  tools/multi-scene/app-acceptance/test_capture_patch.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)
