Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *

RUM-16718: Addressed issues signaled in code review.
  DatadogRUM/Sources/DDPlatformTypes.swift
  DatadogRUM/Sources/Instrumentation/Actions/AppKit/AppKitRUMActionsHandler.swift
  DatadogRUM/Sources/Instrumentation/Actions/AppKit/AppKitRUMUserActionsPredicate.swift
  DatadogRUM/Sources/Instrumentation/Actions/UIKit/UIRUMActionsHandler.swift
  DatadogRUM/Sources/Instrumentation/RUMInstrumentation.swift
  DatadogRUM/Sources/Instrumentation/Views/AppKit/AppKitRUMViewsPredicate.swift
  DatadogRUM/Sources/Instrumentation/Views/AppKit/AppKitViewControllerSwizzler.swift
  DatadogRUM/Sources/Instrumentation/Views/RUMViewsHandler.swift
  DatadogRUM/Sources/RUM+objc.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix ObjC generator to resolve root swift type via swiftTypeName
  tools/rum-models-generator/Sources/CodeGeneration/Print/ObjcInteropPrinter.swift
Due: Tools Tests

Regenerate RUM models and API surface from object-v2 schema
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  api-surface-objc
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Attach layer tree dumps to snapshot tests
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/SRLayerSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Utils/LayerSnapshotTestCase.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Capture non-representable labels as images
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+SemanticObservation.swift
  DatadogSessionReplay/Sources/Recorder/Utilities/UILabel+SRWireframe.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotSemanticObservationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Add liquid lens visual effect fallback
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+SemanticObservation.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CompositionTreeBuilder.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SRWireframe+CALayerSnapshot.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CompositionTreeBuilderTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerTreeSnapshotMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Refactor layer semantic observation mapping
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+SemanticObservation.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotSemanticObservationTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Add shape gradient models
  DatadogSessionReplay/Sources/Models/SRDataModels.swift
  api-surface-swift
  tools/rum-models-generator/Sources/CodeDecoration/SRCodeDecorator.swift
  tools/rum-models-generator/Tests/rum-models-generatorTests/SRCodeDecoratorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Capture linear gradient semantics
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+SemanticObservation.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotImageSnapshotRequestTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotSemanticObservationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Add visual effect background fallbacks
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+SemanticObservation.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CompositionTreeBuilder.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SRWireframe+CALayerSnapshot.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotImageSnapshotRequestTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CompositionTreeBuilderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Build linear gradient wireframes
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+SemanticObservation.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CompositionTreeBuilder.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SRWireframe+CALayerSnapshot.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotImageSnapshotRequestTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotSemanticObservationTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CompositionTreeBuilderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Add alert visual effect snapshot coverage
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Fixtures/AlertFixtureView.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/SRLayerSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Utils/WireframeView.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/pointers/testAlert()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/pointers/testAlert()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Add backdrop visual effect fallback
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Fixtures/AlertFixtureView.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/SRLayerSnapshotTests.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+SemanticObservation.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CompositionTreeBuilder.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SRWireframe+CALayerSnapshot.swift
  DatadogSessionReplay/Sources/Recorder/Utilities/Int64+SessionReplay.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotSemanticObservationTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CompositionTreeBuilderTests.swift
  DatadogSessionReplay/Tests/Utilities/SwiftExtensionsTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Reorganize semantic observation mappings
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayer+Semantics.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+SemanticObservation.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservation.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservationMapping+Common.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservationMapping+VisualEffect.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservationMapping.swift
  DatadogSessionReplay/Sources/Recorder/Utilities/UILabel+SRWireframe.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/SemanticObservationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Preserve content outside semantic owner bounds
  DatadogSessionReplay/Sources/LayerTreeRecorder/ContentSnapshot.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/ImageSnapshotCache.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/ImageSnapshotRequest.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/ImageSnapshotter.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ContentSnapshotRequestTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ImageSnapshotCacheTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ImageSnapshotMocks.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ImageSnapshotterTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Preserve masks on leaf gradients
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservationMapping+Common.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/SemanticObservationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add Package.swift scaffolding for DatadogTimeseries
  DatadogTimeseries/Package.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/Sample.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesName.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/.gitkeep
  DatadogTimeseries/Tests/DatadogTimeseriesTests/SmokeTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add plan for DatadogTimeseries standalone business logic
  plans/1-plan-business-logic.md
Due: none

add git rules override for timeseries pod
  plans/git-rules-pod.md
Due: none

implement models with explicit CodingKeys for JSON serialization
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesEvent.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventModelTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Rename package to Datadog
  Package.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUMM-1206 Prepare `Package.swift` for dogfooding
  Package.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

implement TimeseriesEncoder with sorted keys output
  DatadogTimeseries/Sources/DatadogTimeseries/Encoding/TimeseriesEncoder.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEncoderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add TimeseriesConfig for RUM context injection
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesConfig.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add DataProvider protocol and CSVDataProvider with tests
  DatadogTimeseries/Sources/DatadogTimeseries/DataProvider/CSVDataProvider.swift
  DatadogTimeseries/Sources/DatadogTimeseries/DataProvider/DataProvider.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/CSVDataProviderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

implement TimeseriesEventBuilder with config injection
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesEventBuilder.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventBuilderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

implement TimeseriesBatcher with configurable batch size
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesBatcher.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesBatcherTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

remove placeholder files after full test suite is in place
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/.gitkeep
  DatadogTimeseries/Tests/DatadogTimeseriesTests/SmokeTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add expected JSON fixtures for E2E verification
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch2.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_memory_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_memory_batch2.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

rename demo script to 01-demo-18-04
  pod/demo/01-demo-18-04.sh
Due: none

add plan 2 for platform-agnostic integration wiring
  plans/2-plan-platform-integration.md
Due: none

implement TimeseriesPipeline orchestrator
  DatadogTimeseries/Sources/DatadogTimeseries/TimeseriesPipeline.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesPipelineTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

move plans and demo into pod/ directory
  pod/demo/demo.sh
  pod/plans/1-plan-business-logic.md
  pod/plans/2-plan-platform-integration.md
  pod/plans/git-rules-pod.md
Due: none

add skip-sample error handling tests for gap behavior
  DatadogTimeseries/Tests/DatadogTimeseriesTests/SkipSampleTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add SampleFilter protocol and filter implementations
  DatadogTimeseries/Sources/DatadogTimeseries/Filters/DeadbandFilter.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Filters/PassThroughFilter.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Filters/SampleFilter.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Filters/WindowAggregateFilter.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add CSV test fixture with 10 memory and 10 CPU samples
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/input_memory_cpu.csv
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add end-to-end verification tests with UUID masking
  DatadogTimeseries/Tests/DatadogTimeseriesTests/EndToEndVerificationTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch2.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

fix pod rules
  plans/git-rules-pod.md
Due: none

update plan 4 to use bplasovska/timeseries branch on rum-events-format, no PR needed
  pod/plans/4-plan-ios-sdk-integration.md
Due: none

update demo script with sampling strategies section
  pod/demo/01-demo-18-04.sh
Due: none
