Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *

RUM-13728: Prefix `dd_profiler` functions to avoid naming collisions
  Datadog/IntegrationUnitTests/Profiling/ProfilingRUMIntegrationTests.swift
  DatadogProfiling/Mach/dd_profiler.cpp
  DatadogProfiling/Mach/include/dd_profiler.h
  DatadogProfiling/Mach/include/dd_profiler_testing.h
  DatadogProfiling/Mach/include/mach_sampling_profiler.h
  DatadogProfiling/Tests/AppLaunchProfilerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Adjust UIAlertController coverage in RUM
  DatadogRUM/Sources/Utils/UIKitExtensions.swift
  DatadogRUM/Tests/Utils/UIKitExtensionsTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Remove visionOS warning
  DatadogCore/Sources/Datadog.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

make test-visionos
  Makefile
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add visionOS unit tests job
  .gitlab-ci.yml
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

use variant key instead of value in RUM feature flag tracking
  DatadogFlags/Sources/Client/FlagsClient.swift
  DatadogFlags/Tests/Client/FlagsClientTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Switch to userInitiated queue for memory collection
  DatadogRUM/Sources/RUMMonitor/Scopes/MemoryTimeseriesCollector.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

feat(02-02): create TimeseriesEvent Swift model matching backend schema
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/RUMMonitor/Scopes/TimeseriesEvent.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

feat(02-02): add event formatting to MemoryTimeseriesCollector
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/RUMMonitor/Scopes/MemoryTimeseriesCollector.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

feat(02-02): add detailed event inspection logging
  DatadogRUM/Sources/RUMMonitor/Scopes/MemoryTimeseriesCollector.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

feat(02-03): wire timeseries events into DatadogCore pipeline
  DatadogRUM/Sources/RUMMonitor/Scopes/MemoryTimeseriesCollector.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

feat(02-03): add JSON encoding validation and logging
  DatadogRUM/Sources/RUMMonitor/Scopes/MemoryTimeseriesCollector.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add xcode-file-management skill
  .claude/settings.json
  .claude/skills/xcode-file-management/SKILL.md
Due: none

Add running-tests skill
  .claude/skills/running-tests/SKILL.md
Due: none

add git related skills
  .claude/skills/git-branch/SKILL.md
  .claude/skills/git-commit/SKILL.md
  .claude/skills/git-pr/SKILL.md
Due: none

RUM-14880: Add clang-tidy linting for C++ sources
  .clang-tidy
  Datadog/Datadog.xcodeproj/project.pbxproj
  Makefile
  tools/lint/run-cpp-linter.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14880: Fix C++ linting issues
  DatadogProfiling/Mach/binary_image_resolver.cpp
  DatadogProfiling/Mach/dd_profiler.cpp
  DatadogProfiling/Mach/include/mach_sampling_profiler.h
  DatadogProfiling/Mach/mach_sampling_profiler.cpp
  DatadogProfiling/Mach/profile.cpp
  DatadogProfiling/Mach/profile_pprof_packer.cpp
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Xcode 26.3 requirements
  .claude/skills/running-tests/SKILL.md
  .claude/skills/xcode-file-management/SKILL.md
Due: none

Address PR feedback on git-branch and git-pr skills
  .claude/skills/git-branch/SKILL.md
  .claude/skills/git-commit/SKILL.md
  .claude/skills/git-pr/SKILL.md
Due: none

RUM-14880: Fix clang-tidy resolution to support both Apple Silicon and Intel Homebrew paths
  tools/lint/run-cpp-linter.sh
Due: Tools Tests

Fix ci
  tools/repo-setup/carthage-bootstrap.sh
  tools/sr-snapshot-test.sh
Due: Tools Tests

Update Commands.swift
  tools/sr-snapshots/Sources/SRSnapshotsCore/Commands.swift
Due: Tools Tests

RUM-14563 Update Changelog
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

feat(02.1): integrate RUMTimeseriesEvent with RUM common schema
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/MemoryTimeseriesCollector.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/TimeseriesEvent.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

fix(02.1): limit TimeseriesName enum to memory_usage only
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14825: Attach `rum-mobile-events` json to the profile API call
  Datadog/Datadog.xcodeproj/project.pbxproj
  Datadog/IntegrationUnitTests/Profiling/ProfilingRUMIntegrationTests.swift
  DatadogInternal/Sources/Models/Profiling/ProfilingMessages.swift
  DatadogInternal/Sources/Models/Profiling/TTIDMessage.swift
  DatadogInternal/Sources/Models/Profiling/Vital.swift
  DatadogProfiling/Sources/AppLaunchProfiler.swift
  DatadogProfiling/Sources/Models/ProfileAttachments.swift
  DatadogProfiling/Sources/ProfileEvent.swift
  DatadogProfiling/Sources/RequestBuilder.swift
  DatadogProfiling/Tests/AppLaunchProfilerTests.swift
  DatadogProfiling/Tests/RequestBuilderTests.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMAppLaunchManager.swift
  TestUtilities/Sources/Mocks/DatadogProfiling/VitalMock.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

PANA-6108 Add LayerWireframeBuilder for layer-tree wireframe mapping
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/Sources/LayerTreeRecorder/LayerSnapshot+Visibility.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/LayerWireframeBuilder.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerWireframeBuilderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

test(02.1): reduce batch size and add upload tracking logs
  DatadogInternal/Sources/Context/DatadogSite.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/MemoryTimeseriesCollector.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

PANA-6108 Centralize LayerTreeRecorder test fixtures in a shared helper
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerImageRendererTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerSnapshotCullingTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerSnapshotRenderingTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerSnapshotTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerSnapshotVisibilityTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerTreeRecorderFixtures.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerWireframeBuilderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

PANA-6108 Build layer wireframes in LayerRecorder
  DatadogSessionReplay/Sources/LayerTreeRecorder/LayerRecorder.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

PANA-6098 Add tests
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerSnapshotTests.swift
  DatadogSessionReplay/Tests/Recorder/Utilties/TestWKWebView.swift
  DatadogSessionReplay/Tests/Recorder/Utilties/WKWebView+SessionReplayTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

PANA-6098 Reuse WKWebView frame adjustment helper in both capture paths
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/Sources/LayerTreeRecorder/LayerSnapshot.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/LayerSnapshotSemantics.swift
  DatadogSessionReplay/Sources/Recorder/Utilities/WKWebView+SessionReplay.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/WKWebViewRecorder.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14763 add OOB scroll and swipe action tracking
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Instrumentation/Actions/UIKit/UIScrollViewDelegateProxy.swift
  DatadogRUM/Sources/Instrumentation/Actions/UIKit/UIScrollViewScrollHandler.swift
  DatadogRUM/Sources/Instrumentation/Actions/UIKit/UIScrollViewSwizzler.swift
  DatadogRUM/Sources/Instrumentation/RUMInstrumentation.swift
  DatadogRUM/Tests/Instrumentation/Actions/UIScrollViewScrollHandlerTests.swift
  DatadogRUM/Tests/Instrumentation/RUMInstrumentationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14763 Add CHANGELOG entry
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14763 Make UIScrollViewHandler into a protocol
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Instrumentation/Actions/RUMScrollHandler.swift
  DatadogRUM/Sources/Instrumentation/Actions/UIKit/UIScrollViewDelegateProxy.swift
  DatadogRUM/Sources/Instrumentation/Actions/UIKit/UIScrollViewHandler.swift
  DatadogRUM/Sources/Instrumentation/Actions/UIKit/UIScrollViewSwizzler.swift
  DatadogRUM/Sources/Instrumentation/RUMInstrumentation.swift
  DatadogRUM/Tests/Instrumentation/Actions/RUMScrollHandlerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14763 Add comprehensive test coverage for scroll tracking
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Tests/Instrumentation/Actions/RUMScrollHandlerTests.swift
  DatadogRUM/Tests/Instrumentation/Actions/UIKit/UIScrollViewDelegateProxyTests.swift
  DatadogRUM/Tests/Instrumentation/Actions/UIKit/UIScrollViewSwizzlerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14763 Fix memory leak in UIScrollViewSwizzler
  DatadogRUM/Sources/Instrumentation/Actions/UIKit/UIScrollViewSwizzler.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14763 Make actionType mutable to support scroll/swipe classification
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMUserActionScope.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)
