Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

ENV check:
  stage: pre
  script:
  - make env-check

Lint:
  stage: lint
  script:
  - make clean repo-setup ENV=ci
  - make lint license-check
  - make rum-models-verify sr-models-verify

Unit Tests (iOS):
  stage: test
  variables:
    XCODE: 15.3.0
    OS: '17.4'
    PLATFORM: iOS Simulator
    DEVICE: iPhone 15 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$XCODE" --iOS --os "$OS"
  - make clean repo-setup ENV=ci
  - make test-ios-all OS="$OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

Unit Tests (tvOS):
  stage: test
  variables:
    XCODE: 15.3.0
    OS: '17.4'
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$XCODE" --tvOS --os "$OS"
  - make clean repo-setup ENV=ci
  - make test-tvos-all OS="$OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

UI Tests:
  stage: ui-test
  variables:
    XCODE: 15.3.0
    OS: '17.4'
    PLATFORM: iOS Simulator
    DEVICE: iPhone 15 Pro
  parallel:
    matrix:
    - TEST_PLAN:
      - Default
      - RUM
      - CrashReporting
      - NetworkInstrumentation
  script:
  - ./tools/runner-setup.sh --xcode "$XCODE" --iOS --os "$OS"
  ...

SR Snapshot Tests:
  stage: ui-test
  variables:
    XCODE: 15.4.0
    OS: '17.5'
    PLATFORM: iOS Simulator
    DEVICE: iPhone 15
    ARTIFACTS_PATH: artifacts
  artifacts:
    paths:
    - artifacts
    expire_in: 1 week
    when: on_failure
  script:
  - ./tools/runner-setup.sh --xcode "$XCODE" --iOS --os "$OS" --ssh
  ...

Tools Tests:
  stage: test
  script:
  - make clean repo-setup ENV=ci
  - make tools-test

Smoke Tests (iOS):
  stage: smoke-test
  tags:
  - macos:ventura
  - specific:true
  variables:
    XCODE: 15.2.0
    OS: '17.2'
    PLATFORM: iOS Simulator
    DEVICE: iPhone 15 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$XCODE" --iOS --tvOS --os "$OS" --ssh
  - make clean repo-setup ENV=ci
  - make spm-build-ios
  ...

Smoke Tests (tvOS):
  stage: smoke-test
  tags:
  - macos:ventura
  - specific:true
  variables:
    XCODE: 15.2.0
    OS: '17.2'
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$XCODE" --iOS --tvOS --os "$OS" --ssh
  - make clean repo-setup ENV=ci
  - make spm-build-tvos
  ...

Smoke Tests (visionOS):
  stage: smoke-test
  tags:
  - macos:ventura
  - specific:true
  variables:
    XCODE: 15.2.0
    OS: '1.0'
  script:
  - ./tools/runner-setup.sh --xcode "$XCODE" --visionOS --os "$OS"
  - make clean repo-setup ENV=ci
  - make spm-build-visionos

Smoke Tests (macOS):
  stage: smoke-test
  tags:
  - macos:ventura
  - specific:true
  variables:
    XCODE: 15.2.0
  script:
  - ./tools/runner-setup.sh --xcode "$XCODE"
  - make clean repo-setup ENV=ci
  - make spm-build-macos

RUM-6224 Address CR comments
  DatadogCore/Tests/DatadogObjc/DDSessionReplayOverridesTests.swift
  DatadogSessionReplay/Sources/PrivacyLevel+SessionReplay.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-6284 Rename SessionReplayOverrides to SessionReplayPrivacyOverrides
  DatadogSessionReplay/Sources/PrivacyLevel+SessionReplay.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Privacy Overrides Objective-C Interface
  DatadogCore/Tests/DatadogObjc/ObjcAPITests/DDSessionReplay+apiTests.m
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeRecorder.swift
  DatadogSessionReplay/Sources/SessionReplayOverrides+objc.swift
  DatadogSessionReplay/Sources/SessionReplayPrivacyOverrides+objc.swift
  DatadogSessionReplay/Sources/SessionReplayPrivacyOverrides.swift
  DatadogSessionReplay/Sources/UIView+SessionReplayPrivacyOverrides+objc.swift
  DatadogSessionReplay/Tests/DDSessionReplayOverridesTests.swift
  DatadogSessionReplay/Tests/Mocks/PrivacyOverridesMock+objc.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeRecorderTests.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeSnapshotTests.swift
  DatadogSessionReplay/Tests/SessionReplayOverrideTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Fix file tree after rebase
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/Sources/SessionReplayOverrides+objc.swift
  DatadogSessionReplay/Tests/DDSessionReplayPrivacyOverridesTests.swift
  DatadogSessionReplay/Tests/SessionReplayPrivacyOverrideTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Privacy Overrides Objective-C Interface
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Tests/DatadogObjc/ObjcAPITests/DDSessionReplay+apiTests.m
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeRecorder.swift
  DatadogSessionReplay/Sources/SessionReplayOverrides+objc.swift
  DatadogSessionReplay/Sources/SessionReplayPrivacyOverrides+objc.swift
  DatadogSessionReplay/Sources/SessionReplayPrivacyOverrides.swift
  DatadogSessionReplay/Sources/UIView+SessionReplayPrivacyOverrides+objc.swift
  DatadogSessionReplay/Tests/DDSessionReplayOverridesTests.swift
  DatadogSessionReplay/Tests/DDSessionReplayTests.swift
  DatadogSessionReplay/Tests/Mocks/PrivacyOverridesMock+objc.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeRecorderTests.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeSnapshotTests.swift
  DatadogSessionReplay/Tests/SessionReplayOverrideTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-6263 PR fixes
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Address CR comments on hide override
  DatadogSessionReplay/Sources/UIView+SessionReplayPrivacyOverrides+objc.swift
  DatadogSessionReplay/Tests/DDSessionReplayOverridesTests.swift
  DatadogSessionReplay/Tests/Mocks/PrivacyOverridesMock+objc.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-6263 Refactor to delegate trigger
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
  DatadogSessionReplay/Sources/Recorder/RecordingTrigger.swift
  DatadogSessionReplay/Tests/Mocks/RecordingCoordinatorSpy.swift
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
  DatadogSessionReplay/Tests/Recorder/RecordingTriggerTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-6263 Add test
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-6263 Fixes
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-6263 Fix test assertion
  DatadogSessionReplay/Tests/Recorder/RecordingTriggerTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-6263 Fix flaky test
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-6263 Simplify throttling
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-6263 PR fixes
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
  DatadogSessionReplay/Sources/Recorder/RecordingTrigger.swift
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
  DatadogSessionReplay/Tests/Recorder/RecordingTriggerTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-6569 Edit logic + Cache cleanup
  DatadogSessionReplay/Sources/Recorder/TouchSnapshotProducer/WindowTouchSnapshotProducer.swift
  DatadogSessionReplay/Tests/Recorder/TouchSnapshotProducer/WindowTouchSnapshotProducerTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-6569 SR FGM - Touch override logic
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SnapshotTestCase.swift
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Recorder/Recorder.swift
  DatadogSessionReplay/Sources/Recorder/TouchSnapshotProducer/WindowTouchSnapshotProducer.swift
  DatadogSessionReplay/Tests/Mocks/UIKitMocks.swift
  DatadogSessionReplay/Tests/Recorder/TouchSnapshotProducer/WindowTouchSnapshotProducerTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-6569 Deal with overrides in takeSnapshot
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SnapshotTestCase.swift
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Recorder/Recorder.swift
  DatadogSessionReplay/Sources/Recorder/TouchSnapshotProducer/TouchSnapshot/TouchSnapshot.swift
  DatadogSessionReplay/Sources/Recorder/TouchSnapshotProducer/WindowTouchSnapshotProducer.swift
  DatadogSessionReplay/Tests/Mocks/RecorderMocks.swift
  DatadogSessionReplay/Tests/Processor/SnapshotProcessorTests.swift
  DatadogSessionReplay/Tests/Recorder/TouchSnapshotProducer/WindowTouchSnapshotProducerTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Fix var name
  DatadogSessionReplay/Sources/Recorder/TouchSnapshotProducer/WindowTouchSnapshotProducer.swift
  DatadogSessionReplay/Sources/SessionReplayPrivacyOverrides.swift
  DatadogSessionReplay/Tests/Recorder/TouchSnapshotProducer/WindowTouchSnapshotProducerTests.swift
  DatadogSessionReplay/Tests/SessionReplayOverrideTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-6569 Remove touchTimeout and clean cache logic
  DatadogSessionReplay/Sources/Recorder/TouchSnapshotProducer/WindowTouchSnapshotProducer.swift
  DatadogSessionReplay/Tests/Recorder/TouchSnapshotProducer/WindowTouchSnapshotProducerTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Add changelog entry
  CHANGELOG.md
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Bumped version to 2.19.0
  DatadogAlamofireExtension.podspec
  DatadogCore.podspec
  DatadogCore/Sources/Versioning.swift
  DatadogCrashReporting.podspec
  DatadogInternal.podspec
  DatadogLogs.podspec
  DatadogObjc.podspec
  DatadogRUM.podspec
  DatadogSessionReplay.podspec
  DatadogTrace.podspec
  DatadogWebViewTracking.podspec
  TestUtilities.podspec
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Update CHANGELOG.md
  CHANGELOG.md
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-917 Enforce unique uuid for all sub recorders
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIDatePickerRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIPickerViewRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UITabBarRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UITextFieldRecorder.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

xcrun simctl erase all
  Gemfile.lock
  tools/clean.sh
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Apply suggestions from code review
  tools/clean.sh
Due: Tools Tests

chore: Temporarily disable CI Tests as causing test failures
  .gitlab-ci.yml
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

WIP - isolate unit tests job
  .gitlab-ci.yml
  Makefile
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Update api-surface-swift
  .github/PULL_REQUEST_TEMPLATE.md
  api-surface-swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

DEBUG - run tests, verbose
  .gitlab-ci.yml
  tools/test.sh
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

DEBUG - with artifact
  tools/test.sh
Due: Tools Tests

WIP - nuke spm cache
  tools/test.sh
Due: Tools Tests

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Lint: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Smoke Tests (visionOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Smoke Tests (macOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
