Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *

Fixed macOS build.
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Sources/Core/RemoteConfigurationProvider.swift
  DatadogCore/Sources/Datadog.swift
  DatadogCore/Tests/Datadog/Core/RemoteConfigurationTests.swift
  DatadogCore/Tests/Datadog/DatadogCore/DatadogCoreTests.swift
  DatadogCore/Tests/Datadog/RUM/RUMVitals/VitalCPUReaderTests.swift
  DatadogRUM/Sources/RUMConfiguration+RemoteConfiguration.swift
  DatadogRUM/Tests/RUMConfiguration+RemoteConfigurationTests.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMViewScope_Tests.swift
  TestUtilities/Sources/Mocks/DatadogInternal/NotificationCenterProviderMock.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Use explicit Home boundaries for inferred Operation probe
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioCatalog.swift
  Datadog/Example/MultiSceneProbe/Tests/ProbeScenarioRunnerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix iOS flags diagnostics app
  Datadog/Datadog.xcodeproj/project.pbxproj
  Datadog/Example/ExampleAppDelegate.swift
  Datadog/TargetSupport/Example/Info.plist
  FLAGS-DIAGNOSTICS.md
  xcconfigs/Datadog.xcconfig
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Target one-shot actions to a window scene
  Datadog/Example/MultiSceneProbe/README.md
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioCatalog.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioDriver.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeStep.swift
  Datadog/Example/MultiSceneProbe/Sources/ProbeWindowView.swift
  Datadog/Example/MultiSceneProbe/Tests/ProbeScenarioRunnerTests.swift
  DatadogCore/Tests/Objc/ObjcAPITests/DDRUMMonitor+apiTests.m
  DatadogRUM/MULTI_SCENE_SUPPORT.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/NAVIGATION_API.md
  DatadogRUM/MultiSceneSupport/OPERATIONS.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/Sources/RUM+objc.swift
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/RUMCommand.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Sources/RUMMonitorProtocol+Convenience.swift
  DatadogRUM/Tests/RUMMonitor/MonitorTests.swift
  DatadogRUM/Tests/RUMMonitorProtocol+ConvenienceTests.swift
  DatadogRUM/Tests/RUMMonitorProtocolTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add multi-scene restart handoff
  .continue-here.md
  DatadogRUM/MULTI_SCENE_SUPPORT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/PLAN.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Define long-running action targeting experiment
  .continue-here.md
  DatadogRUM/MULTI_SCENE_SUPPORT.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Target long-running actions to a window scene
  DatadogCore/Tests/Objc/ObjcAPITests/DDRUMMonitor+apiTests.m
  DatadogRUM/Sources/RUM+objc.swift
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/RUMCommand.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Sources/RUMMonitorProtocol+Convenience.swift
  DatadogRUM/Tests/RUMMonitor/MonitorTests.swift
  DatadogRUM/Tests/RUMMonitorProtocol+ConvenienceTests.swift
  DatadogRUM/Tests/RUMMonitorProtocolTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Exercise targeted long-running actions across scenes
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeExpectation.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioCatalog.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioDriver.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeSemanticOracle.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeStep.swift
  Datadog/Example/MultiSceneProbe/Sources/ProbeWindowView.swift
  Datadog/Example/MultiSceneProbe/Tests/ProbeScenarioRunnerTests.swift
  Datadog/Example/MultiSceneProbe/Tests/ProbeSemanticOracleTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Keep action routing probe inside its live-view boundary
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioCatalog.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioDriver.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeStep.swift
  Datadog/Example/MultiSceneProbe/Tests/ProbeScenarioRunnerTests.swift
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record long-running action acceptance and pause checkpoint
  .continue-here.md
  DatadogRUM/MULTI_SCENE_SUPPORT.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Automate multi-scene acceptance with strict ownership checks
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp161-20260917T005359Z-91f9789deb9c.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp161-20260917T010538Z-c79b2ab1545b.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp161-20260917T011012Z-9bb629c7c630.json
  tools/multi-scene/acceptance/README.md
  tools/multi-scene/acceptance/acceptance.py
  tools/multi-scene/acceptance/connector_driver.js
  tools/multi-scene/acceptance/scenario-contract.json
  tools/multi-scene/acceptance/test_acceptance.py
  tools/multi-scene/acceptance/test_connector.js
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Measure multi-scene compatibility and performance baselines
  DatadogRUM/MultiSceneSupport/BASELINES.md
  DatadogRUM/MultiSceneSupport/Results/EXP-160-baseline-samples.json
  DatadogRUM/MultiSceneSupport/Results/EXP-160-baseline.json
  tools/multi-scene/baselines/Fixture/AllocationCounter.c
  tools/multi-scene/baselines/Fixture/AllocationCounter.h
  tools/multi-scene/baselines/Fixture/App.swift
  tools/multi-scene/baselines/Fixture/InternalFixture.swift
  tools/multi-scene/baselines/FocusedChecks.swift
  tools/multi-scene/baselines/README.md
  tools/multi-scene/baselines/analyze.py
  tools/multi-scene/baselines/focused.py
  tools/multi-scene/baselines/lifecycle.py
  tools/multi-scene/baselines/run.py
  tools/multi-scene/baselines/test_analyze.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Define finite release gates and production safety repairs
  DatadogRUM/MULTI_SCENE_SUPPORT.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/COMPONENT_REVIEW.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/Experiments/PLAN_COMPLETED_THROUGH_EXP-159.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/REVIEW_TRIAGE.md
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/Results/review-triage-probes.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
  tools/multi-scene/release_checklist.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Allow unsigned local checkpoints when signing is unavailable
  .continue-here.md
  DatadogRUM/MULTI_SCENE_SUPPORT.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/REVIEW_TRIAGE.md
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  tools/multi-scene/acceptance/README.md
  tools/multi-scene/acceptance/acceptance.py
  tools/multi-scene/acceptance/test_acceptance.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Define watchOS and macOS compatibility repair experiment
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Skip UIKit scene extraction in macOS WebView messages
  DatadogWebViewTracking/Sources/DDScriptMessageHandler.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Keep RUM network context available on watchOS
  DatadogRUM/Sources/Instrumentation/Actions/RUMActionsHandler.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record platform compatibility acceptance
  .continue-here.md
  DatadogRUM/MULTI_SCENE_SUPPORT.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/REVIEW_TRIAGE.md
  DatadogRUM/MultiSceneSupport/Results/EXP-162-platform-compatibility.json
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Define overdue action metadata regression experiment
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Preserve overdue action stop attributes during scene routing
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMSessionScopeTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record action metadata acceptance and update safety review
  .continue-here.md
  DatadogRUM/MULTI_SCENE_SUPPORT.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/REVIEW_TRIAGE.md
  DatadogRUM/MultiSceneSupport/Results/EXP-163-action-stop-attributes.json
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Define controller caller-thread compatibility experiment
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Avoid UIKit hierarchy reads in background controller APIs
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Tests/RUMMonitor/MonitorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-18265] Simplify the shared attribute budget in LogEventSanitizer
  DatadogLogs/Sources/Log/LogEventSanitizer.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add mounted controller thread acceptance fixture
  tools/multi-scene/controller-threads/App.swift
  tools/multi-scene/controller-threads/README.md
  tools/multi-scene/controller-threads/run.py
Due: Tools Tests

Record controller thread acceptance and remaining review gates
  .continue-here.md
  DatadogRUM/MULTI_SCENE_SUPPORT.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/REVIEW_TRIAGE.md
  DatadogRUM/MultiSceneSupport/Results/EXP-164-controller-threads.json
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Define legacy WebView correlation acceptance
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Preserve legacy WebView container correlation in single-scene apps
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Integrations/WebViewEventReceiver.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/Utils/ViewCache.swift
  DatadogRUM/Tests/Integrations/WebViewEventReceiverTests.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/Utils/ViewCacheTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Exercise mounted WebView Replay correlation
  tools/multi-scene/webview-correlation/App.swift
  tools/multi-scene/webview-correlation/README.md
  tools/multi-scene/webview-correlation/run.py
  tools/multi-scene/webview-correlation/test_runner.py
Due: Tools Tests

Record legacy WebView acceptance and advance release repairs
  .continue-here.md
  DatadogRUM/MULTI_SCENE_SUPPORT.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/REVIEW_TRIAGE.md
  DatadogRUM/MultiSceneSupport/Results/EXP-165-webview-correlation.json
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Define SDK-scoped handoff and allocation acceptance
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Scope UI-event context to its SDK lifetime
  Datadog/Example/MultiSceneProbe/Sources/ProbeWindowView.swift
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogCore/Tests/Datadog/DatadogCore/DatadogCoreTests.swift
  DatadogInternal/Sources/NetworkInstrumentation/DatadogURLSessionHandler.swift
  DatadogInternal/Sources/NetworkInstrumentation/NetworkContext.swift
  DatadogInternal/Sources/NetworkInstrumentation/NetworkContextProvider.swift
  DatadogInternal/Sources/NetworkInstrumentation/NetworkInstrumentationFeature.swift
  DatadogInternal/Tests/NetworkInstrumentation/NetworkInstrumentationFeatureTests.swift
  DatadogLogs/Sources/RemoteLogger.swift
  DatadogLogs/Tests/RemoteLoggerTests.swift
  DatadogRUM/Sources/Instrumentation/Actions/RUMActionsHandler.swift
  DatadogRUM/Sources/Instrumentation/RUMCommandSubscriber.swift
  DatadogRUM/Sources/Instrumentation/Resources/URLSessionRUMResourcesHandler.swift
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Tests/Instrumentation/Actions/RUMActionsHandlerTests.swift
  DatadogRUM/Tests/Instrumentation/Resources/URLSessionRUMResourcesHandlerTests.swift
  DatadogRUM/Tests/RUMMonitor/MonitorTests.swift
  DatadogRUM/Tests/RUMMonitorProtocol+InternalTests.swift
  DatadogTrace/Sources/DatadogTracer.swift
  DatadogTrace/Tests/DDSpanTests.swift
  DatadogTrace/Tests/OpenTelemetry/OTelSpanTests.swift
  TestUtilities/Sources/Mocks/DatadogInternal/FeatureScopeMock.swift
  TestUtilities/Sources/Mocks/DatadogInternal/PassthroughCoreMock.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Measure SDK-scoped handoff against frozen dispatch budgets
  tools/multi-scene/handoff-isolation/README.md
  tools/multi-scene/handoff-isolation/platforms.py
  tools/multi-scene/handoff-isolation/run.py
Due: Tools Tests

Record SDK ownership and allocation acceptance
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/BASELINES.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/REVIEW_TRIAGE.md
  DatadogRUM/MultiSceneSupport/Results/EXP-166-handoff-isolation.json
  DatadogRUM/MultiSceneSupport/Results/EXP-166-handoff-performance-samples.json
  DatadogRUM/MultiSceneSupport/Results/EXP-166-handoff-performance.json
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Define navigation ownership restoration acceptance
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Preserve navigation ownership when restoring RUM sessions
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMApplicationScope.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMApplicationScopeTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Exercise session restoration in two native simulator scenes
  tools/multi-scene/session-restoration/App.swift
  tools/multi-scene/session-restoration/README.md
  tools/multi-scene/session-restoration/run.py
Due: Tools Tests

Record navigation restoration release acceptance
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/COMPONENT_REVIEW.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/REVIEW_TRIAGE.md
  DatadogRUM/MultiSceneSupport/Results/EXP-167-session-restoration.json
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Define keyed SwiftUI lifetime acceptance
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Release keyed SwiftUI occurrence callbacks with their owners
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIViewModifier.swift
  DatadogRUM/Tests/Instrumentation/Views/SwiftUIViewNameExtractorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)
