Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Lint: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Smoke Tests (visionOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Smoke Tests (macOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *

RUM-5390 Fix tvOS / visionOS build
  DatadogSessionReplay/Tests/Mocks/ImagePrivacyLevelMocks.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5390 Rename masking option
  DatadogSessionReplay/Sources/Recorder/ImagePrivacyLevel.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewRecorder.swift
  DatadogSessionReplay/Sources/SessionReplay+objc.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/Mocks/ImagePrivacyLevelMocks.swift
  DatadogSessionReplay/Tests/Processor/SnapshotProcessorTests.swift
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewRecorderTests.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewWireframesBuilderTests.swift
  DatadogSessionReplay/Tests/SessionReplayConfigurationTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Update DatadogSessionReplay/SRSnapshotTests/README.md
  DatadogSessionReplay/SRSnapshotTests/README.md
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5390 Update naming
  DatadogSessionReplay/Sources/Recorder/ImagePrivacyLevel.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewRecorder.swift
  DatadogSessionReplay/Sources/SessionReplay+objc.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/Mocks/ImagePrivacyLevelMocks.swift
  DatadogSessionReplay/Tests/Processor/SnapshotProcessorTests.swift
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewRecorderTests.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewWireframesBuilderTests.swift
  DatadogSessionReplay/Tests/SessionReplayConfigurationTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5390 Fix after rebase
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewRecorderTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

chore: Bump dd-swift-testing to recent version
  Datadog/Datadog.xcodeproj/project.pbxproj
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

chore: Update schemes to forward Test Visibility ENVs to `dd-sdk-swift-testing`
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogCore iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogCore tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogCrashReporting iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogCrashReporting tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogInternal iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogInternal tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogLogs iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogLogs tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogRUM iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogRUM tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogSessionReplay iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogTrace iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogTrace tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogWebViewTracking iOS.xcscheme
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

chore: Export ENV variables for Test Visibility product
  Makefile
  tools/secrets/config.sh
  tools/test.sh
  tools/utils/current-git.sh
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

chore: Use Test Visibility in shadowed GitLab build
  .gitlab-ci.yml
  tools/test.sh
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

chore: Enable Test Visibility for CI runs
  .gitlab-ci.yml
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

chore: Forward DD_GIT_BRANCH and DD_GIT_TAG to Test Visibility
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogCore iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogCore tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogCrashReporting iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogCrashReporting tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogInternal iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogInternal tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogLogs iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogLogs tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogRUM iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogRUM tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogSessionReplay iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogTrace iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogTrace tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogWebViewTracking iOS.xcscheme
  tools/test.sh
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

chore: Forward DD_GIT_REPOSITORY_URL to Test Visibility
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogCore iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogCore tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogCrashReporting iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogCrashReporting tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogInternal iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogInternal tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogLogs iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogLogs tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogRUM iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogRUM tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogSessionReplay iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogTrace iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogTrace tvOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogWebViewTracking iOS.xcscheme
  tools/test.sh
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

chore: Bump CI Test Visibility to `2.5.0-alpha3`
  Datadog/Datadog.xcodeproj/project.pbxproj
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

WIP
  tools/env-check.sh
Due: Tools Tests

WIP
  .gitlab-ci.yml
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Remove exporter base class
  BenchmarkTests/Benchmarks/Sources/Exporter.swift
  BenchmarkTests/Benchmarks/Sources/MetricExporter.swift
Due: none

debug
  tools/env-check.sh
Due: Tools Tests

chore: Cleanup ENVs in DatadogObjc xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogObjc iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogObjc tvOS.xcscheme
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

wwip
  tools/env-check.sh
Due: Tools Tests

Use enum for scenarios
  BenchmarkTests/Runner/AppDelegate.swift
  BenchmarkTests/Runner/Scenarios/SyntheticScenario.swift
Due: none

RUM-5752 Add License.txt
  BenchmarkTests/BenchmarkTests.xcodeproj/project.pbxproj
  BenchmarkTests/UIKitCatalog/LICENSE/LICENSE.txt
Due: none

RUM-5390 Fix lazy identifier
  DatadogSessionReplay/Sources/Recorder/Utilities/UIImage+SessionReplay.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

run with DD_TRACE_DEBUG
  .gitlab-ci.yml
  Datadog/Datadog.xcodeproj/project.pbxproj
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogRUM iOS.xcscheme
  Makefile
  tools/test.sh
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

wip - less log
  tools/test.sh
Due: Tools Tests

wip - deploy .git to artifact
  .gitlab-ci.yml
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

wip -r
  .gitlab-ci.yml
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Bumped version to 2.16.0
  DatadogAlamofireExtension.podspec
  DatadogCore.podspec
  DatadogCore/Sources/Versioning.swift
  DatadogCrashReporting.podspec
  DatadogInternal.podspec
  DatadogLogs.podspec
  DatadogObjc.podspec
  DatadogRUM.podspec
  DatadogSDK.podspec
  DatadogSDKAlamofireExtension.podspec
  DatadogSDKCrashReporting.podspec
  DatadogSDKObjc.podspec
  DatadogSessionReplay.podspec
  DatadogTrace.podspec
  DatadogWebViewTracking.podspec
  TestUtilities.podspec
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Update CHANGELOG.md
  CHANGELOG.md
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Apply CR review suggestions
  BenchmarkTests/Benchmarks/Sources/Benchmarks.swift
  BenchmarkTests/Runner/Scenarios/SyntheticScenario.swift
Due: none

RUM-5390 Update CHANGELOG
  CHANGELOG.md
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Always assume device is online on Apple Watch
  DatadogCore/Sources/Core/Upload/DataUploadConditions.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5555 Collect CPU usage
  BenchmarkTests/Benchmarks/Sources/Benchmarks.swift
  BenchmarkTests/Benchmarks/Sources/Metrics.swift
Due: none

Update SyntheticRun doc
  BenchmarkTests/Runner/Scenarios/SyntheticScenario.swift
Due: none

Fix build
  BenchmarkTests/Runner/AppDelegate.swift
Due: none

RUM-5555 Add job to build benchmarks runner
  .gitlab-ci.yml
  BenchmarkTests/Makefile
  Makefile
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

chore: Export DD_TRACE_DEBUG and enhance CI env debugging
  tools/env-check.sh
  tools/test.sh
Due: Tools Tests

RUM-5716 fix: propagate global Tracer tags to otel span attributes
  Datadog/Example/ExampleAppDelegate.swift
  DatadogTrace/Sources/OpenTelemetry/OTelSpan.swift
  DatadogTrace/Tests/OpenTelemetry/OTelSpanTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

update changelog
  CHANGELOG.md
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)
