Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

ENV check:
  stage: pre
  script:
  - ./tools/runner-setup.sh --datadog-ci
  - make env-check

Dependency Cache:
  stage: pre
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: push
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean dependencies

Lint:
  stage: lint
  script:
  - make clean repo-setup ENV=ci
  - make lint license-check
  - make rum-models-verify sr-models-verify

Unit Tests (iOS):
  stage: test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

Unit Tests (tvOS):
  stage: test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

UI Tests:
  stage: ui-test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  parallel:
    matrix:
    - TEST_PLAN:
      - Default
      - RUM
      - CrashReporting
      - NetworkInstrumentation
  script:
  ...

SR Snapshot Tests:
  stage: ui-test
  variables:
    PLATFORM: iOS Simulator
    IOS_OS: '17.5'
    DEVICE: iPhone 15
    ARTIFACTS_PATH: artifacts
  artifacts:
    paths:
    - artifacts
    expire_in: 1 week
    when: on_failure
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  ...

Tools Tests:
  stage: test
  script:
  - make clean repo-setup ENV=ci
  - make tools-test

Benchmark Build:
  stage: smoke-test
  script:
  - make benchmark-build

Smoke Tests (iOS):
  stage: smoke-test
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-ios-all OS="$DEFAULT_IOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

Smoke Tests (tvOS):
  stage: smoke-test
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-tvos-all OS="$DEFAULT_TVOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

SPM Build (Swift 5.10):
  stage: smoke-test
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --iOS --tvOS --visionOS --watchOS
  - make clean repo-setup ENV=ci
  - make spm-build-ios
  - make spm-build-tvos
  - make spm-build-visionos
  - make spm-build-macos
  - make spm-build-watchos

RUM-16802: Clean up state when profiling stops
  DatadogProfiling/Sources/DatadogProfiler.swift
  DatadogProfiling/Sources/Profiling.swift
  DatadogProfiling/Tests/DatadogProfilerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-18420: Improve telemetry
  DatadogProfiling/Mach/dd_profiler.cpp
  DatadogProfiling/Mach/include/dd_profiler.h
  DatadogProfiling/Mach/mach_sampling_profiler.cpp
  DatadogProfiling/Sources/DatadogProfiler.swift
  DatadogProfiling/Sources/ProfilingHandler.swift
  DatadogProfiling/Sources/SDKMetrics/ProfilingSessionMetric.swift
  DatadogProfiling/Sources/SDKMetrics/ProfilingTelemetryController.swift
  DatadogProfiling/Tests/DDProfilerTests.swift
  DatadogProfiling/Tests/DatadogProfilerTests.swift
  DatadogProfiling/Tests/SDKMetrics/ProfilingTelemetryControllerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-18420: Fix Profiling C++ lint violations
  .clang-tidy
  DatadogProfiling/Mach/aggregation_worker.cpp
  DatadogProfiling/Mach/dd_pprof.cpp
  DatadogProfiling/Mach/include/dd_pprof.h
  DatadogProfiling/Mach/mach_sampling_profiler.cpp
  DatadogProfiling/Mach/profile_pprof_packer.cpp
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-18464: Migrate `DatadogProfiling` to Swift 6
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogProfiling/Sources/DatadogProfiler.swift
  DatadogProfiling/Sources/Profiling.swift
  DatadogProfiling/Sources/ProfilingConfiguration.swift
  DatadogProfiling/Sources/ProfilingQuotaChecker.swift
  DatadogProfiling/Tests/DatadogProfilerTests.swift
  DatadogProfiling/Tests/ProfilingQuotaCheckerTests.swift
  DatadogProfiling/Tests/SafeReadTests.swift
  Package.swift
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-18464: Enable Swift 6 for `DatadogProfiling` CocoaPods target
  DatadogProfiling.podspec
  DatadogProfiling/Sources/ProfilingQuotaChecker.swift
  DatadogProfiling/Sources/SDKMetrics/ProfilingSessionMetric.swift
  DatadogProfiling/Sources/SDKMetrics/ProfilingTelemetryController.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-18464: Keep Mach profiler dependency implementation-only
  DatadogProfiling/Sources/DatadogProfiler.swift
  DatadogProfiling/Sources/ProfilerFeature.swift
  DatadogProfiling/Sources/Profiling.swift
  DatadogProfiling/Sources/ProfilingHandler.swift
  DatadogProfiling/Sources/SDKMetrics/AggregationDiagnosticsMetric.swift
  DatadogProfiling/Sources/SDKMetrics/ConfigurationMetric.swift
  DatadogProfiling/Sources/SDKMetrics/ProfilingTelemetryController.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-18528: Strip arm64e PAC bits during CPU profiler stack unwinding
  DatadogProfiling/Mach/mach_sampling_profiler.cpp
  DatadogProfiling/Tests/SafeReadTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-18464: Create `ProfilingQuotaResultListener` typealias
  DatadogProfiling/Sources/ProfilingQuotaChecker.swift
  DatadogProfiling/Sources/SDKMetrics/ProfilingSessionMetric.swift
  DatadogProfiling/Tests/ProfilingQuotaCheckerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-16039: Remove Profiling feature flag for CPU time
  BenchmarkTests/Runner/Scenarios/Profiling/ProfilingScenario.swift
  DatadogProfiling/Mach/dd_profiler.cpp
  DatadogProfiling/Mach/include/dd_profiler.h
  DatadogProfiling/PROFILING_FEATURE.md
  DatadogProfiling/Sources/ProfilerFeature.swift
  DatadogProfiling/Sources/ProfilingConfiguration.swift
  DatadogProfiling/Tests/DDProfilerTests.swift
  DatadogProfiling/Tests/ProfilerFeatureTests.swift
  DatadogProfiling/Tests/ProfilingConfigurationTests.swift
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update Changelog
  CHANGELOG.md
  DatadogProfiling/PROFILING_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-18420: Preserve app launch samples until TTID processing
  DatadogProfiling/Mach/dd_profiler.cpp
  DatadogProfiling/Sources/DatadogProfiler.swift
  DatadogProfiling/Sources/Models/ProfilingOperation.swift
  DatadogProfiling/Sources/ProfilingQuotaChecker.swift
  DatadogProfiling/Tests/DDProfilerTests.swift
  DatadogProfiling/Tests/DatadogProfilerTests.swift
  DatadogProfiling/Tests/ProfilingHandlerTests.swift
  DatadogProfiling/Tests/ProfilingQuotaCheckerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Validate captured Resource ownership across native scenes
  Datadog/Example/MultiSceneProbe/RUMNativeMultiSceneProbe.xcodeproj/project.pbxproj
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioCatalog.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioDriver.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeSignal.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeStep.swift
  Datadog/Example/MultiSceneProbe/Sources/ProbeRUMEventAdapter.swift
  Datadog/Example/MultiSceneProbe/Sources/ProbeResourceAcceptance.swift
  Datadog/Example/MultiSceneProbe/Sources/ProbeWindowView.swift
  Datadog/Example/MultiSceneProbe/Sources/RUMNativeMultiSceneProbeApp.swift
  Datadog/Example/MultiSceneProbe/Tests/ProbeScenarioRunnerTests.swift
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/Results/EXP-176-resource-start.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  tools/multi-scene/acceptance/README.md
  tools/multi-scene/acceptance/acceptance.py
  tools/multi-scene/acceptance/acceptance_common.py
  tools/multi-scene/acceptance/connector_driver.js
  tools/multi-scene/acceptance/resource-scenario-contract.json
  tools/multi-scene/acceptance/resource_contract.py
  tools/multi-scene/acceptance/test_connector.js
  tools/multi-scene/acceptance/test_resource_contract.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Isolate the native Resource acceptance batch
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioCatalog.swift
  Datadog/Example/MultiSceneProbe/Sources/RUMNativeMultiSceneProbeApp.swift
  Datadog/Example/MultiSceneProbe/Tests/ProbeScenarioRunnerTests.swift
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/Results/EXP-176-resource-start.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp176-20260917T163012Z-fbc7a866e7b7.json
  tools/multi-scene/acceptance/resource-scenario-contract.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Wait for observed Resource fixture lifecycle boundaries
  Datadog/Example/MultiSceneProbe/Sources/ProbeResourceAcceptance.swift
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/Results/EXP-176-resource-start.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp176-20260917T163328Z-78a3649772d6.json
  tools/multi-scene/acceptance/README.md
  tools/multi-scene/acceptance/resource_contract.py
  tools/multi-scene/acceptance/test_resource_contract.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Capture Resource owners before serial scene retirement
  Datadog/Example/MultiSceneProbe/Sources/ProbeResourceAcceptance.swift
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/Results/EXP-176-resource-start.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp176-20260917T163814Z-25918a4c7847.json
  tools/multi-scene/acceptance/README.md
  tools/multi-scene/acceptance/acceptance.py
  tools/multi-scene/acceptance/resource_contract.py
  tools/multi-scene/acceptance/test_resource_contract.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Decode Objective-C attributes in Resource mapper evidence
  Datadog/Example/MultiSceneProbe/Sources/ProbeRUMEventAdapter.swift
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/Results/EXP-176-resource-start.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp176-20260917T164420Z-01d729a8a777.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-9054] Make layer snapshot environments configurable
  .gitlab-ci.yml
  DatadogSessionReplay/SRSnapshotTests/README.md
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/SRLayerSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/SnapshotEnvironments.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Utils/LayerSnapshotEnvironment.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Utils/LayerSnapshotTestCase.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testAlert()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testAlert()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testBasicControlsAndIndicators()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testSteppers()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testSwiftUIText()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testSwiftUIText()-maskAllInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testSwiftUIText()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testTab()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testTab()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testToolbar()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests.xcodeproj/project.pbxproj
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests.xcodeproj/xcshareddata/xcschemes/SRLayerSnapshotTests.xcscheme
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/ImageComparison.swift
  Makefile
  tools/sr-snapshot-test.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Close the Resource ownership release gate
  .continue-here.md
  DatadogRUM/MULTI_SCENE_SUPPORT.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-176-resource-start.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp176-20260917T164857Z-a72e79966b23.json
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Define current-view error ownership acceptance
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-177-current-view-errors.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Target current-view errors and complete dropped error commands
  DatadogCore/Tests/Objc/ObjcAPITests/DDRUMMonitor+apiTests.m
  DatadogRUM/Sources/RUM+objc.swift
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/RUMCommand.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMApplicationScope.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Sources/RUMMonitorProtocol+Convenience.swift
  DatadogRUM/Tests/RUMMonitor/MonitorTests.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMApplicationScopeTests.swift
  DatadogRUM/Tests/RUMMonitorProtocol+ConvenienceTests.swift
  DatadogRUM/Tests/RUMMonitorProtocolTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Automate current-view error ownership acceptance
  Datadog/Example/MultiSceneProbe/RUMNativeMultiSceneProbe.xcodeproj/project.pbxproj
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioCatalog.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioDriver.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeStep.swift
  Datadog/Example/MultiSceneProbe/Sources/ProbeErrorAcceptance.swift
  Datadog/Example/MultiSceneProbe/Sources/ProbeWindowView.swift
  Datadog/Example/MultiSceneProbe/Sources/RUMNativeMultiSceneProbeApp.swift
  Datadog/Example/MultiSceneProbe/Tests/ProbeScenarioRunnerTests.swift
  tools/multi-scene/acceptance/README.md
  tools/multi-scene/acceptance/acceptance.py
  tools/multi-scene/acceptance/connector_driver.js
  tools/multi-scene/acceptance/error-scenario-contract.json
  tools/multi-scene/acceptance/error_contract.py
  tools/multi-scene/acceptance/test_error_contract.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record current-view error SDK validation and next acceptance gate
  .continue-here.md
  DatadogRUM/MULTI_SCENE_SUPPORT.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-177-current-view-errors.json
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Close the current-view error release gate
  .continue-here.md
  DatadogRUM/MULTI_SCENE_SUPPORT.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-177-current-view-errors.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp177-20260917T173444Z-28b735bf7f34.json
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Define targeted view attribute acceptance
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-178-view-attributes.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Enabled WebViewTracking unit tests.
  Makefile
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add device type for Mac.
  DatadogInternal/Sources/Context/DeviceInfo.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Restored MacCatalyst build.
  DatadogCore/Sources/Core/Context/macOS/AppStateProvider_macOS.swift
  DatadogCore/Sources/Core/Context/macOS/ApplicationStatePublisher_macOS.swift
  DatadogCore/Tests/Datadog/RUM/RUMMonitorTests.swift
  DatadogCore/Tests/Datadog/RUM/RUMVitals/VitalRefreshRateReaderTests.swift
  DatadogInternal/Sources/Context/WorkspaceNotifications.swift
  DatadogRUM/Sources/Utils/AccessibilityUtilities.swift
  DatadogRUM/Sources/Utils/AppKitExtensions.swift
  Makefile
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Target current-view attribute mutations
  DatadogCore/Tests/Objc/ObjcAPITests/DDRUMMonitor+apiTests.m
  DatadogRUM/Sources/RUM+objc.swift
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/RUMCommand.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Sources/RUMMonitorProtocol+Convenience.swift
  DatadogRUM/Tests/RUMMonitor/MonitorTests.swift
  DatadogRUM/Tests/RUMMonitorProtocol+ConvenienceTests.swift
  DatadogRUM/Tests/RUMMonitorProtocolTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record targeted attribute SDK validation and acceptance boundary
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/Results/EXP-178-view-attributes.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Consolidate multi-scene documentation ownership and release evidence
  .continue-here.md
  DatadogRUM/MULTI_SCENE_SUPPORT.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/COMPONENT_REVIEW.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/DOCUMENTATION_CHECKPOINT_EXP-178.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/REVIEW_TRIAGE.md
  DatadogRUM/MultiSceneSupport/Results/documentation-consolidation-EXP-178.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  tools/multi-scene/release_checklist.py
  tools/multi-scene/test_release_checklist.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Validate targeted view attribute mutations across native scenes
  .continue-here.md
  Datadog/Example/MultiSceneProbe/RUMNativeMultiSceneProbe.xcodeproj/project.pbxproj
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioCatalog.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioDriver.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeSignal.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeStep.swift
  Datadog/Example/MultiSceneProbe/Sources/ProbeAttributeAcceptance.swift
  Datadog/Example/MultiSceneProbe/Sources/ProbeWindowView.swift
  Datadog/Example/MultiSceneProbe/Sources/RUMNativeMultiSceneProbeApp.swift
  Datadog/Example/MultiSceneProbe/Tests/ProbeScenarioRunnerTests.swift
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/Results/EXP-178-view-attributes.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  tools/multi-scene/acceptance/README.md
  tools/multi-scene/acceptance/acceptance.py
  tools/multi-scene/acceptance/attribute-scenario-contract.json
  tools/multi-scene/acceptance/attribute_contract.py
  tools/multi-scene/acceptance/connector_driver.js
  tools/multi-scene/acceptance/test_attribute_contract.py
  tools/multi-scene/acceptance/test_connector.js
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Accept targeted view attributes with native and backend evidence
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/Results/EXP-178-view-attributes.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp178-20260917T221447Z-1f56786fe833.json
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Define targeted custom timing and loading acceptance
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/Results/EXP-179-timing-loading.json
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Target custom timing and loading on current views
  DatadogCore/Tests/Objc/ObjcAPITests/DDRUMMonitor+apiTests.m
  DatadogRUM/Sources/RUM+objc.swift
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/RUMCommand.swift
  DatadogRUM/Sources/RUMMonitorProtocol+Convenience.swift
  DatadogRUM/Tests/RUMMonitor/MonitorTests.swift
  DatadogRUM/Tests/RUMMonitorProtocol+ConvenienceTests.swift
  DatadogRUM/Tests/RUMMonitorProtocolTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record timing and loading SDK validation
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/Results/EXP-179-timing-loading.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Validate native timing and loading checkpoints
  .continue-here.md
  Datadog/Example/MultiSceneProbe/RUMNativeMultiSceneProbe.xcodeproj/project.pbxproj
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioCatalog.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioDriver.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeSignal.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeStep.swift
  Datadog/Example/MultiSceneProbe/Sources/ProbeRUMEventAdapter.swift
  Datadog/Example/MultiSceneProbe/Sources/ProbeTimingAcceptance.swift
  Datadog/Example/MultiSceneProbe/Sources/ProbeWindowView.swift
  Datadog/Example/MultiSceneProbe/Sources/RUMNativeMultiSceneProbeApp.swift
  Datadog/Example/MultiSceneProbe/Tests/ProbeScenarioRunnerTests.swift
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/Results/EXP-179-timing-loading.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  tools/multi-scene/acceptance/README.md
  tools/multi-scene/acceptance/acceptance.py
  tools/multi-scene/acceptance/connector_driver.js
  tools/multi-scene/acceptance/test_connector.js
  tools/multi-scene/acceptance/test_timing_contract.py
  tools/multi-scene/acceptance/timing-scenario-contract.json
  tools/multi-scene/acceptance/timing_contract.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Accept targeted timing and loading with native and backend evidence
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/Results/EXP-179-timing-loading.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp179-20260917T225049Z-96f185f6daaf.json
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Define targeted flags and captured internal mutation acceptance
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-180-flags-internal-mutations.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Target flag evaluations and capture their originating RUM context
  DatadogCore/Tests/Datadog/DatadogCore/MessageBusTests.swift
  DatadogCore/Tests/Objc/ObjcAPITests/DDRUMMonitor+apiTests.m
  DatadogFlags/Sources/Client/RUMFlagEvaluationReporter.swift
  DatadogFlags/Tests/Client/RUMFlagEvaluationReporterTests.swift
  DatadogInternal/Sources/MessageBus/FeatureMessage.swift
  DatadogInternal/Sources/NetworkInstrumentation/NetworkContext.swift
  DatadogRUM/Sources/Integrations/FlagEvaluationReceiver.swift
  DatadogRUM/Sources/RUM+objc.swift
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/RUMCommand.swift
  DatadogRUM/Sources/RUMMonitorProtocol+Convenience.swift
  DatadogRUM/Tests/RUMMonitor/MonitorTests.swift
  DatadogRUM/Tests/RUMMonitorProtocol+ConvenienceTests.swift
  DatadogRUM/Tests/RUMMonitorProtocolTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record flag routing SDK validation and safety disposition
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-180-flags-internal-mutations.json
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
