Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Lint: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Smoke Tests (visionOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Smoke Tests (macOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *

RUM-5760 Add textAndInputPrivacyLevel
  DatadogCore/Tests/DatadogObjc/DDSessionReplayTests.swift
  DatadogCore/Tests/DatadogObjc/ObjcAPITests/DDSessionReplay+apiTests.m
  DatadogInternal/Sources/Models/SessionReplay/SessionReplayConfiguration.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SnapshotTestCase.swift
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Recorder/PrivacyLevel.swift
  DatadogSessionReplay/Sources/Recorder/Recorder.swift
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
  DatadogSessionReplay/Sources/SessionReplay+objc.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/Feature/RequestBuilder/JSON/SegmentJSONTests.swift
  DatadogSessionReplay/Tests/Mocks/RecorderMocks.swift
  DatadogSessionReplay/Tests/Processor/SnapshotProcessorTests.swift
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
  DatadogSessionReplay/Tests/SessionReplayTests.swift
  DatadogWebViewTracking/Tests/WebViewTrackingTests.swift
  TestUtilities/Mocks/FeatureModels/SessionReplayConfigurationMocks.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Replace BENCHMARK compilation flag by DD_BENCHMARK
  BenchmarkTests/Makefile
  DatadogInternal/Sources/Benchmarks/BenchmarkProfiler.swift
  Package.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Apply CR suggestion
  DatadogInternal/Sources/Benchmarks/BenchmarkProfiler.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Rename benchmarks enablement methods
  BenchmarkTests/Benchmarks/Sources/Benchmarks.swift
  BenchmarkTests/Runner/AppDelegate.swift
Due: none

RUM-5390 Add session replay image privacy level
  CHANGELOG.md
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Tests/DatadogObjc/DDSessionReplayTests.swift
  DatadogCore/Tests/DatadogObjc/ObjcAPITests/DDSessionReplay+apiTests.m
  DatadogInternal/Sources/Models/SessionReplay/SessionReplayConfiguration.swift
  DatadogInternal/Sources/Telemetry/Telemetry.swift
  DatadogInternal/Tests/Telemetry/TelemetryMocks.swift
  DatadogSessionReplay/SRSnapshotTests/README.md
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/SRSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SnapshotTestCase.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testImages_MaskAll()-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testImages_MaskAll()-mask-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testImages_MaskNone()-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testImages_MaskNone()-mask-privacy.png.json
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Recorder/ImagePrivacyLevel.swift
  DatadogSessionReplay/Sources/Recorder/PrivacyLevel.swift
  DatadogSessionReplay/Sources/Recorder/Recorder.swift
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
  DatadogSessionReplay/Sources/Recorder/TouchPrivacyLevel.swift
  DatadogSessionReplay/Sources/Recorder/Utilities/UIImage+SessionReplay.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIActivityIndicatorRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageResource.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewRecorder.swift
  DatadogSessionReplay/Sources/SessionReplay+objc.swift
  DatadogSessionReplay/Sources/SessionReplay.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/Feature/RequestBuilder/JSON/SegmentJSONTests.swift
  DatadogSessionReplay/Tests/Mocks/ImagePrivacyLevelMocks.swift
  DatadogSessionReplay/Tests/Mocks/RecorderMocks.swift
  DatadogSessionReplay/Tests/Mocks/TouchPrivacyLevelMocks.swift
  DatadogSessionReplay/Tests/Processor/SnapshotProcessorTests.swift
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewRecorderTests.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewWireframesBuilderTests.swift
  DatadogSessionReplay/Tests/SessionReplayConfigurationTests.swift
  DatadogSessionReplay/Tests/SessionReplayTests.swift
  DatadogWebViewTracking/Tests/WebViewTrackingTests.swift
  TestUtilities/Mocks/FeatureModels/SessionReplayConfigurationMocks.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5390 PR fixes
  CHANGELOG.md
  DatadogSessionReplay/Sources/Recorder/ImagePrivacyLevel.swift
  DatadogSessionReplay/Sources/SessionReplay+objc.swift
  DatadogSessionReplay/Tests/SessionReplayTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5762 [Session Replay] Ignore touch snapshots when touchPrivacyLevel is set to .hide
  DatadogSessionReplay/Sources/Recorder/Recorder.swift
  DatadogSessionReplay/Tests/Recorder/RecorderTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5762 Fix integration test + rebase feature branch
  IntegrationTests/Runner/Scenarios/SessionReplay/SRScenarios.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

fix: remove retry information from Logs and Trace requests
  DatadogLogs/Sources/Feature/RequestBuilder.swift
  DatadogTrace/Sources/Feature/RequestBuilder.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

fix test case
  DatadogCore/Tests/Datadog/Logs/DatadogLogsFeatureTests.swift
  DatadogCore/Tests/Datadog/Tracing/DatadogTraceFeatureTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

fix integ tests
  IntegrationTests/IntegrationScenarios/Scenarios/Logging/LoggingCommonAsserts.swift
  IntegrationTests/IntegrationScenarios/Scenarios/Tracing/TracingCommonAsserts.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-4571 feat: add support for usage telemetry
  DatadogCore/Tests/Datadog/Mocks/RUMDataModelMocks.swift
  DatadogInternal/Sources/Telemetry/Telemetry.swift
  DatadogObjc/Sources/RUM/RUMDataModels+objc.swift
  DatadogRUM/Sources/DataModels/RUMDataModels.swift
  DatadogRUM/Sources/Integrations/TelemetryReceiver.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Tests/Mocks/RUMDataModelMocks.swift
  TestUtilities/Mocks/TelemetryMocks.swift
  tools/rum-models-generator/Sources/CodeGeneration/Generate/JSONSchema.swift
  tools/rum-models-generator/Sources/CodeGeneration/Generate/Transformers/Swift/JSONToSwiftTypeTransformer.swift
  tools/rum-models-generator/Sources/CodeGeneration/Print/ObjcInteropPrinter.swift
  tools/rum-models-generator/Tests/CodeGenerationTests/Fixtures/fixture-schema-with-oneof-without-title.json
  tools/rum-models-generator/Tests/CodeGenerationTests/Fixtures/fixture-schema-with-oneof.json
  tools/rum-models-generator/Tests/CodeGenerationTests/Generate/JSONSchemaReaderTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5841 feat(view-loading-api): setup addViewLoadingTime usage telemetry
  DatadogObjc/Sources/RUM/RUMDataModels+objc.swift
  DatadogRUM/Sources/DataModels/RUMDataModels.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Bundle update
  Gemfile.lock
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5841 feat(view-loading-api): implement addViewLoadingTime API
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/RUMCommand.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Sources/RUMMonitorProtocol.swift
  DatadogRUM/Tests/RUMMonitor/Monitor+GlobalAttributesTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

fix spi error
  DatadogRUM/Sources/RUMMonitorProtocol.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5841 feat(view-loading-api): update changelog
  CHANGELOG.md
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

regenerate
  DatadogObjc/Sources/RUM/RUMDataModels+objc.swift
  DatadogRUM/Sources/DataModels/RUMDataModels.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

refactor type skipping
  Makefile
  tools/rum-models-generator/Sources/CodeGeneration/ModelsGenerator.swift
  tools/rum-models-generator/Sources/CodeGeneration/Print/ObjcInteropPrinter.swift
  tools/rum-models-generator/Sources/rum-models-generator/GenerateRUMModels.swift
  tools/rum-models-generator/Sources/rum-models-generator/GenerateSRModels.swift
  tools/rum-models-generator/Sources/rum-models-generator/main.swift
  tools/rum-models-generator/run.py
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

cleanup
  Makefile
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Add missing startRecordingImmediately parameter to SR Configuration init
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5762 [SR] Add touchPrivacyLevel option
  DatadogCore/Tests/DatadogObjc/DDSessionReplayTests.swift
  DatadogCore/Tests/DatadogObjc/ObjcAPITests/DDSessionReplay+apiTests.m
  DatadogInternal/Sources/Models/SessionReplay/SessionReplayConfiguration.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SnapshotTestCase.swift
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Recorder/PrivacyLevel.swift
  DatadogSessionReplay/Sources/Recorder/Recorder.swift
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
  DatadogSessionReplay/Sources/SessionReplay+objc.swift
  DatadogSessionReplay/Sources/SessionReplay.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/Feature/RequestBuilder/JSON/SegmentJSONTests.swift
  DatadogSessionReplay/Tests/Mocks/RecorderMocks.swift
  DatadogSessionReplay/Tests/Processor/SnapshotProcessorTests.swift
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
  DatadogSessionReplay/Tests/SessionReplayTests.swift
  DatadogWebViewTracking/Tests/WebViewTrackingTests.swift
  TestUtilities/Mocks/FeatureModels/SessionReplayConfigurationMocks.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5762 Update new API
  DatadogCore/Tests/DatadogObjc/DDSessionReplayTests.swift
  DatadogCore/Tests/DatadogObjc/ObjcAPITests/DDSessionReplay+apiTests.m
  DatadogSessionReplay/Sources/SessionReplay+objc.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/SessionReplayTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5764 Move TextAndInputPrivacyLevel to SR module, like other privacy levels + edit unit tests
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/Models/SessionReplay/SessionReplayConfiguration.swift
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Recorder/PrivacyLevel.swift
  DatadogSessionReplay/Sources/Recorder/Recorder.swift
  DatadogSessionReplay/Sources/Recorder/TextAndInputPrivacyLevel.swift
  DatadogSessionReplay/Sources/SessionReplay+objc.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/Mocks/TextAndInputPrivacyLevelMocks.swift
  DatadogSessionReplay/Tests/Processor/SnapshotProcessorTests.swift
  DatadogSessionReplay/Tests/Recorder/TextAndInputPrivacyLevelTests.swift
  DatadogSessionReplay/Tests/SessionReplayTests.swift
  DatadogWebViewTracking/Tests/WebViewTrackingTests.swift
  Gemfile.lock
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

fix: Benchmark Upload
  .gitlab-ci.yml
  BenchmarkTests/Makefile
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Update DatadogRUM/Sources/RUMMonitorProtocol.swift
  DatadogRUM/Sources/RUMMonitorProtocol.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Update DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

introduce missed event type
  DatadogRUM/Sources/RUMMonitor/RUMCommand.swift
  DatadogRUM/Sources/SDKMetrics/SessionEndedMetric.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Test CI job failure
  .gitlab-ci.yml
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5764 Address comments
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SnapshotTestCase.swift
  DatadogSessionReplay/Sources/SessionReplay+objc.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/SessionReplayTests.swift
  Gemfile.lock
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

feat: Improve metrics collected during benchmarks
  BenchmarkTests/Benchmarks/Sources/Benchmarks.swift
  BenchmarkTests/Benchmarks/Sources/Metrics.swift
Due: none
