Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

ENV check:
  stage: pre
  script:
  - ./tools/runner-setup.sh --datadog-ci
  - make env-check

Lint:
  stage: lint
  script:
  - make clean repo-setup ENV=ci
  - make lint license-check
  - make rum-models-verify sr-models-verify

Unit Tests (iOS):
  stage: test
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 15 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  - make test-ios-all OS="$DEFAULT_IOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE" USE_TEST_VISIBILITY=1

Unit Tests (tvOS):
  stage: test
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  - make test-tvos-all OS="$DEFAULT_TVOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE" USE_TEST_VISIBILITY=1

UI Tests:
  stage: ui-test
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 15 Pro
  parallel:
    matrix:
    - TEST_PLAN:
      - Default
      - RUM
      - CrashReporting
      - NetworkInstrumentation
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

SR Snapshot Tests:
  stage: ui-test
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 15
    ARTIFACTS_PATH: artifacts
  artifacts:
    paths:
    - artifacts
    expire_in: 1 week
    when: on_failure
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  ...

Tools Tests:
  stage: test
  script:
  - make clean repo-setup ENV=ci
  - make tools-test

Benchmark Build:
  stage: smoke-test
  script:
  - make benchmark-build

Smoke Tests (iOS):
  stage: smoke-test
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 15 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-ios-all OS="$DEFAULT_IOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

Smoke Tests (tvOS):
  stage: smoke-test
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-tvos-all OS="$DEFAULT_IOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

SPM Build (Swift 5.10):
  stage: smoke-test
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --iOS --tvOS --visionOS --watchOS
  - make clean repo-setup ENV=ci
  - make spm-build-ios
  - make spm-build-tvos
  - make spm-build-visionos
  - make spm-build-macos
  - make spm-build-watchos

SPM Build (Swift 5.9):
  stage: smoke-test
  tags:
  - macos:ventura
  - specific:true
  variables:
    XCODE: 15.2.0
  script:
  - ./tools/runner-setup.sh --xcode "$XCODE" --iOS --tvOS --visionOS --watchOS
  - make clean repo-setup ENV=ci
  - make spm-build-ios
  - make spm-build-tvos
  - make spm-build-visionos
  - make spm-build-macos
  ...

RUM-8415 - Use type description + enums + regex + other CR suggestions
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/Utils/Dumper.swift
  DatadogRUM/Sources/Instrumentation/RUMInstrumentation.swift
  DatadogRUM/Sources/Instrumentation/Views/RUMViewsHandler.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIControllerType.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIViewNameExtractor+HostingController.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIViewNameExtractor+NavigationStackController.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIViewNameExtractor+SheetContent.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIViewNameExtractor+Tabbar.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIViewNameExtractor.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIViewPath.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/TopLevelReflector.swift
  DatadogRUM/Tests/Instrumentation/Views/SwiftUIViewNameExtractorTests.swift
  DatadogRUM/Tests/Integrations/SwiftUIViewNameExtractorIntegrationTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8415 - Address Simao's comments
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIControllerType.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIViewNameExtractor.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIViewPath.swift
  DatadogRUM/Tests/Instrumentation/Views/SwiftUIViewNameExtractorTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Address CR comments
  DatadogInternal/Sources/Utils/CustomDump.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIViewNameExtractor.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIViewPath.swift
  DatadogRUM/Sources/RUM.swift
  DatadogRUM/Tests/Instrumentation/Views/SwiftUIViewNameExtractorTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8415 Replace Reflector with ReflectionMirror
  DatadogInternal/Sources/Utils/ReflectionMirror.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIViewNameExtractor.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/TopLevelReflector.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8416 - Add view tracking option for SwiftUI
  DatadogRUM/Sources/Instrumentation/RUMInstrumentation.swift
  DatadogRUM/Sources/RUMConfiguration.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Apply CR suggestions
  DatadogCore/Sources/SDKMetrics/BenchmarkURLSessionTaskDelegate.swift
  DatadogInternal/Sources/Benchmarks/BenchmarkProfiler.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8416 Add auto-tracking option for SwiftUI in RUM Configuration
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogRUM/Tests/Instrumentation/RUMInstrumentationTests.swift
  DatadogRUM/Tests/Instrumentation/Views/RUMViewsHandlerTests.swift
  DatadogRUM/Tests/Mocks/RUMFeatureMocks.swift
  DatadogRUM/Tests/RUMConfigurationTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

GH-2239 chore: Refine errors printed from `clearAllData()`
  DatadogCore/Sources/Core/DataStore/FeatureDataStore.swift
  DatadogCore/Sources/Core/Storage/Files/Directory.swift
  DatadogCore/Tests/Datadog/Core/Persistence/Files/DirectoryTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8042 Replace Upload Quality with Batch Blocked telemetry
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Sources/Core/Upload/DataUploadWorker.swift
  DatadogCore/Sources/SDKMetrics/BatchMetrics.swift
  DatadogCore/Tests/Datadog/Core/Upload/DataUploadWorkerTests.swift
  DatadogInternal/Sources/SDKMetrics/UploadCycleMetric.swift
  DatadogRUM/Sources/Integrations/TelemetryInterceptor.swift
  DatadogRUM/Sources/SDKMetrics/SessionEndedMetric.swift
  DatadogRUM/Sources/SDKMetrics/SessionEndedMetricController.swift
  DatadogRUM/Tests/Integrations/TelemetryInterceptorTests.swift
  DatadogRUM/Tests/SDKMetrics/SessionEndedMetricControllerTests.swift
  DatadogRUM/Tests/SDKMetrics/SessionEndedMetricTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8042 Add count of batches blocked
  DatadogCore/Sources/Core/Upload/DataUploadWorker.swift
  DatadogCore/Sources/SDKMetrics/BatchMetrics.swift
  DatadogCore/Tests/Datadog/Core/Upload/DataUploadWorkerTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add public initializer for SwiftUI view predicate
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIRUMViewsPredicate.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8847 Remove automatic RUMUntrackedModal
  DatadogRUM/Sources/Instrumentation/Views/RUMViewsHandler.swift
  DatadogRUM/Tests/Instrumentation/Views/RUMViewsHandlerTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8847 Add Integration test coverage
  IntegrationTests/Runner/Scenarios/RUM/SwiftUIInstrumentation/SwiftUIRootViewController.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-7564 Update to Xcode 16.2
  .gitlab-ci.yml
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-7564 Fix testRUMTapActionScenario
  IntegrationTests/IntegrationScenarios/Scenarios/RUM/RUMTapActionScenarioTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-9224 Upgrade to OTelApi 1.13.1
  BenchmarkTests/Benchmarks/Package.swift
  Cartfile
  Cartfile.resolved
  DatadogTrace.podspec
  Package.swift
  SmokeTests/cocoapods/Podfile.src
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-9224 Update CHANGELOG.md
  CHANGELOG.md
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-9224 Differentiate OTelApi version depending on source
  BenchmarkTests/Benchmarks/Package.swift
  Package.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Bumped version to 2.24.1
  DatadogAlamofireExtension.podspec
  DatadogCore.podspec
  DatadogCore/Sources/Versioning.swift
  DatadogCrashReporting.podspec
  DatadogInternal.podspec
  DatadogLogs.podspec
  DatadogObjc.podspec
  DatadogRUM.podspec
  DatadogSessionReplay.podspec
  DatadogTrace.podspec
  DatadogWebViewTracking.podspec
  TestUtilities.podspec
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix license checks in benchmarks
  tools/license/check-license.sh
Due: Tools Tests

RUM-8455 RUM Manual scenario and UI
  BenchmarkTests/BenchmarkTests.xcodeproj/project.pbxproj
  BenchmarkTests/Runner/Scenarios/RUM/RUMManualScenario.swift
  BenchmarkTests/Runner/Scenarios/RUM/UI/RUMManualContentView.swift
  BenchmarkTests/Runner/Scenarios/SyntheticScenario.swift
Due: Benchmark Build

RUM-8455 Folder restructuring
  BenchmarkTests/Runner/Scenarios/LogsCustom /LogsCustomScenario.swift
  BenchmarkTests/Runner/Scenarios/LogsCustom /UI/LogsCustomContentView.swift
  BenchmarkTests/Runner/Scenarios/LogsCustom /UI/LogsUtils.swift
  BenchmarkTests/Runner/Scenarios/LogsHeavyTraffic/LogsHeavyTrafficScenario.swift
  BenchmarkTests/Runner/Scenarios/LogsHeavyTraffic/UI/LogsHeavyTrafficContentView.swift
  BenchmarkTests/Runner/Scenarios/RUMManual/RUMManualScenario.swift
  BenchmarkTests/Runner/Scenarios/RUMManual/UI/RUMManualContentView.swift
  BenchmarkTests/Runner/Scenarios/SessionScenarioSwiftUI/SessionReplaySwiftUIScenario.swift
Due: Benchmark Build

RUM-8455 RUM Auto scenario and UI
  BenchmarkTests/BenchmarkTests.xcodeproj/project.pbxproj
  BenchmarkTests/Runner/Scenarios/Logs/LogsCustom /LogsCustomScenario.swift
  BenchmarkTests/Runner/Scenarios/Logs/LogsCustom /UI/LogsCustomContentView.swift
  BenchmarkTests/Runner/Scenarios/Logs/LogsHeavyTraffic/LogsHeavyTrafficScenario.swift
  BenchmarkTests/Runner/Scenarios/Logs/LogsHeavyTraffic/UI/LogsHeavyTrafficContentView.swift
  BenchmarkTests/Runner/Scenarios/Logs/LogsUtils.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/Core/RickMortyService.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/Core/Utils.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/Models/CharacterModels.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/Models/CommonTypes.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/Models/EpisodeModels.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/Models/LocationModels.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/RUMAutoScenario.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Characters/CharacterDetailView.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Characters/CharacterListItem.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Characters/CharactersView.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Characters/InfoRow.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Characters/StatusBadge.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Docs/DocsView.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/EpisodeDetailViewController.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Episodes/EpisodeDetailHostingController.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Episodes/EpisodeDetailView.storyboard
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Episodes/EpisodeDetailViewController.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Episodes/EpisodeListItem.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Episodes/EpisodesView.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Locations/LocationCollectionViewCell.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Locations/LocationDetailViewController.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Locations/LocationsView.storyboard
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Locations/LocationsView.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Locations/LocationsViewController.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/RUMAutoContentView.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Shared/CharacterCollectionViewCell.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMManual/RUMManualScenario.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMManual/UI/RUMManualContentView.swift
  BenchmarkTests/Runner/Scenarios/SessionReplay/SessionReplaySwiftUI/SessionReplaySwiftUIScenario.swift
  BenchmarkTests/Runner/Scenarios/SessionReplay/SessionReplayUIKit/SessionReplayScenario.swift
  BenchmarkTests/Runner/Scenarios/SyntheticScenario.swift
Due: Benchmark Build

Update CatalogUIKit storyboards target
  BenchmarkTests/CatalogUIKit/Base.lproj/ActivityIndicatorViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/AlertControllerViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/ButtonViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/ColorPickerViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/CustomPageControlViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/CustomSearchBarViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/CustomToolbarViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/DatePickerController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/DefaultPageControlViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/DefaultSearchBarViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/DefaultToolbarViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/FontPickerViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/ImagePickerViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/ImageViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/Main.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/MenuButtonViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/PickerViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/PointerInteractionButtonViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/ProgressViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/SegmentedControlViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/SliderViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/StackViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/StepperViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/SwitchViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/SymbolViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/TextFieldViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/TextViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/TintedToolbarViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/VisualEffectViewController.storyboard
  BenchmarkTests/CatalogUIKit/Base.lproj/WebViewController.storyboard
Due: Benchmark Build

RUM-8455 Apply CR suggestions
  BenchmarkTests/BenchmarkTests.xcodeproj/project.pbxproj
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/Core/RickMortyService.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/Core/Utils.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/RUMAutoScenario.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Characters/CharactersView.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/EpisodeDetailViewController.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Episodes/EpisodeDetailViewController.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Episodes/EpisodesView.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Locations/LocationDetailViewController.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Locations/LocationsViewController.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMManual/UI/RUMManualContentView.swift
Due: Benchmark Build

Fix linter errors on benchmark
  .gitlab-ci.yml
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/Core/RickMortyService.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/RUMAutoScenario.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/EpisodeDetailViewController.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Episodes/EpisodeDetailViewController.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Locations/LocationDetailViewController.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Locations/LocationsViewController.swift
  BenchmarkTests/Runner/Scenarios/RUM/RUMAuto/UI/Shared/CharacterCollectionViewCell.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8409 propagate RUM session ID in request headers
  Datadog/Datadog.xcodeproj/project.pbxproj
  Datadog/Example/ExampleAppDelegate.swift
  DatadogCore/Tests/Datadog/Tracing/TracingURLSessionHandlerTests.swift
  DatadogInternal/Sources/NetworkInstrumentation/Datadog/HTTPHeadersWriter.swift
  DatadogInternal/Sources/NetworkInstrumentation/DatadogURLSessionHandler.swift
  DatadogInternal/Sources/NetworkInstrumentation/NetworkContext.swift
  DatadogInternal/Sources/NetworkInstrumentation/NetworkContextProvider.swift
  DatadogInternal/Sources/NetworkInstrumentation/NetworkInstrumentationFeature.swift
  DatadogInternal/Sources/NetworkInstrumentation/TraceContext.swift
  DatadogInternal/Sources/NetworkInstrumentation/W3C/W3CHTTPHeaders.swift
  DatadogInternal/Sources/NetworkInstrumentation/W3C/W3CHTTPHeadersWriter.swift
  DatadogInternal/Tests/NetworkInstrumentation/HTTPHeadersWriterTests.swift
  DatadogInternal/Tests/NetworkInstrumentation/NetworkInstrumentationFeatureTests.swift
  DatadogInternal/Tests/NetworkInstrumentation/W3CHTTPHeadersWriterTests.swift
  DatadogRUM/Sources/Instrumentation/Resources/URLSessionRUMResourcesHandler.swift
  DatadogRUM/Tests/Instrumentation/Resources/URLSessionRUMResourcesHandlerTests.swift
  DatadogTrace/Sources/DDFormat.swift
  DatadogTrace/Sources/Feature/MessageReceivers.swift
  DatadogTrace/Sources/Integrations/TracingURLSessionHandler.swift
  DatadogTrace/Tests/DatadogTracer+InjectAndExtract.swift
  DatadogTrace/Tests/TracingURLSessionHandlerTests.swift
  TestUtilities/Mocks/NetworkInstrumentationMocks.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Remove -allow-internal-distribution flag to framework build script
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  tools/release/build-xcframeworks.sh
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-7746 Use sampled context injection by default
  Datadog/Example/Debugging/DebugManualTraceInjectionViewController.swift
  Datadog/IntegrationUnitTests/Trace/HeadBasedSamplingTests.swift
  DatadogInternal/Sources/NetworkInstrumentation/B3/B3HTTPHeadersWriter.swift
  DatadogInternal/Sources/NetworkInstrumentation/Datadog/HTTPHeadersWriter.swift
  DatadogInternal/Sources/NetworkInstrumentation/W3C/W3CHTTPHeadersWriter.swift
  DatadogObjc/Sources/Tracing/Propagation/B3HTTPHeadersWriter+objc.swift
  DatadogObjc/Sources/Tracing/Propagation/HTTPHeadersWriter+objc.swift
  DatadogObjc/Sources/Tracing/Propagation/W3CHTTPHeadersWriter+objc.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogTrace/Sources/TraceConfiguration.swift
  DatadogTrace/Tests/DDNoopTracerTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Bumped version to 2.25.0
  CHANGELOG.md
  DatadogAlamofireExtension.podspec
  DatadogCore.podspec
  DatadogCore/Sources/Versioning.swift
  DatadogCrashReporting.podspec
  DatadogInternal.podspec
  DatadogLogs.podspec
  DatadogObjc.podspec
  DatadogRUM.podspec
  DatadogSessionReplay.podspec
  DatadogTrace.podspec
  DatadogWebViewTracking.podspec
  TestUtilities.podspec
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-7746 make default trace sampling rate 100%
  DatadogInternal/Sources/NetworkInstrumentation/B3/B3HTTPHeadersWriter.swift
  DatadogInternal/Sources/NetworkInstrumentation/Datadog/HTTPHeadersWriter.swift
  DatadogInternal/Sources/NetworkInstrumentation/W3C/W3CHTTPHeadersWriter.swift
  DatadogObjc/Sources/Tracing/Propagation/B3HTTPHeadersWriter+objc.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogTrace/Sources/TraceConfiguration.swift
  DatadogTrace/Tests/TraceTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Support deeplink in benchmark runner
  BenchmarkTests/BenchmarkTests.xcodeproj/project.pbxproj
  BenchmarkTests/Benchmarks/Sources/Benchmarks.swift
  BenchmarkTests/README.md
  BenchmarkTests/Runner/AppDelegate.swift
  BenchmarkTests/Runner/BenchmarkMeter.swift
  BenchmarkTests/Runner/BenchmarkProfiler.swift
  BenchmarkTests/Runner/BenchmarkVitals.swift
  BenchmarkTests/Runner/Info.plist
  BenchmarkTests/Runner/Scenarios/SyntheticScenario.swift
  DatadogInternal/Sources/Benchmarks/BenchmarkProfiler.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8629: Add Telemetry to App Hitches
  Datadog/Datadog.xcodeproj/project.pbxproj
  Datadog/IntegrationUnitTests/RUM/SDKMetrics/RUMViewHitchesMetricIntegrationTests.swift
  DatadogCore/Tests/Datadog/Mocks/RUM/RUMFeatureMocks.swift
  DatadogCore/Tests/Datadog/Mocks/RUM/VitalMocks.swift
  DatadogCore/Tests/Datadog/RUM/RUMVitals/DisplayLinkerTests.swift
  DatadogCore/Tests/Datadog/RUM/RUMVitals/ViewHitchesReaderTests.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMScopeDependencies.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Sources/RUMVitals/RenderLoop/RenderLoopObserver.swift
  DatadogRUM/Sources/RUMVitals/RenderLoop/ViewHitchesReader.swift
  DatadogRUM/Sources/SDKMetrics/ViewEndedController.swift
  DatadogRUM/Sources/SDKMetrics/ViewEndedMetric.swift
  DatadogRUM/Sources/SDKMetrics/ViewEndedMetricController.swift
  DatadogRUM/Sources/SDKMetrics/ViewHitchesMetric.swift
  DatadogRUM/Tests/Mocks/RUMFeatureMocks.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMViewScopeTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-7746 make default trace sampling rate 100%
  CHANGELOG.md
  DatadogInternal/Sources/NetworkInstrumentation/B3/B3HTTPHeadersWriter.swift
  DatadogInternal/Sources/NetworkInstrumentation/Datadog/HTTPHeadersWriter.swift
  DatadogInternal/Sources/NetworkInstrumentation/W3C/W3CHTTPHeadersWriter.swift
  DatadogObjc/Sources/Tracing/Propagation/B3HTTPHeadersWriter+objc.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogTrace/Sources/TraceConfiguration.swift
  DatadogTrace/Tests/TraceTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Apply suggestions from code review
  BenchmarkTests/README.md
Due: Benchmark Build

Fix CHANGELOG.md
  CHANGELOG.md
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Assert removal of AppHang from DataStore
  DatadogRUM/Tests/Instrumentation/AppHangs/AppHangsMonitorTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-9395 Fix duplicated Fatal App Hangs
  DatadogRUM/Sources/Instrumentation/AppHangs/FatalAppHangsHandler.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
