Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *

RUM-16667 Fix warning quote format in test assertions
  DatadogWebViewTracking/Tests/WebViewTrackingTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-16667 Reuse sanitizeHostPatterns in WebViewTracking host pattern validation
  DatadogInternal/Sources/NetworkInstrumentation/HostPatternSanitizer.swift
  DatadogWebViewTracking/Sources/WebViewTracking.swift
  DatadogWebViewTracking/Tests/WebViewTrackingTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-16667 Route plain host entries through HostsSanitizer for validation parity
  DatadogInternal/Sources/NetworkInstrumentation/HostPatternSanitizer.swift
  DatadogInternal/Tests/NetworkInstrumentation/HostPatternSanitizerTests.swift
  DatadogWebViewTracking/Tests/WebViewTrackingTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-16667 Add wildcard host pattern matching to first-party hosts tracing
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Sources/NetworkInstrumentation/URLSessionInstrumentation+objc.swift
  DatadogInternal/Sources/NetworkInstrumentation/FirstPartyHosts.swift
  DatadogInternal/Sources/NetworkInstrumentation/HostPatternSanitizer.swift
  DatadogInternal/Sources/NetworkInstrumentation/URLSession/URLSessionInstrumentation.swift
  DatadogInternal/Tests/NetworkInstrumentation/FirstPartyHostsTests.swift
  DatadogInternal/Tests/NetworkInstrumentation/HostPatternSanitizerTests.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUM+Internal.swift
  DatadogRUM/Sources/RUM+objc.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogTrace/Sources/Objc/Tracing/Trace+objc.swift
  DatadogTrace/Sources/Trace.swift
  DatadogTrace/Sources/TraceConfiguration.swift
  api-surface-objc
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-16667 Refactor wildcard sanitization into HostsSanitizer and unify FirstPartyHosts matching
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/NetworkInstrumentation/FirstPartyHosts.swift
  DatadogInternal/Sources/NetworkInstrumentation/HostPatternSanitizer.swift
  DatadogInternal/Sources/NetworkInstrumentation/HostsSanitizer.swift
  DatadogInternal/Tests/NetworkInstrumentation/HostPatternSanitizerTests.swift
  DatadogInternal/Tests/NetworkInstrumentation/HostsSanitizerTests.swift
  DatadogWebViewTracking/Sources/WebViewTracking.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-16667 Fix lint and update api-surface
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogTrace/Sources/TraceConfiguration.swift
  api-surface-objc
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-16667 Reverted lint change
  DatadogInternal/Sources/NetworkInstrumentation/FirstPartyHosts.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16945] Keep _dd.compute_stats through span sanitization
  DatadogTrace/Sources/Span/SpanSanitizer.swift
  DatadogTrace/Tests/Span/SpanSanitizerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

ci: integrate cr-agent Code Review pipeline
  .cr-agent/prompt.md
  .cr-agent/run.sh
  .gitignore
  .gitlab-ci.yml
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

wip: clone with token replace
  .cr-agent/run.sh
  .gitlab-ci.yml
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

ci: configure cr-agent filtering policy
  .cr-agent/config.yaml
Due: none

wip: install toolkit with no ssh
  .cr-agent/run.sh
Due: none

[RUM-17019] Do not aggregate client-side stats without consent
  DatadogTrace/Sources/Feature/ClientStatsFeature.swift
  DatadogTrace/Sources/Feature/StatsConcentrator.swift
  DatadogTrace/Tests/ClientStatsFeatureTests.swift
  DatadogTrace/Tests/StatsConcentratorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-15945: Sign automatically created commits
  tools/dogfooding/dogfood.sh
Due: Tools Tests

Link KSCrash with `2.6.0-beta.3`version
  Package.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-17019] Confine stats consent to the concentrator queue
  DatadogTrace/Sources/Feature/StatsConcentrator.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix unify WebViewTracking.enable to accept both hosts and wildcard patterns
  DatadogWebViewTracking/Sources/ObjC/WebViewTracking+objc.swift
  DatadogWebViewTracking/Sources/WebViewTracking.swift
  DatadogWebViewTracking/Tests/WebViewTrackingTests.swift
  api-surface-objc
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16387] Fix rc-models-generate for new iOS-specific schema structure
  DatadogInternal/Sources/Models/RC/RCDataModels.swift
  tools/rum-models-generator/Sources/CodeDecoration/RCCodeDecorator.swift
  tools/rum-models-generator/Sources/CodeGeneration/Generate/JSONSchema.swift
  tools/rum-models-generator/run.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16387] Refine RemoteConfigurationProvider error handling and documentation
  DatadogCore/Sources/Core/RemoteConfigurationProvider.swift
  DatadogCore/Tests/Datadog/Core/RemoteConfigurationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16387] Report ETag caching failures and harden RemoteConfiguration tests
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogCore/Sources/Core/RemoteConfigurationProvider.swift
  DatadogCore/Tests/Datadog/Core/RemoteConfigurationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Correct FFE CODEOWNERS team
  .github/CODEOWNERS
Due: none

Bumped version to 3.13.0
  CHANGELOG.md
  DatadogCore.podspec
  DatadogCore/Sources/Versioning.swift
  DatadogCrashReporting.podspec
  DatadogFlags.podspec
  DatadogInternal.podspec
  DatadogLogs.podspec
  DatadogProfiling.podspec
  DatadogRUM.podspec
  DatadogSessionReplay.podspec
  DatadogTrace.podspec
  DatadogWebViewTracking.podspec
  TestUtilities.podspec
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update feature docs
  DatadogRUM/RUM_FEATURE.md
  DatadogSessionReplay/SESSION_REPLAY_FEATURE.md
  DatadogTrace/TRACE_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix: feature docs verify script
  tools/feature-docs-verify.sh
Due: Tools Tests

Fix dates of releases
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-3572] Replace metrics sampling with call site sampling
  Datadog/IntegrationUnitTests/Public/CoreTelemetryIntegrationTests.swift
  DatadogInternal/Sources/Telemetry/Telemetry.swift
  DatadogInternal/Tests/Telemetry/TelemetryTests.swift
  DatadogRUM/Sources/Integrations/TelemetryReceiver.swift
  DatadogRUM/Tests/Integrations/TelemetryReceiverTests.swift
  DatadogRUM/Tests/SDKMetrics/AppLaunchMetricControllerTests.swift
  DatadogRUM/Tests/SDKMetrics/SessionEndedMetricControllerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-3572] Fix UploadQualityMetric sampling to always reach TelemetryInterceptor
  DatadogCore/Sources/Core/Upload/DataUploadWorker.swift
  DatadogCore/Tests/Datadog/Core/Upload/DataUploadWorkerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-3572] Replace metrics sampling with call site sampling
  DatadogInternal/Tests/Telemetry/TelemetryTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-3572] Fix sampling regressions and improve test reliability
  Datadog/IntegrationUnitTests/Public/CoreTelemetryIntegrationTests.swift
  DatadogInternal/Sources/Telemetry/Telemetry.swift
  DatadogInternal/Tests/Telemetry/TelemetryTests.swift
  DatadogRUM/Tests/Integrations/TelemetryReceiverTests.swift
  DatadogWebViewTracking/Sources/WebViewTracking.swift
  DatadogWebViewTracking/Tests/WebViewTrackingTests.swift
  TestUtilities/Sources/Mocks/DatadogInternal/TelemetryMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-3572] Add test verifying upload_quality is not forwarded as debug event
  Datadog/IntegrationUnitTests/Public/CoreTelemetryIntegrationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-3572] Fix TestUtilities buildability: use @_spi(Internal) instead of @testable import
  DatadogInternal/Sources/Telemetry/Telemetry.swift
  DatadogRUM/Tests/Integrations/TelemetryInterceptorTests.swift
  TestUtilities/Sources/Mocks/DatadogInternal/TelemetryMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-7880] Generate Hashable composition layer models
  DatadogSessionReplay/Sources/Models/SRDataModels.swift
  DatadogSessionReplay/Sources/Processor/Diffing/Diff+SRCompositionTree.swift
  api-surface-swift
  tools/rum-models-generator/Sources/CodeDecoration/SRCodeDecorator.swift
  tools/rum-models-generator/Tests/rum-models-generatorTests/SRCodeDecoratorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-3572] Fix TestUtilities buildability and dynamic dispatch for default-rate telemetry
  DatadogInternal/Sources/Telemetry/Telemetry.swift
  DatadogSessionReplay/Tests/Feature/SessionReplayTelemetryTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-7890] Add layer snapshot processor
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/Sources/Feature/RecordingComponents.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/LayerRecorder.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/LayerSnapshotProcessor.swift
  DatadogSessionReplay/Sources/Processor/SnapshotProcessor.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerSnapshotProcessorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-7890] Preserve viewport resize when falling back to a full snapshot
  DatadogSessionReplay/Sources/LayerTreeRecorder/LayerSnapshotProcessor.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-7890] Share layer snapshot test mocks
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerRecordBuilderTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerSnapshotProcessorTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerTreeSnapshotMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-7890] Update image wireframe resource mutations
  DatadogSessionReplay/Sources/Processor/Diffing/Diff+SRWireframes.swift
  DatadogSessionReplay/Tests/Processor/Diffing/Diff+SRWireframesTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-7905] Code formatting
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Fixtures/SwiftUITextFixture.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-7905] Add layer snapshot test harness
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Fixtures/SwiftUITextFixture.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/SRLayerSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Utils/CompositionLayerView.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Utils/CompositionTreeRendering.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Utils/LayerSnapshotTestCase.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Utils/WireframeView.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/.gitignore
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/pointers/testSwiftUIText()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/pointers/testSwiftUIText()-maskAllInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/pointers/testSwiftUIText()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests.xcodeproj/project.pbxproj
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests.xcodeproj/xcshareddata/xcschemes/SRLayerSnapshotTests.xcscheme
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/ImageComparison.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/UIImage+SVG.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-7905] Add layer snapshot workflow
  .gitlab-ci.yml
  DatadogSessionReplay/SRSnapshotTests/README.md
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/pointers/testSwiftUIText()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/pointers/testSwiftUIText()-maskAllInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/pointers/testSwiftUIText()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/ImageComparison.swift
  Makefile
  tools/sr-snapshot-test.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)
