Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *

Verify serialized profile identity and Operation correlation across view changes
  .continue-here.md
  DatadogProfiling/Tests/DatadogProfilerTests.swift
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-187-profiling-operation-correlation.json
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
  DatadogRUM/Tests/RUMMonitor/RUMFeatureOperationManagerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Prepare finite multi-scene API review and compatibility decisions
  .continue-here.md
  DatadogRUM/MULTI_SCENE_SUPPORT.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/NAVIGATION_API.md
  DatadogRUM/MultiSceneSupport/OPERATIONS.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-187-profiling-operation-correlation.json
  DatadogRUM/MultiSceneSupport/Results/F01-proposed-api-inventory.json
  DatadogRUM/MultiSceneSupport/STABLE_API_REVIEW.md
  DatadogRUM/MultiSceneSupport/release-gates.json
  tools/multi-scene/release_checklist.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Prepare multi-scene ownership guide and final compatibility matrix
  .continue-here.md
  DatadogRUM/MULTI_SCENE_SUPPORT.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/FINAL_COMPATIBILITY.md
  DatadogRUM/MultiSceneSupport/NAVIGATION_API.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/SUPPORT_GUIDE.md
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
  tools/multi-scene/release_checklist.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Define physical profile and Operation correlation acceptance
  .continue-here.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/Results/EXP-187-profiling-operation-correlation.json
  tools/multi-scene/profiling-correlation/native-contract.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-9054] Add iOS 18.5 layer snapshot references
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/SnapshotEnvironments.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testAlert()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testAlert()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testBasicControlsAndIndicators()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testSteppers()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testSwiftUIText()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testSwiftUIText()-maskAllInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testSwiftUIText()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testTab()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testTab()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testToolbar()-maskSensitiveInputs-privacy.png.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add native Operation and profile correlation acceptance fixture
  .continue-here.md
  BenchmarkTests/BenchmarkTests.xcodeproj/project.pbxproj
  BenchmarkTests/Runner/AppDelegate.swift
  BenchmarkTests/Runner/Scenarios/Profiling/ProfilingAcceptance.swift
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/Results/EXP-187-profiling-operation-correlation.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  tools/multi-scene/profiling-correlation/README.md
  tools/multi-scene/profiling-correlation/run_simulator.py
  tools/multi-scene/profiling-correlation/test_validate.py
  tools/multi-scene/profiling-correlation/validate.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record profiling fixture preparation failure and restart checkpoint
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-187-profiling-operation-correlation.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp187-185940ce-ddf9-4019-a082-ff731036a29c.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Wire profiling acceptance to existing example configuration
  .continue-here.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-187-profiling-operation-correlation.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  tools/multi-scene/profiling-correlation/README.md
  tools/multi-scene/profiling-correlation/native-contract.json
  tools/multi-scene/profiling-correlation/run_simulator.py
  tools/multi-scene/profiling-correlation/test_validate.py
  tools/multi-scene/profiling-correlation/validate.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Keep benchmark build settings in profiling acceptance
  .continue-here.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/Results/EXP-187-profiling-operation-correlation.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp187-95dbd106-5ed3-4d27-b474-ba4249fb4d49.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  tools/multi-scene/profiling-correlation/README.md
  tools/multi-scene/profiling-correlation/run_simulator.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Count launch telemetry and round profile acceptance clocks exactly
  .continue-here.md
  BenchmarkTests/Runner/Scenarios/Profiling/ProfilingAcceptance.swift
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-187-profiling-operation-correlation.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp187-8a4fc90f-9dc3-4bf0-b793-d86640565500.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
  tools/multi-scene/profiling-correlation/README.md
  tools/multi-scene/profiling-correlation/native-contract.json
  tools/multi-scene/profiling-correlation/test_validate.py
  tools/multi-scene/profiling-correlation/validate.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Require running continuous profiling for Operation acceptance
  .continue-here.md
  BenchmarkTests/Runner/Scenarios/Profiling/ProfilingAcceptance.swift
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-187-profiling-operation-correlation.json
  DatadogRUM/MultiSceneSupport/Results/EXP-187-simulator-rum-ownership.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp187-02fa67db-bee4-44da-948e-32bbb01ff38b.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp187-9cdb15fb-ef6d-421c-9310-1eaab9161ca4.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
  tools/multi-scene/profiling-correlation/README.md
  tools/multi-scene/profiling-correlation/native-contract.json
  tools/multi-scene/profiling-correlation/test_backend.py
  tools/multi-scene/profiling-correlation/test_validate.py
  tools/multi-scene/profiling-correlation/validate.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record exact exported Operation profile correlation
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-187-profiling-operation-correlation.json
  DatadogRUM/MultiSceneSupport/Results/EXP-187-simulator-profile-correlation.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp187-702f95f5-b0fc-4023-9277-4070f98a97ca.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
  tools/multi-scene/profiling-correlation/README.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Automate saved profile inventory and sample correlation checks
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-187-profiling-operation-correlation.json
  DatadogRUM/MultiSceneSupport/Results/EXP-187-simulator-profile-correlation.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
  tools/multi-scene/profiling-correlation/README.md
  tools/multi-scene/profiling-correlation/profile_backend.py
  tools/multi-scene/profiling-correlation/test_profiles.py
  tools/multi-scene/profiling-correlation/validate.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record installed code identity before physical acceptance
  BenchmarkTests/Runner/Scenarios/Profiling/ProfilingAcceptance.swift
  Datadog/Example/MultiSceneProbe/Sources/RUMNativeMultiSceneProbeApp.swift
  tools/multi-scene/acceptance/README.md
  tools/multi-scene/acceptance/installed_code.py
  tools/multi-scene/acceptance/test_installed_code.py
  tools/multi-scene/profiling-correlation/README.md
  tools/multi-scene/profiling-correlation/native-contract.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Preserve physical preparation failures and execution contract
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-186-shared-vitals.json
  DatadogRUM/MultiSceneSupport/Results/EXP-187-profiling-operation-correlation.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp186-20260918T093506Z-ed6b6cbefb78.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp187-95431cc7-32de-42ba-b7e5-2b9cb29c7b90.json
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Corrected the action type in the manual swiftUI action modifier.
  DatadogRUM/Sources/Instrumentation/Actions/AppKit/AppKitRUMActionsHandler.swift
  DatadogRUM/Tests/Instrumentation/Actions/RUMActionsHandler_macOSTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Match profile inventory to the independent launch declaration
  tools/multi-scene/profiling-correlation/README.md
  tools/multi-scene/profiling-correlation/native-contract.json
  tools/multi-scene/profiling-correlation/profile_backend.py
  tools/multi-scene/profiling-correlation/test_profiles.py
Due: Tools Tests

Record physical profiling evidence and the remaining vitals sample
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-186-shared-vitals.json
  DatadogRUM/MultiSceneSupport/Results/EXP-187-physical-profile-correlation.json
  DatadogRUM/MultiSceneSupport/Results/EXP-187-profiling-operation-correlation.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp186-05abd7b4-d953-4dc1-86db-6bc1a022c4ba.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp187-c8fa06e2-fbce-46dd-82e7-6e78a947de94.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add a one-scene physical vitals acceptance fixture
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioCatalog.swift
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeStep.swift
  Datadog/Example/MultiSceneProbe/Sources/ProbeVitalsAcceptance.swift
  Datadog/Example/MultiSceneProbe/Sources/RUMNativeMultiSceneProbeApp.swift
  Datadog/Example/MultiSceneProbe/Tests/ProbeScenarioRunnerTests.swift
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  tools/multi-scene/acceptance/physical-vitals-scenario-contract.json
  tools/multi-scene/acceptance/test_physical_vitals_contract.py
  tools/multi-scene/acceptance/test_vitals_contract.py
  tools/multi-scene/acceptance/vitals_contract.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

fix: Prevent profiling context feedback loops
  DatadogProfiling/Sources/DatadogProfiler.swift
  DatadogProfiling/Sources/ProfilingHandler.swift
  DatadogProfiling/Tests/DatadogProfilerTests.swift
  DatadogProfiling/Tests/ProfilingHandlerTests.swift
  TestUtilities/Sources/Mocks/DatadogInternal/PassthroughCoreMock.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record physical vitals preparation and remaining device evidence
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-186-physical-sample-preparation.json
  DatadogRUM/MultiSceneSupport/Results/EXP-186-shared-vitals.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp186-046f9c57-1f72-4858-b67f-70be26648948.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
  tools/multi-scene/acceptance/README.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record physical vitals acceptance and profiling cleanup
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-186-shared-vitals.json
  DatadogRUM/MultiSceneSupport/Results/EXP-187-physical-profile-correlation.json
  DatadogRUM/MultiSceneSupport/Results/EXP-187-profiling-operation-correlation.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp186-f7544129-5248-4001-a25b-f9da0d275376.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp187-c8fa06e2-fbce-46dd-82e7-6e78a947de94.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Close representative physical vitals acceptance
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-186-shared-vitals.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp186-f7544129-5248-4001-a25b-f9da0d275376.json
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Bumped version to 3.18.0
  DatadogCore.podspec
  DatadogCore/Sources/Versioning.swift
  DatadogCrashReporting.podspec
  DatadogFlags.podspec
  DatadogInternal.podspec
  DatadogLogs.podspec
  DatadogProfiling.podspec
  DatadogRUM.podspec
  DatadogSessionReplay.podspec
  DatadogTrace.podspec
  DatadogWebViewTracking.podspec
  TestUtilities.podspec
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update the changelog
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-9042] Add memory budgets to the image snapshot cache
  DatadogSessionReplay/Sources/LayerTreeRecorder/ImageSnapshotCache.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ImageSnapshotCacheTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update feature-docs commit hashes
  DatadogLogs/LOGS_FEATURE.md
  DatadogProfiling/PROFILING_FEATURE.md
  DatadogRUM/RUM_FEATURE.md
  DatadogSessionReplay/SESSION_REPLAY_FEATURE.md
  DatadogTrace/TRACE_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-18566] Add the RUM view name to spans as the view.name tag
  CHANGELOG.md
  DatadogTrace/Sources/Span/SpanEventBuilder.swift
  DatadogTrace/Sources/Tracer.swift
  DatadogTrace/Tests/Span/SpanEventBuilderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-18566] Update TRACE_FEATURE.md for the view.name span tag
  DatadogTrace/TRACE_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Close physical profile correlation acceptance
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-186-shared-vitals.json
  DatadogRUM/MultiSceneSupport/Results/EXP-187-physical-export.json
  DatadogRUM/MultiSceneSupport/Results/EXP-187-physical-profile-correlation.json
  DatadogRUM/MultiSceneSupport/Results/EXP-187-profiling-operation-correlation.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp187-c8fa06e2-fbce-46dd-82e7-6e78a947de94.json
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Define legacy lifecycle readiness check on iOS 27.2
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/Results/EXP-188-legacy-runtime.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record legacy launch restriction and define older SDK compatibility
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/BASELINES.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-188-crash-analysis.json
  DatadogRUM/MultiSceneSupport/Results/EXP-188-legacy-runtime.json
  DatadogRUM/MultiSceneSupport/Results/EXP-189-legacy-build-sdk.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp188-3e3e2842-d7ea-4597-ae4e-ab57f3908313.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Automate older SDK legacy lifecycle compatibility
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/Results/EXP-189-legacy-build-sdk.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  tools/multi-scene/baselines/README.md
  tools/multi-scene/baselines/legacy_compatibility.py
  tools/multi-scene/baselines/test_legacy_compatibility.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Isolate legacy compatibility from obsolete performance fixture
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/Results/EXP-189-legacy-build-sdk.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp189-fcf3b82b-246a-40c8-a0fd-4b166e4b575f.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  tools/multi-scene/baselines/README.md
  tools/multi-scene/baselines/legacy_compatibility.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Close legacy lifecycle compatibility and define minimum runtime check
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/BASELINES.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-189-legacy-build-sdk.json
  DatadogRUM/MultiSceneSupport/Results/EXP-190-minimum-runtime.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp189-2fdac542-ec81-4c6f-a705-45b4780d0704.json
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/SUPPORT_GUIDE.md
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record minimum runtime access limits and remaining prerequisites
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/BASELINES.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-190-minimum-runtime.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp190-af6d889a-9c38-474b-a903-1db1e9b31da1.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp190-f94e475f-73ce-4358-85a9-f4031e83fd73.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Define Duo 27.1 acceptance and correct minimum runtime coverage
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/BASELINES.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/FINAL_COMPATIBILITY.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-191-duo-same-key.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Checkpoint Duo 27.1 build and ownership controls before restart
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-191-duo-same-key.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp191-f92afe3b-656d-4737-8369-b11e9925f559.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Define bounded Duo simulator fidelity assessment
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/DUO_SIMULATOR_ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-191-duo-same-key.json
  DatadogRUM/MultiSceneSupport/Results/EXP-192-duo-simulator-fidelity.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Qualify Duo input and retain native probe evidence
  .continue-here.md
  Datadog/Example/MultiSceneProbe/RUMNativeMultiSceneProbe.xcodeproj/project.pbxproj
  Datadog/Example/MultiSceneProbe/RUMNativeMultiSceneProbe.xcodeproj/xcshareddata/xcschemes/RUMNativeMultiSceneProbeDuoUI.xcscheme
  Datadog/Example/MultiSceneProbe/Sources/Harness/ProbeScenarioRunner.swift
  Datadog/Example/MultiSceneProbe/Sources/RUMNativeMultiSceneProbeApp.swift
  Datadog/Example/MultiSceneProbe/UITests/DuoSimulatorUITests.swift
  Datadog/Example/MultiSceneProbe/project.yml
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/DUO_SIMULATOR_ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-143-199.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-191-duo-same-key.json
  DatadogRUM/MultiSceneSupport/Results/EXP-192-duo-simulator-fidelity.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp191-78bdc5f4-42e2-49cc-b595-157c9441ece1.json
  DatadogRUM/MultiSceneSupport/Results/acceptance/exp192-52086984-e5e3-499a-afc8-cdc3f55c2e2c.json
  DatadogRUM/MultiSceneSupport/TOOLING_RUNBOOK.md
  tools/multi-scene/acceptance/acceptance.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)
