Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *

PANA-7550 Rename occlusion content dimension variables
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+Occlusion.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16361] Add failing regression test for forwarding-after-delegate-dealloc crash
  DatadogRUM/Tests/Instrumentation/Actions/UIKit/UIScrollViewDelegateProxyTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16361] Safely drop forwarded delegate calls when originalDelegate is gone
  CHANGELOG.md
  Datadog/Datadog.xcodeproj/project.pbxproj
  Datadog/TargetSupport/DatadogRUM/DatadogRUM.h
  DatadogRUM.podspec
  DatadogRUM/Private/DDForwardingProxyBase.m
  DatadogRUM/Private/include/DDForwardingProxyBase.h
  DatadogRUM/Sources/Instrumentation/Actions/UIKit/UIScrollViewDelegateProxy.swift
  DatadogRUM/Tests/Instrumentation/Actions/UIKit/UIScrollViewDelegateProxyTests.swift
  Package.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16361] Add disableScrollAndSwipeActions feature flag
  CHANGELOG.md
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Instrumentation/RUMInstrumentation.swift
  DatadogRUM/Sources/RUMConfiguration.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16361] Disable scroll tracking test on tvOS
  DatadogRUM/Tests/Instrumentation/RUMInstrumentationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-16361 Fix default param + lint
  DatadogRUM/Sources/Instrumentation/RUMInstrumentation.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-16361 Update api-surface
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16361] Address Copilot comments
  DatadogRUM/Private/DDForwardingProxyBase.m
  DatadogRUM/Tests/Instrumentation/Actions/UIKit/UIScrollViewDelegateProxyTests.swift
  Package.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix crash from backwards clock adjustment in URLs
  CHANGELOG.md
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/Context/MediaTimeProvider.swift
  DatadogInternal/Sources/NetworkInstrumentation/NetworkInstrumentationFeature.swift
  DatadogInternal/Sources/NetworkInstrumentation/URLSession/URLSessionTaskInterception.swift
  DatadogInternal/Tests/NetworkInstrumentation/URLSessionTaskInterceptionTests.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogTrace/Sources/Integrations/TracingURLSessionHandler.swift
  DatadogTrace/Tests/TracingURLSessionHandlerTests.swift
  TestUtilities/Sources/Mocks/DatadogRUM/MediaTimeProviderMock.swift
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16361] Rename disableScrollAndSwipeActions to trackScrollAndSwipeActions with default true
  CHANGELOG.md
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Instrumentation/RUMInstrumentation.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogRUM/Tests/Instrumentation/RUMInstrumentationTests.swift
  DatadogRUM/Tests/RUMConfigurationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-16361 update api-surface
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update CHANGELOG.md
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13811 Address comment + Improve script instructions
  .claude/skills/update-feature-docs/SKILL.md
  tools/feature-docs-verify.sh
Due: Tools Tests

[RUM-13811] Add feature doc sync system for *_FEATURE.md files
  .claude/skills/update-feature-docs
  .gitlab-ci.yml
  CLAUDE.md
  DatadogRUM/RUM_FEATURE.md
  DatadogSessionReplay/SESSION_REPLAY_FEATURE.md
  Makefile
  tools/feature-docs-verify.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-16361: Preserve default scroll/swipe tracking when feature flag is omitted
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Tests/RUMTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13811 Update registries + Confluence workflow
  .claude/skills/update-feature-docs/SKILL.md
  .github/workflows/changelog-to-confluence.yaml
  tools/feature-docs-verify.sh
Due: Tools Tests

Update API surface
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-13811] Fix update-feature-docs skill directory structure
  .claude/skills/update-feature-docs/SKILL.md
Due: none

Bumped version to 3.11.1
  DatadogCore.podspec
  DatadogCore/Sources/Versioning.swift
  DatadogCrashReporting.podspec
  DatadogFlags.podspec
  DatadogInternal.podspec
  DatadogLogs.podspec
  DatadogProfiling.podspec
  DatadogRUM.podspec
  DatadogSessionReplay.podspec
  DatadogTrace.podspec
  DatadogWebViewTracking.podspec
  TestUtilities.podspec
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13811 Frontmatter bump is part of every skill run
  .claude/skills/update-feature-docs/SKILL.md
  DatadogRUM/RUM_FEATURE.md
  DatadogSessionReplay/SESSION_REPLAY_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13810 Add Tracing feature fiile
  .github/workflows/changelog-to-confluence.yaml
  AGENTS.md
  DatadogTrace/TRACE_FEATURE.md
  docs/LLM_FEATURE_DOCS_GUIDELINES.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix swiftlint redundant_type_annotation on validOperationNameCharacters
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMFeatureOperationManager.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

chore: Align public RUM session IDs with event formatting
  Datadog/IntegrationUnitTests/RUM/SDKMetrics/RUMSessionEndedMetricIntegrationTests.swift
  DatadogCore/Tests/Datadog/RUM/RUMMonitorTests.swift
  DatadogCore/Tests/Objc/DDRUMMonitorTests.swift
  DatadogRUM/RUM_FEATURE.md
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitorProtocol.swift
  DatadogRUM/Tests/RUMTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update changelog
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix wrong types in the objc_LogEventDevice properties definition
  CHANGELOG.md
  DatadogLogs/Sources/LogsDataModels+objc.swift
  DatadogLogs/Tests/LogsDataModels+objcTests.swift
  api-surface-objc
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13811 Refocus guidelines as spec; tighten skill coverage
  .claude/skills/update-feature-docs/SKILL.md
  docs/LLM_FEATURE_DOCS_GUIDELINES.md
Due: none

Enforce schema character set on vital.name in Feature Operation APIs
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMFeatureOperationManager.swift
  DatadogRUM/Tests/RUMMonitor/RUMFeatureOperationManagerTests.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13811 Add clean-worktree precondition and cross-feature snippet audit to skill
  .claude/skills/update-feature-docs/SKILL.md
Due: none

RUM-13811 Fail when tracked_files references a missing path
  tools/feature-docs-verify.sh
Due: Tools Tests

Address review: relax blank operationKey to warn+emit, add warning log assertions in tests
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMFeatureOperationManager.swift
  DatadogRUM/Tests/RUMMonitor/RUMFeatureOperationManagerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13811 Verify each doc is registered in workflow paths: AND cp block
  tools/feature-docs-verify.sh
Due: Tools Tests

Fix commit in SR doc
  DatadogSessionReplay/SESSION_REPLAY_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13811 Fix RUM and SR doc gaps and prevent recurrence in the skill
  .claude/skills/update-feature-docs/SKILL.md
  DatadogRUM/RUM_FEATURE.md
  DatadogSessionReplay/SESSION_REPLAY_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13811 Use full clone in the Feature Docs Verify GitLab job
  .gitlab-ci.yml
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13811 Rebase + add skill step for code snippet for compile-readiness + add isLegacyDetectionEnabled param
  .claude/skills/update-feature-docs/SKILL.md
  DatadogRUM/RUM_FEATURE.md
  DatadogSessionReplay/SESSION_REPLAY_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13811 Reorder trackSlowFrames in RUM doc snippet to match init
  DatadogRUM/RUM_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13811 Update LLM_FEATURE_DOCS_GUIDELINES doc
  docs/LLM_FEATURE_DOCS_GUIDELINES.md
Due: none

RUM-13810 List ObjC files + fix commit + nitpick code snippet
  DatadogTrace/TRACE_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

PANA-7550 Preserve layer subclass content during occlusion pruning
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+Occlusion.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotOcclusionTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)
