Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

ENV check:
  stage: pre
  script:
  - ./tools/runner-setup.sh --datadog-ci
  - make env-check

Dependency Cache:
  stage: pre
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: push
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean dependencies

Lint:
  stage: lint
  script:
  - make clean repo-setup ENV=ci
  - make lint license-check
  - make rum-models-verify sr-models-verify

Unit Tests (iOS):
  stage: test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

Unit Tests (tvOS):
  stage: test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

UI Tests:
  stage: ui-test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  parallel:
    matrix:
    - TEST_PLAN:
      - Default
      - RUM
      - CrashReporting
      - NetworkInstrumentation
  script:
  ...

SR Snapshot Tests:
  stage: ui-test
  variables:
    PLATFORM: iOS Simulator
    IOS_OS: '17.5'
    DEVICE: iPhone 15
    ARTIFACTS_PATH: artifacts
  artifacts:
    paths:
    - artifacts
    expire_in: 1 week
    when: on_failure
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  ...

Tools Tests:
  stage: test
  script:
  - make clean repo-setup ENV=ci
  - make tools-test

Benchmark Build:
  stage: smoke-test
  script:
  - make benchmark-build

Smoke Tests (iOS):
  stage: smoke-test
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-ios-all OS="$DEFAULT_IOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

Smoke Tests (tvOS):
  stage: smoke-test
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-tvos-all OS="$DEFAULT_TVOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

SPM Build (Swift 5.10):
  stage: smoke-test
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --iOS --tvOS --visionOS --watchOS
  - make clean repo-setup ENV=ci
  - make spm-build-ios
  - make spm-build-tvos
  - make spm-build-visionos
  - make spm-build-macos
  - make spm-build-watchos

RUM-11031 Update RUM models with new Vital type and properties
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogObjc/Sources/RUM/RUMDataModels+objc.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-9750: Improve Memory warnings that have stack traces
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Instrumentation/MemoryWarnings/MemoryWarningMonitor.swift
  DatadogRUM/Sources/Instrumentation/MemoryWarnings/MemoryWarningReporter.swift
  DatadogRUM/Sources/Instrumentation/RUMInstrumentation.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogRUM/Tests/Instrumentation/MemoryWarnings/MemoryWarningMocks.swift
  DatadogRUM/Tests/Instrumentation/MemoryWarnings/MemoryWarningMonitorTests.swift
  DatadogRUM/Tests/RUMTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

chore: Restore deprecated `setUserInfo`
  DatadogCore/Sources/Datadog.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-9750: Add `RUM.Configuration.trackMemoryWarnings` API to ObjC
  DatadogCore/Tests/Objc/ObjcAPITests/DDRUM+apiTests.m
  DatadogRUM/Sources/RUM+objc.swift
  DatadogRUM/Tests/RUMConfigurationTests.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-9750: Update CHANGELOG.md
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add Additionnal network instrumentation tests
  DatadogInternal/Tests/NetworkInstrumentation/NetworkInstrumentationFeatureTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-9068: Fix propagation of global attributes on expired user actions
  Datadog/IntegrationUnitTests/RUM/RUMAttributesIntegrationTests.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMUserActionScope.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-9750: Remove `MemoryWarning` struct
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Instrumentation/MemoryWarnings/MemoryWarning.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-10315] Add changelog entry
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-10315] AP2 DC Support
  DatadogCore/Sources/DatadogConfiguration+objc.swift
  DatadogCore/Tests/Datadog/Core/DirectoriesTests.swift
  DatadogCore/Tests/Objc/DDConfigurationTests.swift
  DatadogInternal/Sources/Context/DatadogSite.swift
  DatadogRUM/Tests/Feature/RequestBuilderTests.swift
  DatadogSessionReplay/Tests/Feature/RequestBuilder/ResourceRequestBuilderTests.swift
  DatadogSessionReplay/Tests/Feature/RequestBuilder/SegmentRequestBuilderTests.swift
  TestUtilities/Sources/Mocks/DatadogInternal/DatadogContextMock.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10225: Add GitHub app secrets to Vault
  tools/secrets/config.sh
Due: Tools Tests

Fix SwiftUI Auto-tracking ObjC APIs
  DatadogCore/Tests/Objc/ObjcAPITests/DDRUM+apiTests.m
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIRUMViewsPredicate+objc.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Bumped version to 2.29.0
  DatadogCore.podspec
  DatadogCore/Sources/Versioning.swift
  DatadogCrashReporting.podspec
  DatadogInternal.podspec
  DatadogLogs.podspec
  DatadogRUM.podspec
  DatadogSessionReplay.podspec
  DatadogTrace.podspec
  DatadogWebViewTracking.podspec
  TestUtilities.podspec
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Apply text and input privacy override
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIHostingViewRecorder.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8420 Add UI Tests for Auto action tracking in SwiftUI
  DatadogRUM/Sources/SDKMetrics/SessionEndedMetric.swift
  IntegrationTests/IntegrationScenarios/Scenarios/RUM/RUMSwiftUIAutoInstrumentationTests.swift
  IntegrationTests/IntegrationTests.xcodeproj/project.pbxproj
  IntegrationTests/IntegrationTests.xcodeproj/xcshareddata/xcschemes/Runner iOS.xcscheme
  IntegrationTests/Runner/Scenarios/RUM/RUMScenarios.swift
  IntegrationTests/Runner/Scenarios/RUM/SwiftUIAutoInstrumentation/RUMSwiftUIAutoInstrumentationActionView.swift
  IntegrationTests/Runner/Scenarios/RUM/SwiftUIAutoInstrumentation/RUMSwiftUIAutoInstrumentationActionViewScenario.storyboard
  IntegrationTests/Runner/Scenarios/RUM/SwiftUIAutoInstrumentation/RUMSwiftUIAutoInstrumentationSingleRootView.swift
  IntegrationTests/xctestplans/RUM.xctestplan
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update CHANGELOG.md
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Apply image privacy override
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/SwiftUI/SwiftUIWireframesBuilder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIHostingViewRecorder.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Forward the environment in iOS 16 / 17
  DatadogSessionReplay/Sources/SessionReplayPrivacyOverrideView.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add SessionReplayPrivacyOverrideView
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/Sources/SessionReplayPrivacyOverrideView.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add documentation
  DatadogSessionReplay/Sources/SessionReplayPrivacyOverrideView.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Inject privacy overrides SwiftUI fixture
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Package.swift
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/Fixtures.swift
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/Resources/Image+Assets.swift
  DatadogSessionReplay/SRSnapshotTests/SRHost/AppDelegate.swift
  DatadogSessionReplay/SRSnapshotTests/SRHost/MenuViewController.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests.xcodeproj/project.pbxproj
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Fixtures/SwiftUIViewWithPrivacyOverrides.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/SRSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SnapshotTestCase.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SwiftUIFixture.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

fix formatting issues
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Package.swift
  DatadogSessionReplay/SRSnapshotTests/SRHost/MenuViewController.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/SRSnapshotTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add snapshot test
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Package.swift
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/Fixtures.swift
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/ViewControllers/SwiftUIViewWithPrivacyOverrides.swift
  DatadogSessionReplay/SRSnapshotTests/SRHost/MenuViewController.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/SRSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testSwiftUIWithPrivacyOverrides()-maskNone_images-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIHostingViewRecorder.swift
  DatadogSessionReplay/Sources/SessionReplayPrivacyOverrideView.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Rename to SessionReplayPrivacyView
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/SRSnapshotTests/SRFixtures/Sources/SRFixtures/Fixtures.swift
  DatadogSessionReplay/SRSnapshotTests/SRHost/AppDelegate.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Fixtures/SwiftUIViewWithPrivacyOverrides.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SnapshotTestCase.swift
  DatadogSessionReplay/Sources/SessionReplayPrivacyView.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add missing license header
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SwiftUIFixture.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update CHANGELOG
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix CHANGELOG
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-9988 Expand Action Tracking to other UI components
  DatadogRUM/Sources/Instrumentation/Actions/SwiftUI/LegacySwiftUIComponentDetector.swift
  DatadogRUM/Sources/Instrumentation/Actions/SwiftUI/ModernSwiftUIComponentDetector.swift
  DatadogRUM/Sources/Instrumentation/Actions/SwiftUI/SwiftUIComponentDetector.swift
  DatadogRUM/Sources/Instrumentation/Actions/UIKit/UIEventCommandFactory.swift
  DatadogRUM/Tests/Instrumentation/Actions/SwiftUIComponentDetectorTests.swift
  IntegrationTests/IntegrationScenarios/Scenarios/RUM/RUMSwiftUIAutoInstrumentationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Replace privace modifier with privacy view
  BenchmarkTests/CatalogSwiftUI/ContentView.swift
  BenchmarkTests/CatalogSwiftUI/DatadogMonitor.swift
  BenchmarkTests/CatalogSwiftUI/Views/Sections/Controls/ButtonsView.swift
  BenchmarkTests/CatalogSwiftUI/Views/Sections/Controls/ImagesView.swift
  BenchmarkTests/CatalogSwiftUI/Views/Sections/Controls/TextsView.swift
  BenchmarkTests/CatalogSwiftUI/Views/Sections/View Layouts/ListsView.swift
  BenchmarkTests/Runner/Scenarios/SessionReplay/SessionReplaySwiftUI/SessionReplaySwiftUIScenario.swift
Due: Lint, Benchmark Build

Add Network instrumentation URLSession.dataTaskPublisher test
  DatadogInternal/Tests/NetworkInstrumentation/NetworkInstrumentationFeatureTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix linter errors
  BenchmarkTests/Runner/Scenarios/SessionReplay/SessionReplaySwiftUI/SessionReplaySwiftUIScenario.swift
Due: Lint, Benchmark Build

Add privacy overrides
  BenchmarkTests/CatalogSwiftUI/ContentView.swift
  BenchmarkTests/CatalogSwiftUI/DatadogMonitor.swift
  BenchmarkTests/CatalogSwiftUI/Views/Sections/Controls/ButtonsView.swift
  BenchmarkTests/CatalogSwiftUI/Views/Sections/Controls/ImagesView.swift
  BenchmarkTests/CatalogSwiftUI/Views/Sections/Controls/TextsView.swift
  BenchmarkTests/CatalogSwiftUI/Views/Sections/View Layouts/ListsView.swift
  BenchmarkTests/Runner/Scenarios/SessionReplay/SessionReplaySwiftUI/SessionReplaySwiftUIScenario.swift
Due: Lint, Benchmark Build

RUM-10419 Refactor renderer extraction & iOS 26
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIHostingViewRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeSnapshotBuilder.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIHostingViewRecorderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10419 Make renderer key paths static
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIHostingViewRecorder.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update self.carthage.sts.yaml
  .github/chainguard/self.carthage.sts.yaml
Due: none

RUM-10225 Create carthage sts policy
  .github/chainguard/self.carthage.sts.yaml
Due: none

RUM-10225 Create release sts policy
  .github/chainguard/self.release.sts.yaml
Due: none

RUM-10378 Flatten BrightnessLevel property
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Sources/Core/Context/BrightnessLevelPublisher.swift
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogCore/Tests/Datadog/DatadogCore/Context/BrightnessLevelPublisherTests.swift
  DatadogInternal/Sources/Context/BrightnessLevel.swift
  DatadogInternal/Sources/Context/DatadogContext.swift
  DatadogInternal/Sources/Models/CrashReporting/CrashContext.swift
  DatadogRUM/Sources/Integrations/CrashReportReceiver.swift
  TestUtilities/Sources/Mocks/CrashReporting/CrashReportingFeatureMocks.swift
  TestUtilities/Sources/Mocks/DatadogInternal/DatadogContextMock.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10378 Collect battery attributes
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Sources/Core/Context/BrightnessStatusPublisher.swift
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogCore/Tests/Datadog/DatadogCore/Context/BrightnessStatusPublisherTests.swift
  DatadogInternal/Sources/Context/BrightnessStatus.swift
  DatadogInternal/Sources/Context/DatadogContext.swift
  DatadogInternal/Sources/Models/CrashReporting/CrashContext.swift
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  TestUtilities/Sources/Mocks/CrashReporting/CrashReportingFeatureMocks.swift
  TestUtilities/Sources/Mocks/DatadogInternal/DatadogContextMock.swift
  TestUtilities/Sources/Mocks/SystemFrameworks/UIKitMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update self.release.sts.yaml
  .github/chainguard/self.release.sts.yaml
Due: none

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
