Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

ENV check:
  stage: pre
  script:
  - ./tools/runner-setup.sh --datadog-ci
  - make env-check

Dependency Cache:
  stage: pre
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: push
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean dependencies

Lint:
  stage: lint
  script:
  - make clean repo-setup ENV=ci
  - make lint license-check
  - make rum-models-verify sr-models-verify

Unit Tests (iOS):
  stage: test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

Unit Tests (tvOS):
  stage: test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

UI Tests:
  stage: ui-test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  parallel:
    matrix:
    - TEST_PLAN:
      - Default
      - RUM
      - CrashReporting
      - NetworkInstrumentation
  script:
  ...

SR Snapshot Tests:
  stage: ui-test
  variables:
    PLATFORM: iOS Simulator
    IOS_OS: '17.5'
    DEVICE: iPhone 15
    ARTIFACTS_PATH: artifacts
  artifacts:
    paths:
    - artifacts
    expire_in: 1 week
    when: on_failure
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  ...

Tools Tests:
  stage: test
  script:
  - make clean repo-setup ENV=ci
  - make tools-test

Benchmark Build:
  stage: smoke-test
  script:
  - make benchmark-build

Smoke Tests (iOS):
  stage: smoke-test
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-ios-all OS="$DEFAULT_IOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

Smoke Tests (tvOS):
  stage: smoke-test
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-tvos-all OS="$DEFAULT_TVOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

SPM Build (Swift 5.10):
  stage: smoke-test
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --iOS --tvOS --visionOS --watchOS
  - make clean repo-setup ENV=ci
  - make spm-build-ios
  - make spm-build-tvos
  - make spm-build-visionos
  - make spm-build-macos
  - make spm-build-watchos

[FFL-2785] Add additional flags timing diagnostics
  DatadogFlags/Sources/Client/FlagAssignmentsFetcher.swift
  DatadogFlags/Sources/Client/FlagsDataStore.swift
  DatadogFlags/Sources/Client/FlagsRepository.swift
  DatadogFlags/Sources/Client/FlagsStateManager.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add plan for DatadogTimeseries standalone business logic
  plans/1-plan-business-logic.md
Due: none

add TimeseriesConfig for RUM context injection
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesConfig.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add Package.swift scaffolding for DatadogTimeseries
  DatadogTimeseries/Package.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/Sample.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesName.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/.gitkeep
  DatadogTimeseries/Tests/DatadogTimeseriesTests/SmokeTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

implement TimeseriesBatcher with configurable batch size
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesBatcher.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesBatcherTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add DataProvider protocol and CSVDataProvider with tests
  DatadogTimeseries/Sources/DatadogTimeseries/DataProvider/CSVDataProvider.swift
  DatadogTimeseries/Sources/DatadogTimeseries/DataProvider/DataProvider.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/CSVDataProviderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

implement models with explicit CodingKeys for JSON serialization
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesEvent.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventModelTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add git rules override for timeseries pod
  plans/git-rules-pod.md
Due: none

implement TimeseriesEventBuilder with config injection
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesEventBuilder.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventBuilderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add skip-sample error handling tests for gap behavior
  DatadogTimeseries/Tests/DatadogTimeseriesTests/SkipSampleTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

fix pod rules
  plans/git-rules-pod.md
Due: none

add plan 2 for platform-agnostic integration wiring
  plans/2-plan-platform-integration.md
Due: none

rename demo script to 01-demo-18-04
  pod/demo/01-demo-18-04.sh
Due: none

remove placeholder files after full test suite is in place
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/.gitkeep
  DatadogTimeseries/Tests/DatadogTimeseriesTests/SmokeTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add DatadogTimeseriesRunner executable target
  DatadogTimeseries/Package.swift
  DatadogTimeseries/Sources/DatadogTimeseriesRunner/main.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add end-to-end verification tests with UUID masking
  DatadogTimeseries/Tests/DatadogTimeseriesTests/EndToEndVerificationTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch2.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add CSV test fixture with 10 memory and 10 CPU samples
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/input_memory_cpu.csv
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

implement TimeseriesEncoder with sorted keys output
  DatadogTimeseries/Sources/DatadogTimeseries/Encoding/TimeseriesEncoder.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEncoderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

wire SampleFilter into TimeseriesPipeline and expose public API
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesConfig.swift
  DatadogTimeseries/Sources/DatadogTimeseries/DataProvider/CSVDataProvider.swift
  DatadogTimeseries/Sources/DatadogTimeseries/DataProvider/DataProvider.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/Sample.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesEvent.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesName.swift
  DatadogTimeseries/Sources/DatadogTimeseries/TimeseriesPipeline.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add expected JSON fixtures for E2E verification
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch2.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_memory_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_memory_batch2.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

implement TimeseriesPipeline orchestrator
  DatadogTimeseries/Sources/DatadogTimeseries/TimeseriesPipeline.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesPipelineTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

move plans and demo into pod/ directory
  pod/demo/demo.sh
  pod/plans/1-plan-business-logic.md
  pod/plans/2-plan-platform-integration.md
  pod/plans/git-rules-pod.md
Due: none

add SampleFilter protocol and filter implementations
  DatadogTimeseries/Sources/DatadogTimeseries/Filters/DeadbandFilter.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Filters/PassThroughFilter.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Filters/SampleFilter.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Filters/WindowAggregateFilter.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix: rum events format
  DatadogInternal/Sources/Context/DatadogSite.swift
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

update plan 4 to use rum-events-format generated model instead of hand-written type
  pod/plans/4-plan-ios-sdk-integration.md
Due: none

add delta compression implementation plan
  plans/ipcivr-20260423-delta-compression.md
Due: none

update demo script with sampling strategies section
  pod/demo/01-demo-18-04.sh
Due: none

add verification strategy to plan 4
  pod/plans/4-plan-ios-sdk-integration.md
Due: none

add license headers to DatadogTimeseries source and test files
  DatadogTimeseries/Scripts/generate-fixture.py
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesBatcher.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesConfig.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesEventBuilder.swift
  DatadogTimeseries/Sources/DatadogTimeseries/DataProvider/CSVDataProvider.swift
  DatadogTimeseries/Sources/DatadogTimeseries/DataProvider/DataProvider.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Encoding/TimeseriesEncoder.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/Sample.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesEvent.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesName.swift
  DatadogTimeseries/Sources/DatadogTimeseries/TimeseriesPipeline.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/CSVDataProviderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/EndToEndVerificationTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/DeadbandFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/FilterComparisonTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/PassThroughFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/WindowAggregateFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/SkipSampleTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesBatcherTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEncoderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventBuilderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventModelTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesPipelineTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add delta compression behind enableDeltaCompression flag to TimeseriesSessionCollector
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Timeseries/DeltaEncoder.swift
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/DeltaEncoderTests.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

migrate standalone package DataPoint to Schema C nested data_point format
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesEventBuilder.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesEvent.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch2.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_memory_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_memory_batch2.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEncoderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventBuilderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventModelTests.swift
  DatadogTimeseries/output/deadband_cpu.ndjson
  DatadogTimeseries/output/deadband_memory.ndjson
  DatadogTimeseries/output/passthrough_cpu.ndjson
  DatadogTimeseries/output/passthrough_memory.ndjson
  DatadogTimeseries/output/window_cpu.ndjson
  DatadogTimeseries/output/window_memory.ndjson
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add plan 4 for iOS SDK integration
  pod/plans/4-plan-ios-sdk-integration.md
Due: none

RUM-13949 replace dual-flush with per-session coin flip for schema selection
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

update plan 4 to use bplasovska/timeseries branch on rum-events-format, no PR needed
  pod/plans/4-plan-ios-sdk-integration.md
Due: none

add TimeseriesSessionCollector and wire it into RUM session lifecycle
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMScopeDependencies.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMSessionScopeTests.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

generate RUMTimeseriesMemoryEvent and RUMTimeseriesCpuEvent from rum-events-format bplasovska/timeseries
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add filter unit tests and realistic 60-second fixture
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/DeadbandFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/FilterComparisonTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/PassThroughFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/WindowAggregateFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/input_realistic_60s.csv
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

fix function_default_parameter_at_end lint violation in RUMScopeDependencies
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMScopeDependencies.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

fix ObjC generator to stop at array-item boundaries for nested struct root resolution
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  tools/rum-models-generator/Sources/CodeGeneration/Generate/Transformers/ObjcInterop/ObjcInteropType+reflection.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add plan 3 for sampling filters research
  pod/plans/3-plan-sampling-filters.md
Due: none

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
