Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *

RUM-13949 add enableTimeseries to watchOS platform initializer in RUMConfiguration
  DatadogRUM/Sources/RUMConfiguration.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

update plan 4 to use rum-events-format generated model instead of hand-written type
  pod/plans/4-plan-ios-sdk-integration.md
Due: none

add plan 2 for platform-agnostic integration wiring
  plans/2-plan-platform-integration.md
Due: none

add delta compression implementation plan
  plans/ipcivr-20260423-delta-compression.md
Due: none

add plan 3 for sampling filters research
  pod/plans/3-plan-sampling-filters.md
Due: none

add plan 4 for iOS SDK integration
  pod/plans/4-plan-ios-sdk-integration.md
Due: none

add delta compression behind enableDeltaCompression flag to TimeseriesSessionCollector
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Timeseries/DeltaEncoder.swift
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/DeltaEncoderTests.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add Android timeseries SDK integration plan
  plans/ipcivr-2026-04-21-timeseries-android-integration.md
Due: none

move plans and demo into pod/ directory
  pod/demo/demo.sh
  pod/plans/1-plan-business-logic.md
  pod/plans/2-plan-platform-integration.md
  pod/plans/git-rules-pod.md
Due: none

fix ObjC generator to stop at array-item boundaries for nested struct root resolution
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  tools/rum-models-generator/Sources/CodeGeneration/Generate/Transformers/ObjcInterop/ObjcInteropType+reflection.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add DatadogTimeseriesRunner executable target
  DatadogTimeseries/Package.swift
  DatadogTimeseries/Sources/DatadogTimeseriesRunner/main.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

generate RUMTimeseriesMemoryEvent and RUMTimeseriesCpuEvent from rum-events-format bplasovska/timeseries
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

update plan 4 to use bplasovska/timeseries branch on rum-events-format, no PR needed
  pod/plans/4-plan-ios-sdk-integration.md
Due: none

RUM-13949 fix non-deterministic TimeseriesSessionCollector tests by pinning compressionSampler
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add filter unit tests and realistic 60-second fixture
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/DeadbandFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/FilterComparisonTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/PassThroughFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/WindowAggregateFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/input_realistic_60s.csv
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13949 implement dual-flush with object and delta schemas for timeseries
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  DatadogRUM/Sources/Timeseries/DeltaEncoder.swift
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/DeltaEncoderTests.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

update demo script with sampling strategies section
  pod/demo/01-demo-18-04.sh
Due: none

add end-to-end verification tests with UUID masking
  DatadogTimeseries/Tests/DatadogTimeseriesTests/EndToEndVerificationTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch2.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

implement TimeseriesPipeline orchestrator
  DatadogTimeseries/Sources/DatadogTimeseries/TimeseriesPipeline.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesPipelineTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

update plan 4 with criticism findings: Schema C shape, two generated types, start(sessionID:), dedicated timer
  pod/plans/4-plan-ios-sdk-integration.md
Due: none

add skip-sample error handling tests for gap behavior
  DatadogTimeseries/Tests/DatadogTimeseriesTests/SkipSampleTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

remove placeholder files after full test suite is in place
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/.gitkeep
  DatadogTimeseries/Tests/DatadogTimeseriesTests/SmokeTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix: rum events format
  DatadogInternal/Sources/Context/DatadogSite.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add TimeseriesSessionCollector and wire it into RUM session lifecycle
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMScopeDependencies.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMSessionScopeTests.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add fixture generator and pipeline runner scripts
  DatadogTimeseries/Scripts/generate-fixture.py
  DatadogTimeseries/Scripts/run-pipeline.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

fix pod rules
  plans/git-rules-pod.md
Due: none

migrate standalone package DataPoint to Schema C nested data_point format
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesEventBuilder.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesEvent.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch2.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_memory_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_memory_batch2.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEncoderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventBuilderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventModelTests.swift
  DatadogTimeseries/output/deadband_cpu.ndjson
  DatadogTimeseries/output/deadband_memory.ndjson
  DatadogTimeseries/output/passthrough_cpu.ndjson
  DatadogTimeseries/output/passthrough_memory.ndjson
  DatadogTimeseries/output/window_cpu.ndjson
  DatadogTimeseries/output/window_memory.ndjson
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update timeseries models to object-v2 schema, remove delta compression
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogRUM/Sources/Timeseries/DeltaEncoder.swift
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/DeltaEncoderTests.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesEventBuilder.swift
  DatadogTimeseries/Sources/DatadogTimeseries/DataProvider/CSVDataProvider.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesEvent.swift
  DatadogTimeseries/Sources/DatadogTimeseriesRunner/main.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/CSVDataProviderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/FilterComparisonTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch2.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_memory_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_memory_batch2.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/SkipSampleTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEncoderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventBuilderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventModelTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesPipelineTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Regenerate RUM models and API surface from object-v2 schema
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  api-surface-objc
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add pause/resume lifecycle support to TimeseriesSessionCollector
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Address Codex review comments on timeseries session wiring
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix tautological session type assertion in timeseries collector test
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMSessionScopeTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add TimeseriesSessionCollector with memory and CPU collection
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Regenerate API surface after object-v2 schema migration
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Added possibility to change batch size of Timeseries event
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMConfiguration.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Apply PR suggestions
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Timeseries/DeltaEncoder.swift
  DatadogRUM/Tests/Timeseries/DeltaEncoderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13949 add delta encoder for timeseries compression
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/Timeseries/DeltaEncoder.swift
  DatadogRUM/Tests/Timeseries/DeltaEncoderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Rename memory_max to memory_footprint in timeseries schema and regenerate models
  DatadogRUM/Sources/Timeseries/DeltaEncoder.swift
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/DeltaEncoderTests.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Clamp timeseriesBatchSize to minimum of 2 instead of precondition
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)
