Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

ENV check:
  stage: pre
  script:
  - ./tools/runner-setup.sh --datadog-ci
  - make env-check

Dependency Cache:
  stage: pre
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: push
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean dependencies

Lint:
  stage: lint
  script:
  - make clean repo-setup ENV=ci
  - make lint license-check
  - make rum-models-verify sr-models-verify

Unit Tests (iOS):
  stage: test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

Unit Tests (tvOS):
  stage: test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

UI Tests:
  stage: ui-test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  parallel:
    matrix:
    - TEST_PLAN:
      - Default
      - RUM
      - CrashReporting
      - NetworkInstrumentation
  script:
  ...

SR Snapshot Tests:
  stage: ui-test
  variables:
    PLATFORM: iOS Simulator
    IOS_OS: '17.5'
    DEVICE: iPhone 15
    ARTIFACTS_PATH: artifacts
  artifacts:
    paths:
    - artifacts
    expire_in: 1 week
    when: on_failure
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  ...

Tools Tests:
  stage: test
  script:
  - make clean repo-setup ENV=ci
  - make tools-test

Benchmark Build:
  stage: smoke-test
  script:
  - make benchmark-build

Smoke Tests (iOS):
  stage: smoke-test
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-ios-all OS="$DEFAULT_IOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

Smoke Tests (tvOS):
  stage: smoke-test
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-tvos-all OS="$DEFAULT_TVOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

SPM Build (Swift 5.10):
  stage: smoke-test
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --iOS --tvOS --visionOS --watchOS
  - make clean repo-setup ENV=ci
  - make spm-build-ios
  - make spm-build-tvos
  - make spm-build-visionos
  - make spm-build-macos
  - make spm-build-watchos

Clarify Session Replay tvOS availability (#3249)
  DatadogSessionReplay/SESSION_REPLAY_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record bounded SwiftUI ancestry diagnostic and safe restoration
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-210-s2-automatic-coverage.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-210-s2-automatic-coverage.json
  DatadogRUM/MultiSceneSupport/Results/S2-coverage-remaining-preparation.json
  DatadogRUM/MultiSceneSupport/Results/S2-swiftui-ancestry-20260930.json
  DatadogRUM/MultiSceneSupport/Results/work-window-20260925.json
  tools/multi-scene/automatic-coverage/README.md
  tools/multi-scene/automatic-coverage/human_ancestry_native.py
  tools/multi-scene/automatic-coverage/human_ancestry_probe.py
  tools/multi-scene/automatic-coverage/test_human_ancestry_native.py
  tools/multi-scene/interactive-transitions/accessibility_ancestry_probe.py
  tools/multi-scene/interactive-transitions/test_accessibility_ancestry_probe.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Wait for native fold geometry before collecting ownership
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-210-s2-automatic-coverage.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-210-s2-automatic-coverage.json
  DatadogRUM/MultiSceneSupport/Results/S2-coverage-remaining-preparation.json
  DatadogRUM/MultiSceneSupport/Results/S2-fold-readiness-20260930.json
  DatadogRUM/MultiSceneSupport/Results/work-window-20260925.json
  tools/multi-scene/automatic-coverage/README.md
  tools/multi-scene/automatic-coverage/fold_readiness.py
  tools/multi-scene/automatic-coverage/human_ancestry_native.py
  tools/multi-scene/automatic-coverage/test_fold_readiness.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Prepare automatic SwiftUI split capture qualification
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-210-s2-automatic-coverage.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-210-s2-automatic-coverage.json
  DatadogRUM/MultiSceneSupport/Results/S2-coverage-remaining-preparation.json
  DatadogRUM/MultiSceneSupport/Results/S2-prefix-ancestry-20260930.json
  tools/multi-scene/automatic-coverage/README.md
  tools/multi-scene/automatic-coverage/human_ancestry_native.py
  tools/multi-scene/automatic-coverage/prefix_input.py
  tools/multi-scene/automatic-coverage/prefix_sequence.py
  tools/multi-scene/automatic-coverage/prefix_session.py
  tools/multi-scene/automatic-coverage/test_human_ancestry_native.py
  tools/multi-scene/automatic-coverage/test_prefix_input.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Record stopped split qualification and verified cleanup
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-210-s2-automatic-coverage.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/EXP-210-s2-automatic-coverage.json
  DatadogRUM/MultiSceneSupport/Results/S2-coverage-remaining-preparation.json
  DatadogRUM/MultiSceneSupport/Results/S2-prefix-ancestry-20260930.json
  tools/multi-scene/automatic-coverage/README.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-18349: Add Swift class allocation hooks with fishhook
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogProfiling/Mach/fishhook.c
  DatadogProfiling/Mach/include/fishhook.h
  DatadogProfiling/Mach/include/module.modulemap
  DatadogProfiling/Mach/include/swift_alloc_hook.h
  DatadogProfiling/Mach/swift_alloc_hook.cpp
  DatadogProfiling/Tests/SwiftAllocHookTests.swift
  LICENSE-3rdparty.csv
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-9182] Redact text inside SwiftUI drawing groups
  DatadogSessionReplay/Sources/LayerTreeRecorder/ContentSnapshot+Redaction.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-9182] Add drawing group and Canvas redaction snapshots
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Fixtures/CanvasFixtureView.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Fixtures/DrawingGroupFixtureView.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/SRLayerSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testCanvas()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testCanvas()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testDrawingGroup()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testDrawingGroup()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testCanvas()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testCanvas()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testDrawingGroup()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testDrawingGroup()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.5-iphone17/pointers/testCanvas()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.5-iphone17/pointers/testCanvas()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.5-iphone17/pointers/testDrawingGroup()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.5-iphone17/pointers/testDrawingGroup()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testCanvas()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testCanvas()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testDrawingGroup()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testDrawingGroup()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-9182] Add UIKit text redaction snapshots
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Fixtures/TextFixtureViewController.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/SRLayerSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testUIKitText()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testUIKitText()-maskAllInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testUIKitText()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testUIKitText()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testUIKitText()-maskAllInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testUIKitText()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.5-iphone17/pointers/testUIKitText()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.5-iphone17/pointers/testUIKitText()-maskAllInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.5-iphone17/pointers/testUIKitText()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testUIKitText()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testUIKitText()-maskAllInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testUIKitText()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-9182] Add text variants redaction snapshots
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Fixtures/TextVariantsFixtureView.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/SRLayerSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testTextVariants()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-18.5-iphone16/pointers/testTextVariants()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testTextVariants()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.0.1-iphone17/pointers/testTextVariants()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.5-iphone17/pointers/testTextVariants()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-26.5-iphone17/pointers/testTextVariants()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testTextVariants()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/ios-27.0-iphone17/pointers/testTextVariants()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Pause RUM work at verified checkpoint
  .continue-here.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Qualify sealed scene background backend collection
  .continue-here.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/REMAINING_WORK.md
  DatadogRUM/MultiSceneSupport/Results/S3-H10-background-preparation.json
  DatadogRUM/MultiSceneSupport/Results/S3-human-residual-preparation.json
  tools/multi-scene/acceptance/docs/H10.md
  tools/multi-scene/acceptance/scene_background_backend.py
  tools/multi-scene/acceptance/test_scene_background_backend.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

ci: add manual RUM FIT trigger for iOS SDK commits
  .gitlab-ci.yml
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Bind capture worker admission to issued prerequisites
  .continue-here.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/REMAINING_WORK.md
  DatadogRUM/MultiSceneSupport/Results/S3-H04-activation-preparation.json
  DatadogRUM/MultiSceneSupport/Results/S3-H06-silent-capture.json
  DatadogRUM/MultiSceneSupport/Results/shared-capture-preflight-20260930.json
  DatadogRUM/MultiSceneSupport/release-gates.json
  tools/multi-scene/acceptance/test_tool_worker_service.py
  tools/multi-scene/acceptance/tool_worker_service.py
  tools/multi-scene/automatic-coverage/README.md
  tools/multi-scene/automatic-coverage/human_ancestry_native.py
  tools/multi-scene/automatic-coverage/test_human_ancestry_native.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Bind H10 bootstrap and task cleanup to original evidence
  .continue-here.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/REMAINING_WORK.md
  DatadogRUM/MultiSceneSupport/Results/S3-H10-background-preparation.json
  tools/multi-scene/acceptance/docs/H10.md
  tools/multi-scene/acceptance/scene_background_bootstrap.py
  tools/multi-scene/acceptance/test_scene_background_bootstrap.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Bind physical admission to independent reviewer provenance
  tools/multi-scene/interactive-transitions/physical_runtime.py
  tools/multi-scene/interactive-transitions/test_physical_reviewer.py
Due: Tools Tests

Record stopped physical capture and safe checkpoint
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-223-interactive-transitions.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/REMAINING_WORK.md
  DatadogRUM/MultiSceneSupport/Results/EXP-223-interactive-transitions.json
  DatadogRUM/MultiSceneSupport/Results/S2-H11-H13-local-continuation.json
  DatadogRUM/MultiSceneSupport/Results/S2-input-session-preparation.json
  DatadogRUM/MultiSceneSupport/Results/S3-H10-background-preparation.json
  DatadogRUM/MultiSceneSupport/Results/work-window-20260925.json
  DatadogRUM/MultiSceneSupport/Tooling/DEVICE_INTERACTION.md
  DatadogRUM/MultiSceneSupport/release-gates.json
  tools/multi-scene/interactive-transitions/README.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-17381] Register client stats batch telemetry
  DatadogCore/Sources/SDKMetrics/BatchMetrics.swift
  DatadogCore/Tests/Datadog/SDKMetrics/BatchMetricsTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Check physical capture orientation before admission and installation
  .continue-here.md
  DatadogRUM/MultiSceneSupport/ASSESSMENT.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-223-interactive-transitions.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/REMAINING_WORK.md
  DatadogRUM/MultiSceneSupport/Results/EXP-223-interactive-transitions.json
  DatadogRUM/MultiSceneSupport/Results/S2-H11-H13-local-continuation.json
  DatadogRUM/MultiSceneSupport/Results/S2-input-session-preparation.json
  DatadogRUM/MultiSceneSupport/Results/S2-physical-orientation-20261001.json
  DatadogRUM/MultiSceneSupport/Results/S3-H10-background-preparation.json
  DatadogRUM/MultiSceneSupport/Results/work-window-20260925.json
  DatadogRUM/MultiSceneSupport/Tooling/DEVICE_INTERACTION.md
  tools/multi-scene/interactive-transitions/README.md
  tools/multi-scene/interactive-transitions/physical_local.py
  tools/multi-scene/interactive-transitions/physical_runtime.py
  tools/multi-scene/interactive-transitions/physical_setup.py
  tools/multi-scene/interactive-transitions/test_physical_local.py
  tools/multi-scene/interactive-transitions/test_physical_setup.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Address documentation review for 3.19.0 (#3248)
  CHANGELOG.md
  DatadogRUM/RUM_FEATURE.md
  DatadogSessionReplay/SESSION_REPLAY_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Repair capture ownership and accessibility discovery guards
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/REMAINING_WORK.md
  DatadogRUM/MultiSceneSupport/Results/S2-accessibility-discovery-20261001.json
  DatadogRUM/MultiSceneSupport/Results/S3-H10-background-preparation.json
  tools/multi-scene/acceptance/docs/H10.md
  tools/multi-scene/acceptance/scene_background_source.py
  tools/multi-scene/acceptance/test_scene_background_source.py
  tools/multi-scene/automatic-coverage/README.md
  tools/multi-scene/interactive-transitions/accessibility_capture.py
  tools/multi-scene/interactive-transitions/test_accessibility_capture.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Keep device time of commands buffered by LaunchReasonResolver
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMApplicationScope.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMScopeDependencies.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/Utils/LaunchReasonResolver.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/Utils/LaunchReasonResolverTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Bind SwiftUI continuation to preserved comparison sources
  .continue-here.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-210-s2-automatic-coverage.md
  DatadogRUM/MultiSceneSupport/Results/S2-accessibility-discovery-20261001.json
  DatadogRUM/MultiSceneSupport/Results/S2-coverage-remaining-preparation.json
  tools/multi-scene/automatic-coverage/human_reader_continuation.py
  tools/multi-scene/automatic-coverage/human_supported_continuation.py
  tools/multi-scene/automatic-coverage/human_supported_readiness.py
  tools/multi-scene/automatic-coverage/test_human_reader_continuation.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Prepare SwiftUI split continuation with bound live instructions
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-210-s2-automatic-coverage.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/S2-accessibility-discovery-20261001.json
  DatadogRUM/MultiSceneSupport/Results/S2-coverage-remaining-preparation.json
  DatadogRUM/MultiSceneSupport/Tooling/DEVICE_INTERACTION.md
  tools/multi-scene/automatic-coverage/human_reader_plan.py
  tools/multi-scene/automatic-coverage/test_human_reader_plan.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Validate assigned interaction ownership before native execution
  .continue-here.md
  DatadogRUM/MultiSceneSupport/EXPERIMENTS.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-210-s2-automatic-coverage.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/REMAINING_WORK.md
  DatadogRUM/MultiSceneSupport/Results/S2-accessibility-discovery-20261001.json
  DatadogRUM/MultiSceneSupport/Results/S2-coverage-remaining-preparation.json
  tools/multi-scene/automatic-coverage/human_reader_continuation.py
  tools/multi-scene/automatic-coverage/human_supported_readiness.py
  tools/multi-scene/automatic-coverage/test_human_reader_continuation.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-18632] Restore podspecs IntegrationTests still needs, fix XCFramework/version-lookup doc gaps
  .claude/skills/update-feature-docs/SKILL.md
  DatadogCore.podspec
  DatadogCrashReporting.podspec
  DatadogInternal.podspec
  DatadogLogs.podspec
  DatadogRUM.podspec
  DatadogSessionReplay.podspec
  DatadogTrace.podspec
  DatadogWebViewTracking.podspec
  MIGRATION.md
  TestUtilities.podspec
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Verify request-time Trace ownership for registered URLSession delegates
  Datadog/IntegrationUnitTests/Public/NetworkInstrumentationIntegrationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Preserve request-time RUM ownership in automatic URLSession traces
  CHANGELOG.md
  Datadog/IntegrationUnitTests/Public/NetworkInstrumentationIntegrationTests.swift
  DatadogTrace/Sources/DatadogTracer.swift
  DatadogTrace/Sources/Feature/MessageReceivers.swift
  DatadogTrace/Sources/Integrations/TracingURLSessionHandler.swift
  DatadogTrace/Sources/Span/SpanWriteContext.swift
  DatadogTrace/Tests/TracingURLSessionHandlerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Document request-time RUM ownership for automatic traces
  DatadogRUM/RUM_FEATURE.md
  DatadogTrace/TRACE_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Keep pending fix in unreleased documentation
  CHANGELOG.md
  DatadogTrace/TRACE_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add RUM-only verdicts for human automatic-coverage cells
  tools/multi-scene/automatic-coverage/rum_only.py
  tools/multi-scene/automatic-coverage/test_rum_only.py
Due: Tools Tests

Harden RUM-only grading and define flagged S3 delivery gates
  .continue-here.md
  DatadogRUM/MultiSceneSupport/Experiments/EXP-210-s2-automatic-coverage.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/REMAINING_WORK.md
  DatadogRUM/MultiSceneSupport/Results/S2-accessibility-discovery-20261001.json
  DatadogRUM/MultiSceneSupport/Results/S2-rum-only-20261001.json
  DatadogRUM/MultiSceneSupport/Results/S3-feature-flag-integration-plan.json
  DatadogRUM/MultiSceneSupport/Results/release-progress.json
  DatadogRUM/MultiSceneSupport/Tooling/SCENARIOS.md
  DatadogRUM/MultiSceneSupport/release-gates.json
  tools/multi-scene/automatic-coverage/human_reader_successor.py
  tools/multi-scene/automatic-coverage/rum_only.py
  tools/multi-scene/automatic-coverage/test_human_reader_successor.py
  tools/multi-scene/automatic-coverage/test_rum_only.py
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Narrow early-request tracing changelog entry
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-18632] Stop validating podspec versions at release time
  tools/release/validate-version.sh
Due: Tools Tests

[RUM-18625] Avoid intermediate struct copies automatically during reflection
  DatadogInternal/Sources/Utils/ReflectionMirror.swift
  DatadogInternal/Sources/Utils/Reflector.swift
  DatadogInternal/Tests/Utils/ReflectionMirrorTests.swift
  DatadogInternal/Tests/Utils/ReflectorTests.swift
  DatadogRUM/Tests/Integrations/SwiftUIViewNameExtractorIntegrationTests.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/SwiftUI/DisplayList+Reflection.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-18625] Clarify supported reflection paths in documentation
  DatadogInternal/Sources/Utils/ReflectionMirror.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Map flagged S3 source boundaries against develop
  .continue-here.md
  DatadogRUM/MultiSceneSupport/PLAN.md
  DatadogRUM/MultiSceneSupport/PRODUCTION_SAFETY_REVIEW.md
  DatadogRUM/MultiSceneSupport/Results/S3-F11-production-mapping.json
  DatadogRUM/MultiSceneSupport/Results/S3-feature-flag-integration-plan.json
  DatadogRUM/MultiSceneSupport/release-gates.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-18625] Restore reflection path examples and lookup guidance
  DatadogInternal/Sources/Utils/ReflectionMirror.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-18625] Exclude UIKit hosting tests from watchOS
  DatadogRUM/Tests/Integrations/SwiftUIViewNameExtractorIntegrationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
