Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *

enabled TestUtilities linking for all platforms
  Datadog/Datadog.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add @Suite(.datadogTesting) to all Swift Testing suites
  DatadogInternal/Tests/Heatmaps/HeatmapIdentifierTests.swift
  DatadogRUM/Tests/Heatmaps/HeatmapIdentifierStoreTests.swift
  DatadogRUM/Tests/Utils/UIKitExtensionsTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerReplayIDTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotFilterTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotImageSnapshotRequestTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotOcclusionTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotSemanticObservationTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CATransform3DAxisAlignedTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ContentSnapshotRedactionTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ContentSnapshotRequestTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ImageSnapshotCacheTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ImageSnapshotterTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerTreeSnapshotBuilderTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/OcclusionMapTests.swift
  DatadogSessionReplay/Tests/Recorder/ScreenChangeMonitor/CALayerChangesetTests.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/HeatmapIdentifierComputationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[CHORE] Capture test artifacts on CI job hangs, not just failures
  .gitlab-ci.yml
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Guard DatadogSDKTesting imports and add a stub for SPM-only builds
  DatadogInternal/Tests/Heatmaps/HeatmapIdentifierTests.swift
  DatadogRUM/Tests/Heatmaps/HeatmapIdentifierStoreTests.swift
  DatadogRUM/Tests/Utils/UIKitExtensionsTests.swift
  DatadogSDKTestingStub/Sources/DatadogSDKTestingStub.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerReplayIDTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotFilterTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotImageSnapshotRequestTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotOcclusionTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotSRCompositionLayerTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotSemanticObservationTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CATransform3DAxisAlignedTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CompositionTreeBuilderTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ContentSnapshotRedactionTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ContentSnapshotRequestTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ImageSnapshotCacheTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ImageSnapshotterTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerRecordBuilderTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerSnapshotProcessorTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerTreeSnapshotBuilderTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/OcclusionMapTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/PathCornerRadiiTests.swift
  DatadogSessionReplay/Tests/Processor/Diffing/Diff+SRCompositionTreeTests.swift
  DatadogSessionReplay/Tests/Recorder/ScreenChangeMonitor/CALayerChangesetTests.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/HeatmapIdentifierComputationTests.swift
  Package.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Centralize DatadogSDKTesting compat shim inside TestUtilities
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Tests/Heatmaps/HeatmapIdentifierTests.swift
  DatadogRUM/Tests/Heatmaps/HeatmapIdentifierStoreTests.swift
  DatadogRUM/Tests/Utils/UIKitExtensionsTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerReplayIDTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotFilterTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotImageSnapshotRequestTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotOcclusionTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotSRCompositionLayerTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotSemanticObservationTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CATransform3DAxisAlignedTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CompositionTreeBuilderTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ContentSnapshotRedactionTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ContentSnapshotRequestTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ImageSnapshotCacheTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ImageSnapshotterTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerRecordBuilderTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerSnapshotProcessorTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerTreeSnapshotBuilderTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/OcclusionMapTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/PathCornerRadiiTests.swift
  DatadogSessionReplay/Tests/Processor/Diffing/Diff+SRCompositionTreeTests.swift
  DatadogSessionReplay/Tests/Recorder/ScreenChangeMonitor/CALayerChangesetTests.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/HeatmapIdentifierComputationTests.swift
  Package.swift
  TestUtilities/Sources/Helpers/DatadogSDKTestingCompat.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

removed unneeded version bump
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogProfiling.xcscheme
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Pin DatadogSDKTesting to 2.7.3 while 2.7.6 regression is investigated
  Datadog/Datadog.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[CHORE] Pin DatadogSDKTesting to 2.7.2, 2.7.3 hangs too
  Datadog/Datadog.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[CHORE] Capture raw xcresult bundles and xcodebuild logs on hung tests
  .gitlab-ci.yml
  tools/sr-snapshot-test.sh
  tools/test.sh
  tools/ui-test.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[CHORE] Enable DD_TRACE_DEBUG for test visibility
  tools/test.sh
Due: Tools Tests

[CHORE] Stop zipping xcresult bundles before upload
  .gitlab-ci.yml
  tools/test.sh
  tools/ui-test.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[CHORE] Disable DD_TRACE_DEBUG
  tools/test.sh
Due: Tools Tests

[CHORE] Update DatadogSDKTesting to 2.7.7-alpha1
  Datadog/Datadog.xcodeproj/project.pbxproj
  tools/test.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[CHORE] Test DatadogSDKTesting 2.7.3 with crash handler disabled
  Datadog/Datadog.xcodeproj/project.pbxproj
  tools/test.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[CHORE] Update DatadogSDKTesting to 2.7.7, pin to next minor
  Datadog/Datadog.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-17742: Add UK1 to supported Datadog Sites.
  DatadogFlags/Sources/Client/FlagAssignmentsFetcher.swift
  DatadogFlags/Tests/Client/EvaluationLoggingTests.swift
  DatadogFlags/Tests/Client/ExposureRequestBuilderTests.swift
  DatadogFlags/Tests/Client/FlagAssignmentsFetcherTests.swift
  DatadogInternal/Sources/Context/DatadogSite.swift
  DatadogProfiling/Tests/RequestBuilderTests.swift
  DatadogRUM/Tests/Feature/RequestBuilderTests.swift
  DatadogSessionReplay/Tests/Feature/RequestBuilder/ResourceRequestBuilderTests.swift
  DatadogSessionReplay/Tests/Feature/RequestBuilder/SegmentRequestBuilderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-17742: Update CHANGELOG.
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-17742: Add Objective-C API for UK1 site.
  DatadogCore/Sources/DatadogConfiguration+objc.swift
  DatadogCore/Tests/Objc/DDConfigurationTests.swift
  DatadogCore/Tests/Objc/ObjcAPITests/DDConfiguration+apiTests.m
  api-surface-objc
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-15810] Use non-empty propagator lists in remote config trace tests
  DatadogRUM/Tests/RUMConfiguration+RemoteConfigurationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Capture scroll pocket semantics
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayer+Semantics.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservation.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservationMapping+VisualEffect.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservationMapping.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/SemanticObservationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Handle capture-only backdrop layers
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayer+Semantics.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+Filter.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservationMapping+VisualEffect.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservationMapping.swift
  DatadogSessionReplay/Sources/Recorder/Utilities/NSObject+SessionReplay.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/SemanticObservationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Preserve alpha for vibrant color matrices
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/pointers/testAlert()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/pointers/testAlert()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+Filter.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+SRCompositionLayer.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotFilterTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotSRCompositionLayerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Resolve hidden portal layer sources
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Utils/LayerSnapshotTestCase.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+Context.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+ImageSnapshot.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+Occlusion.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+Portal.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/ContentSnapshot+Redaction.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/LayerRecorder.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/LayerTreeSnapshotBuilder.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/LayerWireframeBuilder.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservation.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservationMapping+VisualEffect.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotImageSnapshotRequestTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotOcclusionTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotPortalTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ContentSnapshotRedactionTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerTreeSnapshotMocks.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerWireframeBuilderTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/SemanticObservationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Detect automatic capsule visual effects
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayer+Semantics.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservationMapping+VisualEffect.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservationMapping.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/SemanticObservationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Add navigation and toolbar effect fallbacks
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Fixtures/ToolbarFixtureView.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/SRLayerSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/Utils/CompositionLayerView.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/pointers/testToolbar()-maskSensitiveInputs-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests.xcodeproj/project.pbxproj
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+SRCompositionLayer.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CompositionLayerBuilder.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/LayerWireframeBuilder.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SRWireframe+CALayerSnapshot.swift
  DatadogSessionReplay/Sources/Models/SRDataModels.swift
  DatadogSessionReplay/Sources/Processor/Diffing/Diff+SRCompositionTree.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotSRCompositionLayerTests.swift
  DatadogSessionReplay/Tests/Processor/Diffing/Diff+SRCompositionTreeTests.swift
  api-surface-swift
  tools/rum-models-generator/Sources/CodeDecoration/SRCodeDecorator.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Update tab snapshots
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/SRLayerSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/pointers/testTab()-maskAll-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/pointers/testTab()-maskSensitiveInputs-privacy.png.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[chain-pr 6/10] DatadogTrace: typed-bus migration
  DatadogCore/Tests/Datadog/Tracing/TracingURLSessionHandlerTests.swift
  DatadogTrace/Sources/Feature/MessageReceivers.swift
  DatadogTrace/Sources/Feature/TraceFeature.swift
  DatadogTrace/Sources/Trace.swift
  DatadogTrace/Tests/ContextMessageReceiverTests.swift
  DatadogTrace/Tests/TracingURLSessionHandlerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[chain-pr 8/10] DatadogRUM: typed-bus migration and TelemetryInterceptor merge
  DatadogCore/Tests/Datadog/Mocks/RUM/RUMFeatureMocks.swift
  DatadogCore/Tests/Datadog/RUM/Integrations/CrashReportReceiverTests.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Instrumentation/WatchdogTerminations/WatchdogTerminationMonitor.swift
  DatadogRUM/Sources/Integrations/CrashReportReceiver.swift
  DatadogRUM/Sources/Integrations/ErrorMessageReceiver.swift
  DatadogRUM/Sources/Integrations/FlagEvaluationReceiver.swift
  DatadogRUM/Sources/Integrations/TelemetryReceiver.swift
  DatadogRUM/Sources/Integrations/WebViewEventReceiver.swift
  DatadogRUM/Sources/RUM.swift
  DatadogRUM/Tests/Instrumentation/WatchdogTerminations/WatchdogTerminationMonitorTests.swift
  DatadogRUM/Tests/Integrations/ErrorMessageReceiverTests.swift
  DatadogRUM/Tests/Integrations/FlagEvaluationReceiverTests.swift
  DatadogRUM/Tests/Integrations/TelemetryReceiverTests.swift
  DatadogRUM/Tests/Integrations/WebViewEventReceiverTests.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/FatalErrorContextNotifierTests.swift
  DatadogRUM/Tests/RUMTests.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[chain-pr 9/10] DatadogSessionReplay and DatadogWebViewTracking: typed-bus migration
  DatadogSessionReplay/Sources/Feature/RUMContextReceiver.swift
  DatadogSessionReplay/Sources/Feature/RecordingComponents.swift
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Feature/WebViewRecordReceiver.swift
  DatadogSessionReplay/Sources/SessionReplay.swift
  DatadogSessionReplay/Tests/Feature/RUMContextReceiverTests.swift
  DatadogSessionReplay/Tests/Feature/WebViewRecordReceiverTests.swift
  DatadogSessionReplay/Tests/SessionReplayTests.swift
  DatadogWebViewTracking/Sources/MessageEmitter.swift
  DatadogWebViewTracking/Tests/MessageEmitterTests.swift
  DatadogWebViewTracking/Tests/WebViewTrackingTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-17197] Assert injected distributed tracing config in Trace remote config test
  DatadogTrace/Tests/TraceTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-17197] Apply remote configuration to Trace module at enablement
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogTrace/Sources/Trace.swift
  DatadogTrace/Sources/TraceConfiguration+RemoteConfiguration.swift
  DatadogTrace/Tests/TraceConfiguration+RemoteConfigurationTests.swift
  DatadogTrace/Tests/TraceTests.swift
  TestUtilities/Sources/Mocks/DatadogInternal/RemoteConfigurationMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-17197] Handle unknown remote config enum cases in Trace
  DatadogTrace/Sources/TraceConfiguration+RemoteConfiguration.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-17197] Merge remote trace sample rate and injection field by field
  DatadogTrace/Sources/TraceConfiguration+RemoteConfiguration.swift
  DatadogTrace/Tests/TraceConfiguration+RemoteConfigurationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-17197] Clear Trace propagation on explicit empty remote traced hosts
  DatadogTrace/Sources/TraceConfiguration+RemoteConfiguration.swift
  DatadogTrace/Tests/TraceConfiguration+RemoteConfigurationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-17197] Apply new remote config schema for trace propagation in Trace module
  DatadogTrace/Sources/TraceConfiguration+RemoteConfiguration.swift
  DatadogTrace/Tests/TraceConfiguration+RemoteConfigurationTests.swift
  DatadogTrace/Tests/TraceTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-17197] Remove Trace URLSession tracking when remote config clears traced hosts
  DatadogTrace/Sources/TraceConfiguration+RemoteConfiguration.swift
  DatadogTrace/Tests/TraceConfiguration+RemoteConfigurationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8342] Capture content snapshot geometry with layer snapshots
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+ImageSnapshot.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+Portal.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/ImageSnapshotRequest.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/ImageSnapshotter.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotImageSnapshotRequestTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotPortalTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ContentSnapshotRequestTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/ImageSnapshotCacheTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerTreeSnapshotMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8342] Clarify content geometry documentation
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Cache active view from message bus instead of polling context per sample tick
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-3363] Fix stale leaf ownership in flattenedTags/mergeTags/DDSpan and consolidate span tag locking
  DatadogTrace/Sources/DDSpan.swift
  DatadogTrace/Sources/OpenTracing/OTTagValue.swift
  DatadogTrace/TRACE_FEATURE.md
  DatadogTrace/Tests/DDSpanTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)
