Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

ENV check:
  stage: pre
  script:
  - ./tools/runner-setup.sh --datadog-ci
  - make env-check

Dependency Cache:
  stage: pre
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: push
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean dependencies

Lint:
  stage: lint
  script:
  - make clean repo-setup ENV=ci
  - make lint license-check
  - make rum-models-verify sr-models-verify

Unit Tests (iOS):
  stage: test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

Unit Tests (tvOS):
  stage: test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

UI Tests:
  stage: ui-test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  parallel:
    matrix:
    - TEST_PLAN:
      - Default
      - RUM
      - CrashReporting
      - NetworkInstrumentation
  script:
  ...

SR Snapshot Tests:
  stage: ui-test
  variables:
    PLATFORM: iOS Simulator
    IOS_OS: '17.5'
    DEVICE: iPhone 15
    ARTIFACTS_PATH: artifacts
  artifacts:
    paths:
    - artifacts
    expire_in: 1 week
    when: on_failure
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  ...

Tools Tests:
  stage: test
  script:
  - make clean repo-setup ENV=ci
  - make tools-test

Benchmark Build:
  stage: smoke-test
  script:
  - make benchmark-build

Smoke Tests (iOS):
  stage: smoke-test
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-ios-all OS="$DEFAULT_IOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

Smoke Tests (tvOS):
  stage: smoke-test
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-tvos-all OS="$DEFAULT_TVOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

SPM Build (Swift 5.10):
  stage: smoke-test
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --iOS --tvOS --visionOS --watchOS
  - make clean repo-setup ENV=ci
  - make spm-build-ios
  - make spm-build-tvos
  - make spm-build-visionos
  - make spm-build-macos
  - make spm-build-watchos

add Android timeseries SDK integration plan
  plans/ipcivr-2026-04-21-timeseries-android-integration.md
Due: none

RUM-13949 implement dual-flush with object and delta schemas for timeseries
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  DatadogRUM/Sources/Timeseries/DeltaEncoder.swift
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/DeltaEncoderTests.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14337 Add integration unit tests for dual-mode network instrumentation
  Datadog/IntegrationUnitTests/Public/NetworkInstrumentationIntegrationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13949 replace dual-flush with per-session coin flip for schema selection
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-15698: Align RUM operation profiling timestamps with server offset
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/RUMCommand.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMFeatureOperationManager.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Tests/RUMMonitor/RUMFeatureOperationManagerTests.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

fix function_default_parameter_at_end lint violation in RUMScopeDependencies
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMScopeDependencies.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add license headers to DatadogTimeseries source and test files
  DatadogTimeseries/Scripts/generate-fixture.py
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesBatcher.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesConfig.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesEventBuilder.swift
  DatadogTimeseries/Sources/DatadogTimeseries/DataProvider/CSVDataProvider.swift
  DatadogTimeseries/Sources/DatadogTimeseries/DataProvider/DataProvider.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Encoding/TimeseriesEncoder.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/Sample.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesEvent.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesName.swift
  DatadogTimeseries/Sources/DatadogTimeseries/TimeseriesPipeline.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/CSVDataProviderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/EndToEndVerificationTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/DeadbandFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/FilterComparisonTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/PassThroughFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Filters/WindowAggregateFilterTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/SkipSampleTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesBatcherTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEncoderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventBuilderTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventModelTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesPipelineTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14337 Add watchOS target
  Datadog/IntegrationUnitTests/Public/NetworkInstrumentationIntegrationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix: rum events format
  DatadogInternal/Sources/Context/DatadogSite.swift
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

FFL-1879 Use singleton NOPStateObservable instances
  DatadogFlags/Sources/Client/FallbackFlagsClient.swift
  DatadogFlags/Sources/Client/FlagsClientProtocol.swift
  DatadogFlags/Sources/Client/FlagsStateManager.swift
  DatadogFlags/Tests/Client/FlagsClientMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

fix ObjC generator to stop at array-item boundaries for nested struct root resolution
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  tools/rum-models-generator/Sources/CodeGeneration/Generate/Transformers/ObjcInterop/ObjcInteropType+reflection.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13949 revert staging intake URL override in DatadogSite
  DatadogInternal/Sources/Context/DatadogSite.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13949 add enableTimeseries to watchOS platform initializer in RUMConfiguration
  DatadogRUM/Sources/RUMConfiguration.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-13949 fix non-deterministic TimeseriesSessionCollector tests by pinning compressionSampler
  DatadogRUM/Tests/Timeseries/TimeseriesSessionCollectorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix wachos run
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8054: Fix background session precondition for refresh and new session flows
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMApplicationScope.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMApplicationScopeTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8054: Fix trailing whitespace lint violation
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMApplicationScope.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-15698: Make pprof packer agnostic of timestamp labels
  DatadogInternal/Sources/Models/RUM/Vital.swift
  DatadogProfiling/Mach/include/profile.h
  DatadogProfiling/Mach/profile.cpp
  DatadogProfiling/Mach/profile_pprof_packer.cpp
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix Swift 6 SPM Build
  DatadogRUM/Sources/Timeseries/TimeseriesSessionCollector.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8054: Address review feedback
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMApplicationScope.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8054: Address review feedback
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMApplicationScopeTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8054: Fix background session precondition and update integration tests
  Datadog/IntegrationUnitTests/RUM/RUMSessionStopTests.swift
  Datadog/IntegrationUnitTests/RUM/RUMSessionTimeOutTests.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMApplicationScope.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14274: Create continuous Benchmarks for custom Profiling
  BenchmarkTests/BenchmarkTests.xcodeproj/project.pbxproj
  BenchmarkTests/BenchmarkTests.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  BenchmarkTests/Runner/AppDelegate.swift
  BenchmarkTests/Runner/Scenarios/Profiling/ProfilingScenario.swift
  BenchmarkTests/Runner/Scenarios/Profiling/UI/ProfilingContentView.swift
  BenchmarkTests/Runner/Scenarios/SyntheticScenario.swift
Due: Lint, Benchmark Build

RUM-14274: Rename benchmark scenario
  BenchmarkTests/BenchmarkTests.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  BenchmarkTests/Runner/Scenarios/Profiling/ProfilingScenario.swift
  BenchmarkTests/Runner/Scenarios/Profiling/UI/ProfilingContentView.swift
  BenchmarkTests/Runner/Scenarios/SyntheticScenario.swift
Due: Lint, Benchmark Build

RUM-14251: Add telemetry for custom and continuous profiling
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogProfiling/Sources/AppLaunchProfiler.swift
  DatadogProfiling/Sources/DatadogProfiler.swift
  DatadogProfiling/Sources/ProfilingHandler.swift
  DatadogProfiling/Sources/SDKMetrics/AppLaunchMetric.swift
  DatadogProfiling/Sources/SDKMetrics/ProfilingSessionMetric.swift
  DatadogProfiling/Sources/SDKMetrics/ProfilingTelemetryController.swift
  DatadogProfiling/Tests/AppLaunchProfilerTests.swift
  DatadogProfiling/Tests/DatadogProfilerTests.swift
  DatadogProfiling/Tests/ProfilingHandlerTests.swift
  DatadogProfiling/Tests/SDKMetrics/ProfilingTelemetryControllerTests.swift
  TestUtilities/Sources/Mocks/DatadogInternal/FeatureScopeMock.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-14337 Replace real URL with localhost
  DatadogInternal/Tests/NetworkInstrumentation/URLSessionTaskStateSwizzlerTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix Shopist Dogfooding automation
  tools/dogfooding/dogfood.sh
Due: Tools Tests

Add activity feed API
  graphite-demo/server.js
Due: none

add plan for DatadogTimeseries standalone business logic
  plans/1-plan-business-logic.md
Due: none

add TimeseriesConfig for RUM context injection
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesConfig.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add git rules override for timeseries pod
  plans/git-rules-pod.md
Due: none

add Package.swift scaffolding for DatadogTimeseries
  DatadogTimeseries/Package.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/Sample.swift
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesName.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/.gitkeep
  DatadogTimeseries/Tests/DatadogTimeseriesTests/SmokeTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

implement models with explicit CodingKeys for JSON serialization
  DatadogTimeseries/Sources/DatadogTimeseries/Models/TimeseriesEvent.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventModelTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

implement TimeseriesEventBuilder with config injection
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesEventBuilder.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEventBuilderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add DataProvider protocol and CSVDataProvider with tests
  DatadogTimeseries/Sources/DatadogTimeseries/DataProvider/CSVDataProvider.swift
  DatadogTimeseries/Sources/DatadogTimeseries/DataProvider/DataProvider.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/CSVDataProviderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

implement TimeseriesBatcher with configurable batch size
  DatadogTimeseries/Sources/DatadogTimeseries/Core/TimeseriesBatcher.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesBatcherTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

implement TimeseriesEncoder with sorted keys output
  DatadogTimeseries/Sources/DatadogTimeseries/Encoding/TimeseriesEncoder.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEncoderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add CSV test fixture with 10 memory and 10 CPU samples
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/input_memory_cpu.csv
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add expected JSON fixtures for E2E verification
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch2.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_memory_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_memory_batch2.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add end-to-end verification tests with UUID masking
  DatadogTimeseries/Tests/DatadogTimeseriesTests/EndToEndVerificationTests.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch1.json
  DatadogTimeseries/Tests/DatadogTimeseriesTests/Fixtures/expected_cpu_batch2.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
