Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *

RUM-8409 propagate RUM session ID in request headers
  DatadogCore/Tests/Datadog/Tracing/TracingURLSessionHandlerTests.swift
  DatadogInternal/Sources/NetworkInstrumentation/Datadog/HTTPHeadersWriter.swift
  DatadogInternal/Sources/NetworkInstrumentation/TraceContext.swift
  DatadogInternal/Sources/NetworkInstrumentation/W3C/W3CHTTPHeaders.swift
  DatadogInternal/Sources/NetworkInstrumentation/W3C/W3CHTTPHeadersWriter.swift
  DatadogInternal/Tests/NetworkInstrumentation/HTTPHeadersWriterTests.swift
  DatadogInternal/Tests/NetworkInstrumentation/NetworkInstrumentationFeatureTests.swift
  DatadogInternal/Tests/NetworkInstrumentation/W3CHTTPHeadersWriterTests.swift
  DatadogRUM/Sources/Instrumentation/Resources/URLSessionRUMResourcesHandler.swift
  DatadogRUM/Tests/Instrumentation/Resources/URLSessionRUMResourcesHandlerTests.swift
  DatadogTrace/Sources/DDFormat.swift
  DatadogTrace/Sources/Feature/MessageReceivers.swift
  DatadogTrace/Sources/Integrations/TracingURLSessionHandler.swift
  DatadogTrace/Tests/DatadogTracer+InjectAndExtract.swift
  DatadogTrace/Tests/TracingURLSessionHandlerTests.swift
  TestUtilities/Mocks/NetworkInstrumentationMocks.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8558 Make `DatadogTrace` compile against OTel API 1.13.0
  DatadogTrace/Sources/OpenTelemetry/NOPOTelSpan.swift
  DatadogTrace/Sources/OpenTelemetry/NOPOTelSpanBuilder.swift
  DatadogTrace/Sources/OpenTelemetry/OTelSpan.swift
  DatadogTrace/Sources/OpenTelemetry/OTelSpanBuilder.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8558 Implement `withActiveSpan()` API
  DatadogTrace/Sources/OpenTelemetry/OTelSpanBuilder.swift
  DatadogTrace/Tests/OpenTelemetry/OTelSpanTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8558 Re-enable OTel active span tests
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogTrace iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogTrace tvOS.xcscheme
  DatadogTrace/Tests/OpenTelemetry/OTelSpanTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8558 Update DatadogTrace to OTel Api 1.13.0
  Cartfile
  Cartfile.resolved
  DatadogTrace.podspec
  Package.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8558 Fix OTel Api deprecation warnings in tests
  DatadogTrace/Sources/OpenTelemetry/OTelAttributeValue+Datadog.swift
  DatadogTrace/Tests/OpenTelemetry/OTelAttributeValue+DatadogTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8558 Fix lint
  DatadogTrace/Sources/OpenTelemetry/NOPOTelSpan.swift
  DatadogTrace/Sources/OpenTelemetry/OTelSpan.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Revert back to using internal attributes over a CustomINVValueMetric.
  DatadogRUM/Sources/RUMMetrics/INVMetric.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Tests/RUMMetrics/INVMetricTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8558 Upadte OTel Api in BenchmarkTests
  BenchmarkTests/Benchmarks/Package.swift
Due: Benchmark Build

RUM-8558 Update CHANGELOG.md
  CHANGELOG.md
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8558 Patch Package.swift to conditionally adjust `platforms`
  BenchmarkTests/Benchmarks/Package.swift
  Package.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8558 Update OTel Api in CP smoke tests
  SmokeTests/cocoapods/Podfile.src
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8442 Add Benchmark Metric Meters
  BenchmarkTests/BenchmarkTests.xcodeproj/project.pbxproj
  BenchmarkTests/Benchmarks/Sources/Benchmarks.swift
  BenchmarkTests/Benchmarks/Sources/Metrics.swift
  BenchmarkTests/Runner/AppDelegate.swift
  BenchmarkTests/Runner/BenchmarkMeter.swift
  BenchmarkTests/Runner/BenchmarkProfiler.swift
  DatadogCore/Sources/Core/Storage/Writing/FileWriter.swift
  DatadogInternal/Sources/Benchmarks/BenchmarkProfiler.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8442 Add gauge meter
  BenchmarkTests/Benchmarks/Sources/Benchmarks.swift
  BenchmarkTests/Runner/AppDelegate.swift
  BenchmarkTests/Runner/BenchmarkMeter.swift
  DatadogCore/Sources/Core/Storage/Writing/FileWriter.swift
  DatadogInternal/Sources/Benchmarks/BenchmarkProfiler.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update Package.swift
  Package.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8448 Add ios.benchmark.upload_count
  DatadogCore/Sources/Core/Upload/DataUploadWorker.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8448 Add ios.benchmark.bytes_deleted metric
  DatadogCore/Sources/Core/Storage/Files/File.swift
  DatadogCore/Sources/Core/Storage/FilesOrchestrator.swift
  DatadogInternal/Sources/Benchmarks/BenchmarkProfiler.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update CHANGELOG.md for 2.24.0
  CHANGELOG.md
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Bumped version to 2.24.0
  DatadogAlamofireExtension.podspec
  DatadogCore.podspec
  DatadogCore/Sources/Versioning.swift
  DatadogCrashReporting.podspec
  DatadogInternal.podspec
  DatadogLogs.podspec
  DatadogObjc.podspec
  DatadogRUM.podspec
  DatadogSessionReplay.podspec
  DatadogTrace.podspec
  DatadogWebViewTracking.podspec
  TestUtilities.podspec
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8627: Collect App Hitches in the SDK
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Tests/Datadog/DatadogCore/Context/ApplicationStatePublisherTests.swift
  DatadogCore/Tests/Datadog/Mocks/RUM/RUMDataModelMocks.swift
  DatadogCore/Tests/Datadog/Mocks/RUM/RUMFeatureMocks.swift
  DatadogCore/Tests/Datadog/Mocks/RUM/VitalMocks.swift
  DatadogCore/Tests/Datadog/RUM/RUMVitals/DisplayLinkerTests.swift
  DatadogCore/Tests/Datadog/RUM/RUMVitals/ViewHitchesReaderTests.swift
  DatadogCore/Tests/Datadog/RUM/RUMVitals/VitalInfoSamplerTests.swift
  DatadogCore/Tests/Datadog/RUM/RUMVitals/VitalRefreshRateReaderTests.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMScopeDependencies.swift
  DatadogRUM/Sources/RUMVitals/RenderLoop/FrameInfoProvider.swift
  DatadogRUM/Sources/RUMVitals/RenderLoop/RenderLoopObserver.swift
  DatadogRUM/Sources/RUMVitals/RenderLoop/ViewHitchesReader.swift
  DatadogRUM/Sources/RUMVitals/RenderLoop/VitalRefreshRateReader.swift
  DatadogRUM/Sources/RUMVitals/VitalCPUReader.swift
  DatadogRUM/Sources/RUMVitals/VitalInfoSampler.swift
  DatadogRUM/Sources/RUMVitals/VitalRefreshRateReader.swift
  DatadogRUM/Tests/Mocks/RUMFeatureMocks.swift
  TestUtilities/Helpers/XCTestCase.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix picker that would change order of options
  BenchmarkTests/BenchmarkTests.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  BenchmarkTests/Runner/Scenarios/Logs/UI/LogsCustomContentView.swift
  BenchmarkTests/Runner/Scenarios/Logs/UI/LogsHeavyTrafficContentView.swift
  BenchmarkTests/Runner/Scenarios/Logs/UI/LogsUtils.swift
Due: Benchmark Build

RUM-8931 Simplify host sanitizer logic
  DatadogInternal/Sources/NetworkInstrumentation/HostsSanitizer.swift
  DatadogInternal/Tests/NetworkInstrumentation/HostsSanitizerTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Remove unnecessary log list to reduce memory usage
  BenchmarkTests/Runner/Scenarios/Logs/UI/LogsCustomContentView.swift
Due: Benchmark Build

Revert "RUM-8442 Add Benchmark Metric Meters"
  BenchmarkTests/BenchmarkTests.xcodeproj/project.pbxproj
  BenchmarkTests/Benchmarks/Sources/Benchmarks.swift
  BenchmarkTests/Benchmarks/Sources/Metrics.swift
  BenchmarkTests/Runner/AppDelegate.swift
  BenchmarkTests/Runner/BenchmarkMeter.swift
  BenchmarkTests/Runner/BenchmarkProfiler.swift
  DatadogCore/Sources/Core/Storage/Writing/FileWriter.swift
  DatadogInternal/Sources/Benchmarks/BenchmarkProfiler.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8442 Add Benchmark Metric Meters
  BenchmarkTests/BenchmarkTests.xcodeproj/project.pbxproj
  BenchmarkTests/Benchmarks/Sources/Benchmarks.swift
  BenchmarkTests/Benchmarks/Sources/MetricExporter.swift
  BenchmarkTests/Benchmarks/Sources/Metrics.swift
  BenchmarkTests/Runner/AppDelegate.swift
  BenchmarkTests/Runner/BenchmarkMeter.swift
  BenchmarkTests/Runner/BenchmarkProfiler.swift
  DatadogCore/Sources/Core/Storage/Writing/FileWriter.swift
  DatadogInternal/Sources/Benchmarks/BenchmarkProfiler.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8656: Update RUM schema
  DatadogObjc/Sources/RUM/RUMDataModels+objc.swift
  DatadogRUM/Sources/DataModels/RUMDataModels.swift
  DatadogRUM/Sources/FatalErrorBuilder.swift
  DatadogRUM/Sources/Integrations/CrashReportReceiver.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  api-surface-objc
  api-surface-swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8656: Add Feature flags to `RUM.Configuration`
  DatadogRUM/Sources/RUMConfiguration.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8656: Add App Hitches to View events
  Datadog/Datadog.xcodeproj/project.pbxproj
  Datadog/IntegrationUnitTests/RUM/RUMViewHitchesIntegrationTests.swift
  DatadogCore/Tests/Datadog/Mocks/RUM/RUMDataModelMocks.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMScopeDependencies.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Sources/RUMVitals/RenderLoop/ViewHitchesReader.swift
  DatadogRUM/Tests/Mocks/RUMDataModelMocks.swift
  DatadogRUM/Tests/Mocks/RUMFeatureMocks.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMViewScopeTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8656: Follow PR suggestions
  DatadogRUM/Sources/RUMConfiguration.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMViewScopeTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8454 Trace scenario and UI
  BenchmarkTests/BenchmarkTests.xcodeproj/project.pbxproj
  BenchmarkTests/Runner/Scenarios/SyntheticScenario.swift
  BenchmarkTests/Runner/Scenarios/Trace/TraceScenario.swift
  BenchmarkTests/Runner/Scenarios/Trace/UI/TraceContentView.swift
Due: Benchmark Build

RUM-8454 Apply CR suggestions
  BenchmarkTests/Runner/Scenarios/Trace/UI/TraceContentView.swift
Due: Benchmark Build

fix lint
  BenchmarkTests/Runner/Scenarios/Trace/UI/TraceContentView.swift
Due: Benchmark Build

RUM-8628: Calculate Hang rate and Hitch rate
  DatadogCore/Tests/Datadog/Mocks/RUM/RUMFeatureMocks.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMScopeDependencies.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Sources/RUMVitals/RenderLoop/ViewHitchesReader.swift
  DatadogRUM/Tests/Mocks/RUMFeatureMocks.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMViewScopeTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8448 Add ios.benchmark.bytes_uploaded
  DatadogCore/Sources/Core/Upload/DataUploader.swift
  DatadogCore/Sources/Core/Upload/FeatureUpload.swift
  DatadogCore/Tests/Datadog/Core/Upload/DataUploadWorkerTests.swift
  DatadogCore/Tests/Datadog/Core/Upload/DataUploaderTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8448 Add ios.benchmark.batch_count
  BenchmarkTests/Runner/BenchmarkMeter.swift
  DatadogCore/Sources/Core/Storage/FilesOrchestrator.swift
  DatadogInternal/Sources/Benchmarks/BenchmarkProfiler.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8448 Add ios.benchmark.response_latency
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Sources/Core/Upload/DataUploader.swift
  DatadogCore/Sources/Core/Upload/HTTPClient.swift
  DatadogCore/Sources/Core/Upload/URLSessionClient.swift
  DatadogCore/Sources/SDKMetrics/BenchmarkURLSessionTaskDelegate.swift
  DatadogCore/Tests/Datadog/Mocks/HTTPClientMock.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-8415 Add SwiftUI view auto-instrumentation
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/Utils/CustomDump.swift
  DatadogInternal/Sources/Utils/Dumper.swift
  DatadogRUM/Sources/Instrumentation/RUMInstrumentation.swift
  DatadogRUM/Sources/Instrumentation/Views/RUMView.swift
  DatadogRUM/Sources/Instrumentation/Views/RUMViewsHandler.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIRUMViewsPredicate.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIViewNameExtractor+HostingController.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIViewNameExtractor+NavigationStackController.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIViewNameExtractor+SheetContent.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIViewNameExtractor+Tabbar.swift
  DatadogRUM/Sources/Instrumentation/Views/SwiftUI/SwiftUIViewNameExtractor.swift
  DatadogRUM/Sources/Instrumentation/Views/UIKit/UIKitRUMViewsPredicate.swift
  DatadogRUM/Tests/Instrumentation/Views/RUMViewsHandlerTests.swift
  DatadogRUM/Tests/Instrumentation/Views/SwiftUIViewNameExtractorTests.swift
  DatadogRUM/Tests/Integrations/SwiftUIViewNameExtractorIntegrationTests.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/SwiftUI/SwiftUIWireframesBuilder.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)
