Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Lint: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Smoke Tests (visionOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *
  Smoke Tests (macOS): any of: Datadog*/**/*, IntegrationTests/**/*, TestUtilities/**/*, *

Rename secrets
  tools/benchmark-build-upload.sh
  tools/e2e-build-upload.sh
  tools/secrets/check-secrets.sh
  tools/secrets/config.sh
Due: Tools Tests

Remove code sign in pbxproj
  BenchmarkTests/BenchmarkTests.xcodeproj/project.pbxproj
Due: none

RUM-5536 [SR] Add Start/stop APIs
  DatadogInternal/Sources/Concurrency/ReadWriteLock.swift
  DatadogInternal/Sources/Telemetry/Telemetry.swift
  DatadogInternal/Tests/Telemetry/TelemetryMocks.swift
  DatadogRUM/Sources/Integrations/TelemetryReceiver.swift
  DatadogSessionReplay/Sources/Feature/Baggages.swift
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
  DatadogSessionReplay/Sources/SessionReplay.swift
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
  DatadogSessionReplay/Tests/SessionReplayTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Update README.md
  BenchmarkTests/README.md
Due: none

Apply CR suggestions
  Makefile
  tools/secrets/config.sh
  tools/utils/code-sign.sh
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Use open --new --env
  BenchmarkTests/Makefile
  tools/sr-snapshot-test.sh
Due: Tools Tests

initial impl
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Sources/Core/Upload/DataUploadStatus.swift
  DatadogCore/Sources/Core/Upload/DataUploadWorker.swift
  DatadogCore/Sources/Core/Upload/DataUploader.swift
  DatadogCore/Tests/Datadog/Core/Upload/DataUploadStatusTests.swift
  DatadogCore/Tests/Datadog/Core/Upload/DataUploadWorkerTests.swift
  DatadogCore/Tests/Datadog/Core/Upload/DataUploaderTests.swift
  DatadogCore/Tests/Datadog/Mocks/CoreMocks.swift
  DatadogInternal/Sources/Extensions/Data+Crypto.swift
  DatadogInternal/Sources/Extensions/URL+QueryItem.swift
  DatadogInternal/Tests/Extensions/Data+CryptoTests.swift
  DatadogInternal/Tests/Extensions/URL+QueryItemTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

fix linter
  DatadogInternal/Sources/Extensions/Data+Crypto.swift
  DatadogInternal/Sources/Extensions/URL+QueryItem.swift
  DatadogInternal/Tests/Extensions/Data+CryptoTests.swift
  DatadogInternal/Tests/Extensions/URL+QueryItemTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

fix DataUploadStatusTests
  DatadogCore/Tests/Datadog/Core/Upload/DataUploadStatusTests.swift
  TestUtilities/Helpers/SwiftExtensions.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

fix more test cases
  DatadogCore/Tests/Datadog/Logs/DatadogLogsFeatureTests.swift
  DatadogCore/Tests/Datadog/RUM/RUMFeatureTests.swift
  DatadogCore/Tests/Datadog/Tracing/DatadogTraceFeatureTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

fix integ tests
  IntegrationTests/IntegrationScenarios/Scenarios/RUM/RUMCommonAsserts.swift
  IntegrationTests/IntegrationScenarios/UITestsHelpers.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

fix another integ test
  IntegrationTests/IntegrationScenarios/Scenarios/Logging/LoggingCommonAsserts.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

single line messag
  IntegrationTests/IntegrationScenarios/Scenarios/Logging/LoggingCommonAsserts.swift
  IntegrationTests/IntegrationScenarios/Scenarios/RUM/RUMCommonAsserts.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5762 [SR] Add touchPrivacyLevel option
  DatadogCore/Tests/DatadogObjc/DDSessionReplayTests.swift
  DatadogCore/Tests/DatadogObjc/ObjcAPITests/DDSessionReplay+apiTests.m
  DatadogInternal/Sources/Models/SessionReplay/SessionReplayConfiguration.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SnapshotTestCase.swift
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Recorder/PrivacyLevel.swift
  DatadogSessionReplay/Sources/Recorder/Recorder.swift
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
  DatadogSessionReplay/Sources/SessionReplay+objc.swift
  DatadogSessionReplay/Sources/SessionReplay.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/Feature/RequestBuilder/JSON/SegmentJSONTests.swift
  DatadogSessionReplay/Tests/Mocks/RecorderMocks.swift
  DatadogSessionReplay/Tests/Processor/SnapshotProcessorTests.swift
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
  DatadogSessionReplay/Tests/SessionReplayTests.swift
  DatadogWebViewTracking/Tests/WebViewTrackingTests.swift
  TestUtilities/Mocks/FeatureModels/SessionReplayConfigurationMocks.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5536 Address comments
  DatadogSessionReplay/Sources/Feature/Baggages.swift
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
  DatadogSessionReplay/Sources/SessionReplay.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/SessionReplayTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

include ddtags key
  IntegrationTests/IntegrationScenarios/Scenarios/Logging/LoggingCommonAsserts.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

update changelog
  CHANGELOG.md
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5536 Add startRecordingImmediately to API parameters
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

missing )
  IntegrationTests/IntegrationScenarios/Scenarios/Logging/LoggingCommonAsserts.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

Remove secrets from config file
  tools/secrets/config.sh
Due: Tools Tests

RUM-5555 Collect memory metric
  BenchmarkTests/BenchmarkTests.xcodeproj/project.pbxproj
  BenchmarkTests/BenchmarkTests.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  BenchmarkTests/Benchmarks/Package.swift
  BenchmarkTests/Benchmarks/Sources/Benchmarks.swift
  BenchmarkTests/Benchmarks/Sources/DatadogExporter.swift
  BenchmarkTests/Benchmarks/Sources/Exporter.swift
  BenchmarkTests/Benchmarks/Sources/MetricExporter.swift
  BenchmarkTests/Benchmarks/Sources/Metrics.swift
  BenchmarkTests/Runner/AppConfiguration.swift
  BenchmarkTests/Runner/AppDelegate.swift
  BenchmarkTests/Runner/Scenarios/DefaultScenario.swift
  BenchmarkTests/Runner/Scenarios/Scenario.swift
  BenchmarkTests/Runner/Scenarios/SessionReplay/SessionReplayScenario.swift
  BenchmarkTests/Runner/Scenarios/SyntheticScenario.swift
Due: none

Add docs
  BenchmarkTests/Benchmarks/Sources/Benchmarks.swift
  BenchmarkTests/Benchmarks/Sources/MetricExporter.swift
Due: none

RUM-5536 Address comments
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
  DatadogSessionReplay/Sources/SessionReplay.swift
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
  DatadogSessionReplay/Tests/SessionReplayConfigurationTests.swift
  DatadogSessionReplay/Tests/SessionReplayTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5536 Fix test
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5762 Update new API
  DatadogCore/Tests/DatadogObjc/DDSessionReplayTests.swift
  DatadogCore/Tests/DatadogObjc/ObjcAPITests/DDSessionReplay+apiTests.m
  DatadogSessionReplay/Sources/SessionReplay+objc.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/SessionReplayTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5555 Collect FPS metric
  BenchmarkTests/Benchmarks/Sources/Benchmarks.swift
  BenchmarkTests/Benchmarks/Sources/Metrics.swift
Due: none

fix: Ensure need attributes are sent from logs on the message bus
  DatadogLogs/Sources/RemoteLogger.swift
  DatadogLogs/Tests/RemoteLoggerTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5390 Add record image level configuration
  DatadogInternal/Sources/Models/SessionReplay/SessionReplayConfiguration.swift
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Recorder/Recorder.swift
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeSnapshotBuilder.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5390 Add objc interfaces
  DatadogCore/Tests/DatadogObjc/ObjcAPITests/DDSessionReplay+apiTests.m
  DatadogSessionReplay/Sources/SessionReplay+objc.swift
  DatadogWebViewTracking/Tests/WebViewTrackingTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5390 Rename and add tests
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/Models/SessionReplay/SessionReplayConfiguration.swift
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Recorder/ImagePrivacyLevel.swift
  DatadogSessionReplay/Sources/Recorder/Recorder.swift
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIActivityIndicatorRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewRecorder.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/Feature/RequestBuilder/JSON/SegmentJSONTests.swift
  DatadogSessionReplay/Tests/Mocks/RecorderMocks.swift
  DatadogSessionReplay/Tests/Processor/SnapshotProcessorTests.swift
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewRecorderTests.swift
  TestUtilities/Mocks/FeatureModels/SessionReplayConfigurationMocks.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5390 Update image placeholder
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewRecorder.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5390 Reformat
  DatadogSessionReplay/Sources/Recorder/Recorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeSnapshotBuilder.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5390 Lint fix
  DatadogSessionReplay/Tests/Recorder/RecordingCoordinatorTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5390 PR fixes
  DatadogInternal/Sources/Models/SessionReplay/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/Processor/SnapshotProcessorTests.swift
  DatadogSessionReplay/Tests/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewWireframesBuilderTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5390 Add snapshot tests
  DatadogSessionReplay/SRSnapshotTests/README.md
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/SRSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SnapshotTestCase.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testImages_MaskAll()-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testImages_MaskAll()-mask-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testImages_MaskNone()-allow-privacy.png.json
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/_snapshots_/pointers/testImages_MaskNone()-mask-privacy.png.json
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewRecorder.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5390 PR fixes
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SnapshotTestCase.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/UIImageViewRecorder.swift
  DatadogWebViewTracking/Tests/WebViewTrackingTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)

RUM-5390 Refactor to SR configuration instead of internal
  CHANGELOG.md
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Tests/DatadogObjc/ObjcAPITests/DDSessionReplay+apiTests.m
  DatadogInternal/Sources/Models/SessionReplay/SessionReplayConfiguration.swift
  DatadogSessionReplay/SRSnapshotTests/SRSnapshotTests/Utils/SnapshotTestCase.swift
  DatadogSessionReplay/Sources/Recorder/ImagePrivacyLevel.swift
  DatadogSessionReplay/Sources/Recorder/Recorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeSnapshotBuilder.swift
  DatadogSessionReplay/Sources/SessionReplay+objc.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  DatadogSessionReplay/Tests/Mocks/ImagePrivacyLevelMocks.swift
  DatadogSessionReplay/Tests/SessionReplayConfigurationTests.swift
Due: ENV check, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), Smoke Tests (visionOS), Smoke Tests (macOS)
