Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *

chore: Remove unused `objc_SessionReplayConfigurationPrivacyLevel`
  DatadogSessionReplay/Sources/SessionReplay+objc.swift
  DatadogSessionReplay/Tests/DDSessionReplayTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

chore: Update `api-surface`
  api-surface-objc
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-7285 Add api-surface step to Lint stage
  .gitlab-ci.yml
  Makefile
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-7285 Address CR + split commands + add tests
  .gitlab-ci.yml
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  Makefile
  api-surface-objc
  api-surface-swift
  tools/api-surface/Fixtures/Package.swift
  tools/api-surface/Package.swift
  tools/api-surface/Sources/APISurfaceCore/APISurface.swift
  tools/api-surface/Sources/APISurfaceCore/Commands.swift
  tools/api-surface/Sources/api-surface/main.swift
  tools/api-surface/Tests/APISurfaceCoreTests/IntegrationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Add missing versionMajor property to the DDLogEventOperatingSystem definition in Objective-C
  CHANGELOG.md
  DatadogLogs/Sources/LogsDataModels+objc.swift
  api-surface-objc
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10627 Apply Simao's suggestions
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/DataModels/Accessibility.swift
  DatadogRUM/Sources/DataModels/AccessibilityInfo.swift
  DatadogRUM/Sources/DataModels/RUMDataModelsMapping.swift
  DatadogRUM/Sources/Feature/RUMViewEventsFilter.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Tests/RUMContext/AccessibilityReaderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11465: Register `FirstFrameReader` entity to the DisplayLinker
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Tests/Datadog/RUM/RUMVitals/FirstFrameReaderTests.swift
  DatadogInternal/Sources/Context/MediaTimeProvider.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMMonitor/RUMCommand.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMScopeDependencies.swift
  DatadogRUM/Sources/RUMVitals/RenderLoop/FirstFrameReader.swift
  TestUtilities/Sources/Mocks/DatadogInternal/DateProviderMock.swift
  TestUtilities/Sources/Mocks/DatadogInternal/MediaTimeProviderMock.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-7285 Add ObjC test
  tools/api-surface/Fixtures/Sources/Fixture1/Fixture1+objc.swift
  tools/api-surface/Tests/APISurfaceCoreTests/IntegrationTests.swift
Due: Tools Tests

RUM-10627 Accessibility in View Updates
  DatadogRUM/Sources/DataModels/Accessibility.swift
  DatadogRUM/Sources/RUMContext/AccessibilityReader.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Tests/RUMContext/AccessibilityReaderTests.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMViewScopeTests.swift
  TestUtilities/Sources/Mocks/DatadogRUM/AccessibilityValuesMock.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10627 Apply CR Suggestions
  DatadogRUM/Sources/DataModels/RUMDataModelsMapping.swift
  DatadogRUM/Sources/RUMContext/AccessibilityReader.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Tests/RUMViewEventsFilterTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10627 Remove accessibility feature flag
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMConfiguration.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10627 Keep all events with accessibility attributes in RUMViewEventsFilter
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  DatadogRUM/Sources/DataModels/RUMDataModelsMapping.swift
  DatadogRUM/Sources/Feature/RUMViewEventsFilter.swift
  DatadogRUM/Tests/RUMViewEventsFilterTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10627 Add flag to RUM Configuration
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMConfiguration.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10627 Update Changelog
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10627 Apply Simao's suggestions
  DatadogRUM/Sources/RUMContext/AccessibilityReader.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Tests/RUMContext/AccessibilityReaderTests.swift
  TestUtilities/Sources/Mocks/DatadogRUM/AccessibilityValuesMock.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10627 Apply Maciej's suggestions
  DatadogRUM/Sources/DataModels/Accessibility.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMContext/AccessibilityReader.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10627 Remove view logic from Accessibility reader
  DatadogRUM/Sources/DataModels/Accessibility.swift
  DatadogRUM/Sources/RUMContext/AccessibilityReader.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Tests/RUMContext/AccessibilityReaderTests.swift
  DatadogRUM/Tests/RUMViewEventsFilterTests.swift
  TestUtilities/Sources/Mocks/DatadogRUM/AccessibilityValuesMock.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10627 Rebase of develop
  DatadogRUM/Sources/DataModels/RUMDataModelsMapping.swift
  DatadogRUM/Sources/Feature/RUMViewEventsFilter.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-10627 Apply Simao's suggestions
  CHANGELOG.md
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/DataModels/Accessibility.swift
  DatadogRUM/Sources/DataModels/AccessibilityInfo.swift
  DatadogRUM/Sources/DataModels/RUMDataModelsMapping.swift
  DatadogRUM/Sources/Feature/RUMViewEventsFilter.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Tests/RUMContext/AccessibilityReaderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update LICENSE-3rdparty.csv
  LICENSE-3rdparty.csv
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update tools/protoc-pprof.sh
  tools/protoc-pprof.sh
Due: Tools Tests

RUM-11136: Move session properties to `ddtags` over query parameters
  Datadog/Datadog.xcodeproj/project.pbxproj
  Datadog/IntegrationUnitTests/RUM/RUMAttributesIntegrationTests.swift
  DatadogCore/Tests/Datadog/RUM/RUMFeatureTests.swift
  DatadogInternal/Sources/Context/DatadogContext.swift
  DatadogInternal/Sources/Models/CrashReporting/CrashContext.swift
  DatadogInternal/Tests/Context/DatadogContextTests.swift
  DatadogRUM/Sources/FatalErrorBuilder.swift
  DatadogRUM/Sources/Feature/RequestBuilder.swift
  DatadogRUM/Sources/Integrations/CrashReportReceiver.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMResourceScope.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMUserActionScope.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Tests/Feature/RequestBuilderTests.swift
  DatadogRUM/Tests/RUMEvent/RUMEventBuilderTests.swift
  IntegrationTests/IntegrationScenarios/Scenarios/RUM/RUMCommonAsserts.swift
  TestUtilities/Sources/Mocks/DatadogInternal/DatadogContextMock.swift
  TestUtilities/Sources/Mocks/DatadogInternal/RUMDataModelMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11465: Register `FirstFrameReader` entity to the DisplayLinker
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogCore/Tests/Datadog/RUM/RUMVitals/FirstFrameReaderTests.swift
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/RUMMonitor/RUMCommand.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMScopeDependencies.swift
  DatadogRUM/Sources/RUMVitals/RenderLoop/FirstFrameReader.swift
  DatadogRUM/Sources/RUMVitals/RenderLoop/Providers/FrameInfoProvider.swift
  DatadogRUM/Sources/RUMVitals/RenderLoop/Providers/MediaTimeProvider.swift
  TestUtilities/Sources/Mocks/DatadogInternal/DateProviderMock.swift
  TestUtilities/Sources/Mocks/DatadogInternal/MediaTimeProviderMock.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-7285 Add ObjC test
  DatadogSessionReplay/Sources/SessionReplayConfiguration.swift
  tools/api-surface/Fixtures/Sources/Fixture1/Fixture1+objc.swift
  tools/api-surface/Tests/APISurfaceCoreTests/IntegrationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-7285 Run command only on master branch
  .gitlab-ci.yml
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-7285 Replace harcoded paths with unique temp directories
  tools/api-surface/Tests/APISurfaceCoreTests/IntegrationTests.swift
Due: Tools Tests

RUM-7285 Run step on release/hotfix branches
  .gitlab-ci.yml
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11465: Move `MediaTimeProviderMock` to RUM folder
  Datadog/Datadog.xcodeproj/project.pbxproj
  TestUtilities/Sources/Mocks/DatadogRUM/MediaTimeProviderMock.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11136: Update `Changelog.md`
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-839 Improve node flattening performance
  DatadogSessionReplay/Sources/Processor/Flattening/NodesFlattener.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Bumped version to 2.30.1
  DatadogAlamofireExtension.podspec
  DatadogCore.podspec
  DatadogCore/Sources/Versioning.swift
  DatadogCrashReporting.podspec
  DatadogInternal.podspec
  DatadogLogs.podspec
  DatadogObjc.podspec
  DatadogRUM.podspec
  DatadogSessionReplay.podspec
  DatadogTrace.podspec
  DatadogWebViewTracking.podspec
  TestUtilities.podspec
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update Changelog.md
  CHANGELOG.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11032 Add Feature Operations steps commands + public APIs
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/RUMCommand.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Sources/RUMMonitorProtocol+Convenience.swift
  DatadogRUM/Sources/RUMMonitorProtocol.swift
  DatadogRUM/Tests/RUMMonitor/FeatureOperationTests.swift
  TestUtilities/Sources/Mocks/DatadogRUM/VitalMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11032 Refactor to use single command + add CaseIterable conforme to mock + edit doc
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/RUMCommand.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Sources/RUMMonitorProtocol+Convenience.swift
  DatadogRUM/Sources/RUMMonitorProtocol.swift
  TestUtilities/Sources/Mocks/DatadogRUM/VitalMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11032 - Fix method signatures + remove lint exception
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Sources/RUMMonitorProtocol+Convenience.swift
  DatadogRUM/Sources/RUMMonitorProtocol.swift
  TestUtilities/Sources/Mocks/DatadogRUM/VitalMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11032 Remove retroactive attribute
  TestUtilities/Sources/Mocks/DatadogRUM/VitalMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11232 Add ObjC APis
  DatadogCore/Tests/Objc/DDRUMMonitorTests.swift
  DatadogCore/Tests/Objc/ObjcAPITests/DDRUMMonitor+apiTests.m
  DatadogRUM/Sources/RUM+objc.swift
  DatadogRUM/Tests/RUMMonitorProtocol+ConvenienceTests.swift
  DatadogRUM/Tests/RUMMonitorProtocolTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11033 Update FO logic and add debug logs
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/RUMMonitor/RUMFeatureOperationManager.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Tests/RUMMonitor/FeatureOperationTests.swift
  DatadogRUM/Tests/RUMMonitor/RUMFeatureOperationManagerTests.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMSessionScopeTests.swift
  TestUtilities/Sources/Mocks/DatadogInternal/RUMDataModelMocks.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)
