Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

ENV check:
  stage: pre
  script:
  - ./tools/runner-setup.sh --datadog-ci
  - make env-check

Dependency Cache:
  stage: pre
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: push
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean dependencies

Lint:
  stage: lint
  script:
  - make clean repo-setup ENV=ci
  - make lint license-check
  - make rum-models-verify sr-models-verify

Unit Tests (iOS):
  stage: test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

Unit Tests (tvOS):
  stage: test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

UI Tests:
  stage: ui-test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  parallel:
    matrix:
    - TEST_PLAN:
      - Default
      - RUM
      - CrashReporting
      - NetworkInstrumentation
  script:
  ...

SR Snapshot Tests:
  stage: ui-test
  variables:
    PLATFORM: iOS Simulator
    IOS_OS: '17.5'
    DEVICE: iPhone 15
    ARTIFACTS_PATH: artifacts
  artifacts:
    paths:
    - artifacts
    expire_in: 1 week
    when: on_failure
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  ...

Tools Tests:
  stage: test
  script:
  - make clean repo-setup ENV=ci
  - make tools-test

Benchmark Build:
  stage: smoke-test
  script:
  - make benchmark-build

Smoke Tests (iOS):
  stage: smoke-test
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-ios-all OS="$DEFAULT_IOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

Smoke Tests (tvOS):
  stage: smoke-test
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-tvos-all OS="$DEFAULT_TVOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

SPM Build (Swift 5.10):
  stage: smoke-test
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --iOS --tvOS --visionOS --watchOS
  - make clean repo-setup ENV=ci
  - make spm-build-ios
  - make spm-build-tvos
  - make spm-build-visionos
  - make spm-build-macos
  - make spm-build-watchos

RUM-11166 Rename DatadogProfiler to DatadogProfiling
  .spi.yml
  Datadog/Datadog.xcodeproj/project.pbxproj
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogProfiling iOS.xcscheme
  Datadog/Datadog.xcodeproj/xcshareddata/xcschemes/DatadogProfiling tvOS.xcscheme
  DatadogProfiling.podspec
  DatadogProfiling/Mach/include/mach_profiler.h
  DatadogProfiling/Mach/mach_profiler.cpp
  DatadogProfiling/Sources/Profiler.swift
  DatadogProfiling/Tests/ProfilerTests.swift
  Makefile
  Package.swift
  SmokeTests/carthage/App/ViewController.swift
  SmokeTests/carthage/CTProject.xcodeproj/project.pbxproj
  SmokeTests/cocoapods/App/ViewController.swift
  SmokeTests/cocoapods/Podfile.src
  SmokeTests/spm/App/ViewController.swift
  SmokeTests/spm/SPMProject.xcodeproj.src/project.pbxproj
  SmokeTests/xcframeworks/App/ViewController.swift
  SmokeTests/xcframeworks/XCProject.xcodeproj/project.pbxproj
  tools/lint/sources.swiftlint.yml
  tools/lint/tests.swiftlint.yml
  tools/release/build-xcframeworks.sh
  tools/release/validate-xcframeworks.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11032 - Fix method signatures + remove lint exception
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Sources/RUMMonitorProtocol+Convenience.swift
  DatadogRUM/Sources/RUMMonitorProtocol.swift
  TestUtilities/Sources/Mocks/DatadogRUM/VitalMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11032 Remove retroactive attribute
  TestUtilities/Sources/Mocks/DatadogRUM/VitalMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11242 Make mimeType non-optional
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/Sources/Feature/RequestBuilders/ResourceRequestBuilder.swift
  DatadogSessionReplay/Sources/Models/EnrichedResource.swift
  DatadogSessionReplay/Tests/Models/EnrichedResourceTests.swift
  TestUtilities/Sources/Mocks/DatadogSessionReplay/ResourceMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11166 Cxx Mach Sampling Profiler
  Datadog/Datadog.xcodeproj/project.pbxproj
  Datadog/TargetSupport/DatadogProfiling/DatadogProfiling.h
  DatadogProfiling.podspec
  DatadogProfiling/Mach/include/mach_profiler.h
  DatadogProfiling/Mach/mach_profiler.cpp
  DatadogProfiling/Mach/mach_sampling_profiler.cpp
  DatadogProfiling/Mach/mach_sampling_profiler.h
  DatadogProfiling/Sources/Profiler.swift
  DatadogProfiling/Tests/CCallbackContext.swift
  DatadogProfiling/Tests/MachProfilerCAPITests.swift
  DatadogProfiling/Tests/MachSamplingProfilerTests.swift
  DatadogProfiling/Tests/MockThread.swift
  Package.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11166 Apply CR review
  DatadogProfiling/Mach/include/mach_profiler.h
  DatadogProfiling/Mach/mach_sampling_profiler.cpp
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11166 Fix thread_get_frame_pointers arch checks
  DatadogProfiling/Mach/mach_sampling_profiler.cpp
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update DatadogProfiling/Mach/mach_sampling_profiler.h
  DatadogProfiling/Mach/mach_sampling_profiler.h
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

initial comit
  Package.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add setAttributes fields
  DatadogTrace/Sources/OpenTelemetry/NOPOTelSpan.swift
  DatadogTrace/Sources/OpenTelemetry/OTelSpan.swift
  DatadogTrace/Sources/OpenTelemetry/OTelTracerProvider.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11032 Refactor to use single command + add CaseIterable conforme to mock + edit doc
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/RUMCommand.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Sources/RUMMonitorProtocol+Convenience.swift
  DatadogRUM/Sources/RUMMonitorProtocol.swift
  TestUtilities/Sources/Mocks/DatadogRUM/VitalMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11032 Add Feature Operations steps commands + public APIs
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
  DatadogRUM/Sources/RUMMonitor/RUMCommand.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMViewScope.swift
  DatadogRUM/Sources/RUMMonitorProtocol+Convenience.swift
  DatadogRUM/Sources/RUMMonitorProtocol.swift
  DatadogRUM/Tests/RUMMonitor/FeatureOperationTests.swift
  TestUtilities/Sources/Mocks/DatadogRUM/VitalMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11232 Add ObjC APis
  DatadogCore/Tests/Objc/DDRUMMonitorTests.swift
  DatadogCore/Tests/Objc/ObjcAPITests/DDRUMMonitor+apiTests.m
  DatadogRUM/Sources/RUM+objc.swift
  DatadogRUM/Tests/RUMMonitorProtocol+ConvenienceTests.swift
  DatadogRUM/Tests/RUMMonitorProtocolTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11166 Replace umbrella header with modulemap
  Datadog/Datadog.xcodeproj/project.pbxproj
  Datadog/TargetSupport/DatadogProfiling/DatadogProfiling.h
  DatadogProfiling.podspec
  DatadogProfiling/Mach/include/mach_sampling_profiler.h
  DatadogProfiling/Mach/include/module.modulemap
  DatadogProfiling/Sources/Profiler.swift
  DatadogProfiling/Tests/MachProfilerCAPITests.swift
  DatadogProfiling/Tests/MachSamplingProfilerTests.swift
  Package.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Close stale issues with reason completed
  .github/workflows/stale.yml
Due: none

RUM-11166 Create Profiling Feature
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/Upload/MultipartFormData.swift
  DatadogInternal/Tests/Upload/MultipartFormDataTests.swift
  DatadogProfiling/Sources/DatadogProfiling.swift
  DatadogProfiling/Sources/MachProfiler.swift
  DatadogProfiling/Sources/ProfileEvent.swift
  DatadogProfiling/Sources/Profiler.swift
  DatadogProfiling/Sources/ProfilerFeature.swift
  DatadogProfiling/Sources/RequestBuilder.swift
  DatadogProfiling/Tests/MockProfiler.swift
  DatadogProfiling/Tests/ProfilingTest.swift
  DatadogProfiling/Tests/RequestBuilderTests.swift
  DatadogSessionReplay/Sources/Feature/RequestBuilders/SegmentJSON.swift
  DatadogSessionReplay/Tests/Feature/RequestBuilder/SegmentJSONTests.swift
  TestUtilities/Sources/Mocks/DatadogInternal/FileWriterMock.swift
  TestUtilities/Sources/Mocks/DatadogInternal/MultipartBuilderSpy.swift
  TestUtilities/Sources/Mocks/DatadogInternal/PassthroughCoreMock.swift
  TestUtilities/Sources/Mocks/DatadogSessionReplay/MultipartBuilderSpy.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

updated dd-sdk-swift-testing version
  Datadog/Datadog.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Update DatadogCore/Sources/Datadog.swift
  DatadogCore/Sources/Datadog.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Renamed allowsConstrainedNetworkAccessFalse to constrainedNetworkAccess
  DatadogCore/Sources/Core/Upload/DataUploadConditions.swift
  DatadogCore/Sources/Core/Upload/DataUploadWorker.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Renamed allowsConstrainedNetworkAccess to isNetworkAccessConstrained
  DatadogCore/Sources/Core/Upload/DataUploadConditions.swift
  DatadogCore/Sources/Core/Upload/FeatureUpload.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Removed "not" from constrained network upload check
  DatadogCore/Sources/Core/Upload/DataUploadConditions.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Pin GitHub Actions commits and use protected environment secrets + configure dependabot
  .github/dependabot.yml
  .github/workflows/issue_notification.yml
  tools/issue_handler/setup_env.sh
Due: Tools Tests

Add Github Action workflow for Github issue notifications to Slack
  .github/workflows/issue_notification.yml
  tools/issue_handler/.gitignore
  tools/issue_handler/README.md
  tools/issue_handler/requirements.txt
  tools/issue_handler/setup_env.sh
  tools/issue_handler/src/__init__.py
  tools/issue_handler/src/analyze_issue.py
  tools/issue_handler/src/github_handler.py
  tools/issue_handler/src/openai_handler.py
  tools/issue_handler/src/slack_handler.py
  tools/issue_handler/test_local.py
  tools/issue_handler/test_slack_webhook.py
  tools/issue_handler/tests/test_analysis.py
  tools/issue_handler/tests/test_github_handler.py
  tools/issue_handler/tests/test_real_issue.py
Due: Tools Tests

Apply Doc team suggestions
  tools/issue_handler/README.md
Due: Tools Tests

Address security review
  .github/dependabot.yml
  .github/workflows/issue_notification.yml
  tools/issue_handler/requirements.txt
  tools/issue_handler/src/github_handler.py
  tools/issue_handler/src/openai_handler.py
  tools/issue_handler/src/slack_handler.py
  tools/issue_handler/tests/test_github_handler.py
  tools/issue_handler/tests/test_openai_handler.py
  tools/issue_handler/tests/test_slack_handler.py
Due: Tools Tests

Add CI integration
  .gitlab-ci.yml
  Makefile
  tools/issue_handler/README.md
  tools/issue_handler/integration_tests/test_analysis.py
  tools/issue_handler/integration_tests/test_real_issue.py
  tools/issue_handler/pytest.ini
  tools/issue_handler/run_tests.sh
  tools/issue_handler/test_local.py
  tools/issue_handler/test_slack_webhook.py
  tools/runner-setup.sh
  tools/tools-test.sh
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix missing license headers
  tools/issue_handler/integration_tests/test_analysis.py
  tools/issue_handler/integration_tests/test_real_issue.py
  tools/issue_handler/src/analyze_issue.py
  tools/issue_handler/src/github_handler.py
  tools/issue_handler/src/openai_handler.py
  tools/issue_handler/src/slack_handler.py
  tools/issue_handler/test_local.py
  tools/issue_handler/test_slack_webhook.py
  tools/issue_handler/tests/test_github_handler.py
  tools/issue_handler/tests/test_openai_handler.py
  tools/issue_handler/tests/test_slack_handler.py
Due: Tools Tests

updated to beta2
  Datadog/Datadog.xcodeproj/project.pbxproj
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix missing virtual env in CI
  tools/tools-test.sh
Due: Tools Tests

Fix DDLogEvent.accountInfo initialization
  CHANGELOG.md
  DatadogLogs/Sources/LogsDataModels+objc.swift
  api-surface-objc
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11185 Add API Usage Telemetry
  DatadogInternal/Sources/Models/RUM/RUMDataModels.swift
  DatadogInternal/Sources/Telemetry/Telemetry.swift
  DatadogRUM/Sources/DataModels/RUMDataModels+objc.swift
  DatadogRUM/Sources/Integrations/TelemetryReceiver.swift
  DatadogRUM/Sources/RUMMonitor/Monitor.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-11033 Update FO logic and add debug logs
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogRUM/Sources/RUMMonitor/RUMFeatureOperationManager.swift
  DatadogRUM/Sources/RUMMonitor/Scopes/RUMSessionScope.swift
  DatadogRUM/Tests/RUMMonitor/FeatureOperationTests.swift
  DatadogRUM/Tests/RUMMonitor/RUMFeatureOperationManagerTests.swift
  DatadogRUM/Tests/RUMMonitor/Scopes/RUMSessionScopeTests.swift
  TestUtilities/Sources/Mocks/DatadogInternal/RUMDataModelMocks.swift
  TestUtilities/Sources/Mocks/DatadogRUM/RUMFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
