Repository DataDog/dd-sdk-ios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Benchmark Build, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

ENV check:
  stage: pre
  script:
  - ./tools/runner-setup.sh --datadog-ci
  - make env-check

Dependency Cache:
  stage: pre
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: push
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean dependencies

Lint:
  stage: lint
  script:
  - make clean repo-setup ENV=ci
  - make lint license-check
  - make rum-models-verify sr-models-verify

Unit Tests (iOS):
  stage: test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

Unit Tests (tvOS):
  stage: test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE"
  - make clean repo-setup ENV=ci
  ...

UI Tests:
  stage: ui-test
  cache:
  - key: carthage-cache-$CI_COMMIT_REF_SLUG
    paths:
    - Carthage/Build
    policy: pull
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  parallel:
    matrix:
    - TEST_PLAN:
      - Default
      - RUM
      - CrashReporting
      - NetworkInstrumentation
  script:
  ...

SR Snapshot Tests:
  stage: ui-test
  variables:
    PLATFORM: iOS Simulator
    IOS_OS: '17.5'
    DEVICE: iPhone 15
    ARTIFACTS_PATH: artifacts
  artifacts:
    paths:
    - artifacts
    expire_in: 1 week
    when: on_failure
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  ...

Tools Tests:
  stage: test
  script:
  - make clean repo-setup ENV=ci
  - make tools-test

Benchmark Build:
  stage: smoke-test
  script:
  - make benchmark-build

Smoke Tests (iOS):
  stage: smoke-test
  variables:
    PLATFORM: iOS Simulator
    DEVICE: iPhone 16 Pro
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-ios-all OS="$DEFAULT_IOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

Smoke Tests (tvOS):
  stage: smoke-test
  variables:
    PLATFORM: tvOS Simulator
    DEVICE: Apple TV
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --ssh
  - make clean repo-setup ENV=ci
  - make smoke-test-tvos-all OS="$DEFAULT_TVOS_OS" PLATFORM="$PLATFORM" DEVICE="$DEVICE"

SPM Build (Swift 5.10):
  stage: smoke-test
  script:
  - ./tools/runner-setup.sh --xcode "$DEFAULT_XCODE" --iOS --tvOS --visionOS --watchOS
  - make clean repo-setup ENV=ci
  - make spm-build-ios
  - make spm-build-tvos
  - make spm-build-visionos
  - make spm-build-macos
  - make spm-build-watchos

[PANA-8059] Track portal source subtree changes
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot+ImageSnapshot.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/CALayerSnapshot.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservation.swift
  DatadogSessionReplay/Sources/LayerTreeRecorder/SemanticObservationMapping+VisualEffect.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/CALayerSnapshotImageSnapshotRequestTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/LayerWireframeBuilderTests.swift
  DatadogSessionReplay/Tests/LayerTreeRecorder/SemanticObservationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[PANA-8059] Remove unstable tab privacy snapshot
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/SRLayerSnapshotTests.swift
  DatadogSessionReplay/SRSnapshotTests/SRLayerSnapshotTests/_snapshots_/pointers/testTab()-maskAll-privacy.png.json
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Address review comments
  DatadogProfiling/Sources/ProfilerFeature.swift
  DatadogProfiling/Sources/ProfilingHandler.swift
  DatadogProfiling/Sources/SDKMetrics/ProfilingSessionMetric.swift
  DatadogProfiling/Tests/DatadogProfilerTests.swift
  DatadogProfiling/Tests/ProfilingTest.swift
  docs/LLM_FEATURE_DOCS_GUIDELINES.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16945] Clamp stats rounding overflow and close stats-hook registration race
  DatadogTrace/Sources/Feature/StatsConcentrator.swift
  DatadogTrace/Sources/Trace.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16945] Point Trace feature-doc baseline at current commit
  DatadogTrace/TRACE_FEATURE.md
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-3363] Handle dictionaries in span tags APIs
  CHANGELOG.md
  DatadogCore/Tests/Datadog/TracerTests.swift
  DatadogTrace/Sources/DDNoOps.swift
  DatadogTrace/Sources/DDSpan.swift
  DatadogTrace/Sources/DatadogTracer.swift
  DatadogTrace/Sources/OpenTracing/OTSpan.swift
  DatadogTrace/Sources/OpenTracing/OTTagValue.swift
  DatadogTrace/Sources/OpenTracing/OTTracer.swift
  DatadogTrace/TRACE_FEATURE.md
  DatadogTrace/Tests/DDNoopTracerTests.swift
  DatadogTrace/Tests/DDSpanTests.swift
  DatadogTrace/Tests/TraceTests.swift
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-17195] Fix RUMTests references to renamed Monitor.applicationScope
  DatadogRUM/Tests/RUMTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Fix dogfood.sh: restore missing commit SHA argument to commit-headless push
  tools/dogfooding/dogfood.sh
Due: Tools Tests

[RUM-3363] Fix mergeTags to override global dictionary tags with scalar overrides
  CHANGELOG.md
  DatadogTrace/Sources/OpenTracing/OTTagValue.swift
  DatadogTrace/Tests/DDSpanTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

chore: Use `--datadog-ci` for release publish jobs
  .gitlab-ci.yml
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16945] Clear buffered client-side stats on clearAllData
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogCore/Tests/Datadog/DatadogCore/DatadogCoreTests.swift
  DatadogInternal/Sources/DatadogFeature.swift
  DatadogTrace/Sources/Feature/ClientStatsFeature.swift
  DatadogTrace/Sources/Feature/StatsConcentrator.swift
  DatadogTrace/Tests/ClientStatsFeatureTests.swift
  DatadogTrace/Tests/StatsConcentratorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16945] Build client-side stats snapshot from sanitized span
  DatadogTrace/Sources/DDSpan.swift
  DatadogTrace/Tests/Span/SpanSnapshotTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-17385] Clear buffered client-side stats on clearAllData
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogCore/Tests/Datadog/DatadogCore/DatadogCoreTests.swift
  DatadogInternal/Sources/DatadogFeature.swift
  DatadogTrace/Sources/Feature/ClientStatsFeature.swift
  DatadogTrace/Sources/Feature/StatsConcentrator.swift
  DatadogTrace/Tests/ClientStatsFeatureTests.swift
  DatadogTrace/Tests/StatsConcentratorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-3363] Clear stale flattened leaves on setTag self-override
  CHANGELOG.md
  DatadogTrace/Sources/DDSpan.swift
  DatadogTrace/Tests/DDSpanTests.swift
  DatadogTrace/Tests/OpenTelemetry/OTelSpanTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

RUM-16039: Use stable thread IDs in Mach profiler
  DatadogProfiling/Mach/include/dd_profiler.h
  DatadogProfiling/Mach/include/dd_profiler_testing.h
  DatadogProfiling/Mach/include/mach_sampling_profiler.h
  DatadogProfiling/Mach/mach_sampling_profiler.cpp
  DatadogProfiling/Tests/MachSamplingProfilerTests.swift
  DatadogProfiling/Tests/ProfileCxxTests.swift
  DatadogProfiling/Tests/ProfileMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-3363] Track leaf ownership in mergeTags to fix global dictionary tag override
  DatadogTrace/Sources/DDSpan.swift
  DatadogTrace/Sources/DatadogTracer.swift
  DatadogTrace/Sources/OpenTelemetry/OTelSpan.swift
  DatadogTrace/Sources/OpenTracing/OTTagValue.swift
  DatadogTrace/Tests/DDSpanTests.swift
  DatadogTrace/Tests/TraceTests.swift
  TestUtilities/Sources/Mocks/DatadogTrace/TracingFeatureMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16628] Attach native ddTags to WebView RUM events
  DatadogRUM/Sources/Integrations/WebViewEventReceiver.swift
  DatadogRUM/Tests/Integrations/WebViewEventReceiverTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16945] Fix premature stats bucket flush within the first buffer window
  DatadogTrace/Sources/Feature/StatsConcentrator.swift
  DatadogTrace/Tests/StatsConcentratorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16628] Update WebEventIntegrationTests expected fixture for ddtags
  Datadog/IntegrationUnitTests/RUM/WebEventIntegrationTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16628] Merge WebView ddtags by key to avoid duplicate keys
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/Context/DDTag.swift
  DatadogInternal/Sources/Context/DatadogContext.swift
  DatadogInternal/Tests/Context/DatadogContextTests.swift
  DatadogLogs/Sources/Feature/MessageReceivers.swift
  DatadogRUM/Sources/Integrations/WebViewEventReceiver.swift
  DatadogRUM/Tests/Integrations/WebViewEventReceiverTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-17198] Fix stale dd_profiler C-API names in ProfilingTest
  DatadogProfiling/Tests/ProfilingTest.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

eat(sr): Add Flutter session-replay message bus and embedded-content wireframe placeholders
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogInternal/Sources/MessageBus/FeatureMessage.swift
  DatadogInternal/Sources/Models/FlutterTracking/FlutterMessage.swift
  DatadogSessionReplay/Sources/Feature/FlutterRecordReceiver.swift
  DatadogSessionReplay/Sources/Feature/SessionReplayFeature.swift
  DatadogSessionReplay/Sources/Models/SRDataModels.swift
  DatadogSessionReplay/Sources/Processor/Builders/WireframesBuilder.swift
  DatadogSessionReplay/Sources/Processor/Diffing/Diff+SRWireframes.swift
  DatadogSessionReplay/Sources/Processor/SnapshotProcessor.swift
  DatadogSessionReplay/Sources/Recorder/RecordingCoordinator.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/FlutterViewRecorder.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeRecordingContext.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeSnapshot.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/ViewTreeSnapshotBuilder.swift
  tools/rum-models-generator/Sources/CodeDecoration/SRCodeDecorator.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Tools Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

fix(sr): Remove debug NSLog statements from Session Replay Flutter integration.
  DatadogSessionReplay/Sources/Feature/FlutterRecordReceiver.swift
  DatadogSessionReplay/Sources/Processor/Builders/WireframesBuilder.swift
  DatadogSessionReplay/Sources/Processor/SnapshotProcessor.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/FlutterViewRecorder.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16486] Remove dead legacy-bus registration for CrashReportReceiver
  DatadogRUM/Sources/Feature/RUMFeature.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Revert "[RUM-16945] Clear buffered client-side stats on clearAllData"
  DatadogCore/Sources/Core/DatadogCore.swift
  DatadogCore/Tests/Datadog/DatadogCore/DatadogCoreTests.swift
  DatadogInternal/Sources/DatadogFeature.swift
  DatadogTrace/Sources/Feature/ClientStatsFeature.swift
  DatadogTrace/Sources/Feature/StatsConcentrator.swift
  DatadogTrace/Tests/ClientStatsFeatureTests.swift
  DatadogTrace/Tests/StatsConcentratorTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16486] Expose crashReportReceiver on RUMFeature for test access
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Tests/RUMTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[chain-pr 7/10] DatadogFlags: typed-bus migration
  DatadogFlags/Sources/Client/FlagsClient.swift
  DatadogFlags/Sources/Client/RUMFlagEvaluationReporter.swift
  DatadogFlags/Sources/Feature/FlagsFeature.swift
  DatadogFlags/Tests/Client/FlagsClientTests.swift
  DatadogFlags/Tests/Client/RUMFlagEvaluationReporterTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16486] Fix RUMFlagEvaluationReporterTests to subscribe via messageBus
  DatadogFlags/Tests/Client/RUMFlagEvaluationReporterTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-16486] Revert RUMFlagEvaluationReporter to legacy bus until RUM FlagEvaluationReceiver migrates
  DatadogRUM/Sources/Feature/RUMFeature.swift
  DatadogRUM/Sources/Integrations/FlagEvaluationReceiver.swift
  DatadogRUM/Tests/Integrations/FlagEvaluationReceiverTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Remove unused isRUMMessage extension
  DatadogFlags/Tests/Client/FlagsClientTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Wait for WebView resources in scenario test
  IntegrationTests/IntegrationScenarios/Scenarios/WebView/WebViewScenarioTest.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

[RUM-15810] Apply new remote config schema for trace propagation
  DatadogInternal/Sources/Models/RC/RCDataModels.swift
  DatadogRUM/Sources/RUMConfiguration+RemoteConfiguration.swift
  DatadogRUM/Tests/RUMConfiguration+RemoteConfigurationTests.swift
  DatadogRUM/Tests/RUMTests.swift
  DatadogSessionReplay/Sources/SessionReplayConfiguration+RemoteConfiguration.swift
  DatadogSessionReplay/Tests/SessionReplayConfiguration+RemoteConfigurationTests.swift
  TestUtilities/Sources/Mocks/DatadogInternal/RemoteConfigurationMocks.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

fix(sr): register FlutterViewRecorder in Xcode project and fix embedded-content wireframe decode order
  Datadog/Datadog.xcodeproj/project.pbxproj
  DatadogSessionReplay/Sources/Models/SRDataModels.swift
  DatadogSessionReplay/Sources/Recorder/ViewTreeSnapshotProducer/ViewTreeSnapshot/NodeRecorders/FlutterViewRecorder.swift
  api-surface-swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

fix: skip platform download if already installed in AMI
  tools/runner-setup.sh
Due: Tools Tests

fix: also skip visionOS and watchOS platform download if already installed
  tools/runner-setup.sh
Due: Tools Tests

fix: use xcodebuild -showsdks to check if platform SDK is available
  tools/runner-setup.sh
Due: Tools Tests

add git rules override for timeseries pod
  plans/git-rules-pod.md
Due: none

implement TimeseriesEncoder with sorted keys output
  DatadogTimeseries/Sources/DatadogTimeseries/Encoding/TimeseriesEncoder.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/TimeseriesEncoderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

add plan for DatadogTimeseries standalone business logic
  plans/1-plan-business-logic.md
Due: none

add DataProvider protocol and CSVDataProvider with tests
  DatadogTimeseries/Sources/DatadogTimeseries/DataProvider/CSVDataProvider.swift
  DatadogTimeseries/Sources/DatadogTimeseries/DataProvider/DataProvider.swift
  DatadogTimeseries/Tests/DatadogTimeseriesTests/CSVDataProviderTests.swift
Due: ENV check, Dependency Cache, Lint, Unit Tests (iOS), Unit Tests (tvOS), UI Tests, SR Snapshot Tests, Smoke Tests (iOS), Smoke Tests (tvOS), SPM Build (Swift 5.10), SPM Build (Swift 5.9)

Path conditions:
  ENV check: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Dependency Cache: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Lint: (any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *) or (any of: BenchmarkTests/**/*)
  Unit Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Unit Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  UI Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SR Snapshot Tests: any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Tools Tests: any of: tools/**/*, Makefile, .gitlab-ci.yml
  Benchmark Build: any of: BenchmarkTests/**/*
  Smoke Tests (iOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  Smoke Tests (tvOS): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.10): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
  SPM Build (Swift 5.9): any of: Datadog*/**/*, IntegrationTests/**/*, SmokeTests/**/*, TestUtilities/**/*, *
